﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <title>CITG</title>
    <link href="~/css/AnimBoxCSS.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
            width: 100%;
            min-width: 290px;
            overflow-x: hidden;
        }

        body {
            color: #ffffff;
            margin: 0;
            padding: 0;
            background-color: #fff;
            font-family: 'Montserrat', arial;
        }
    </style>

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body>

    <div class="mobile-menu">

        <h3 id="logo-mainpage">
            CITG
        </h3>

        <div class="icon">
            <div></div>
            <div></div>
            <div id="icon-div"></div>
        </div>
    </div>

    <ul id="menu">
        <li>
            <p id="mainpage" class="active">Главная</p>
        </li>

        <li>
            <p id="projects">Наши проекты</p>
        </li>

        <li>
            <p id="about">О нас</p>
        </li>

        <li class="contacts">
            <p id="contacts">Контакты</p>
        </li>

        <li class="blog">
            <p id="blog">Блог</p>
        </li>
    </ul>

    <div class="full-contend">

        <div id="content">
            @RenderBody()
        </div>

        <div class="dark-line"></div>
    </div>
    <style>
        section.section {
            display: block;
            width: 100%;
            height: 102.4vh;
            padding: 2.4vh 0 0 0;
        }

        .footer {
            color: #aaa;
            width: 100%;
            height: 18vw;
            background-color: #2f2f2f;
            position: relative;
        }

        div.footer-block {
            width: 17%;
            height: 100%;
            margin-left: 12.25%;
            float: left;
            position: relative;
        }

            div.footer-block > img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                height: 60%;
            }
        /*scroll*/
        div.scroll {
            position: fixed;
            bottom: 20px;
            right: 2vw;
            color: #333;
            padding: 2vw;
            width: 20vw;
            font-size: 2vw;
            text-align: center;
            border-radius: 5px;
            background-color: #eeeeee66;
            z-index: 100;
            display: none;
        }

            div.scroll:hover {
                cursor: pointer;
            }

        #mainpage.active, #projects.active, #about.active, #contacts.active {
            background-color: rgba(51, 51, 51, 0.9);
        }

        .mobile-menu {
            height: 14.9vmin;
            background-color: #222;
            position: fixed;
            z-index: 12;
            top: 0;
            width: 100%;
        }

            .mobile-menu > h3 {
                position: absolute;
                z-index: 1;
                font-size: 7vmin;
                padding: 3.4vmin;
                margin: 0px;
                
            }

            .mobile-menu > div.icon {
                background-color: #222;
                z-index: 2;
                padding: 4vmin;
                position: absolute;
                top: 0;
                right: 0;
                height: 6.85vmin;
                width: 6.85vmin;
            }

            .mobile-menu div.icon > div {
                width: 100%;
                height: 20%;
                background-color: #fff;
                margin-bottom: 1.2vmin;
                border-radius: 25vmin;
                float: right;
            }

                .mobile-menu div.icon > div#icon-div {
                    width: 100%;
                    transition: 0.4s;
                }

                    .mobile-menu div.icon > div#icon-div.active {
                        width: 70%;
                        transition: 0.4s;
                    }



            .mobile-menu div.icon.active {
                background-color: #333;
            }

            ul#menu {
                position: fixed;
                z-index: 11;
                width: 100%;
                padding: 0;
                background-color: rgba(34, 34, 34, 0.9);
                opacity: 0;
                overflow: hidden;
                transform: translateY(-50vmin);
                transition: opacity 0.3s, transform 0.3s;
            }

                ul#menu.active {
                    overflow: visible;
                    opacity: 1;
                    transform: translateY(13vmin);
                    transition: opacity 0.3s, transform 0.3s;
                }

                ul#menu > li {
                    list-style-type: none;
                    text-align: center;
                }

                    ul#menu > li:active {
                        background-color: rgba(34, 34, 34, 0.9);
                        list-style-type: none;
                        text-align: center;
                    }

                    ul#menu > li > p {
                        margin: 0;
                        padding: 30px 0;
                        font-size: 4vmin;
                    }
    </style>

    <script src="~/js/frontscripts/AnimBoxJS.js"></script>
    <script src="~/js/frontscripts/MainJS.js"></script>

    <script>

        $("#mainpage").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/", "#mainpage");
        });

        $("#logo-mainpage").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/", "#mainpage");
        });

        $("#projects").click(function () {
            $("#svgload").addClass("active");
            $AjaxRequest = false;
            ajaxlinkto("/Projects", "#projects");
        });

        $("#about").click(function () {
            $("#svgload").addClass("active");
            $AjaxRequest = false;
            ajaxlinkto("/About", "#about");
        });

        $("#contacts").click(function () {
            $("#svgload").addClass("active");
            $AjaxRequest = false;
            ajaxlinkto("/Contacts", "#contacts");
        });

        $("#blog").click(function () {
            $("#svgload").addClass("active");
            $AjaxRequest = false;
            ajaxlinkto("/Blog", "");
        });

        $("div.icon").click(function () {
            DropDownMenu();
        });

        $(document).click(function () {
            if ($(".icon").hasClass("active")) {
                DropDownMenu();
            }
        });

        $(".mobile-menu").click(function (e) {
            e.stopPropagation();
            return false;
        });

        function DropDownMenu() {
            if (document.getElementsByClassName("icon")[0].classList.contains("active")) {
                document.getElementsByClassName("icon")[0].classList.remove("active");
                document.getElementById("icon-div").classList.remove("active");
                document.getElementById("menu").classList.remove("active");
            }
            else {
                document.getElementsByClassName("icon")[0].classList.add("active");
                document.getElementById("icon-div").classList.add("active");
                document.getElementById("menu").classList.add("active");
            }
        }
    </script>
</body>
</html>
