﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <base target="_blank" />
    <title>CITG</title>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            min-width: 290px;
            overflow-x: hidden;
        }
        .textIndent{
            text-indent: 15px;
        }

        body {
            color: #ffffff;
            margin: 0;
            padding: 0;
            background-color: #d4d4d4;
            font-family: 'Montserrat', arial;
            -moz-user-select: none;
        }

        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        ::-webkit-scrollbar-button {
            height: 0;
            width: 0;
        }

        ::-webkit-scrollbar-thumb {
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            background-color: #ff6a00;
        }

        #conteiner-preloader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            z-index: 10001;
            transition: 1.4s all;
            opacity: 1;
        }

        .elements-preloaders {
            position: absolute;
            top: 45%;
            left: 45%;
            border-top: solid #ffba15;
            border-radius: 50%;
            opacity: 1;
        }

        .first-element-preloader {
            height: 12vw;
            width: 12vw;
            animation: 2s elementsPreloader infinite linear;
            transition: 0.7s all;
        }

        .second-element-preloader {
            height: 10.5vw;
            width: 10.5vw;
            animation: 1.4s elementsPreloader infinite linear;
            transition: 1s all;
        }

        .third-element-preloader {
            height: 9vw;
            width: 9vw;
            animation: 0.6s elementsPreloader infinite linear;
            transition: 2s all;
        }

        @@keyframes elementsPreloader {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/frontscripts/AnimBoxJS.js"></script>
    <script src="~/js/frontscripts/MainJS.js"></script>
</head>
<body onselectstart="return false">
    <div id="conteiner-preloader">
        <div class="first-element-preloader elements-preloaders"></div>
        <div class="second-element-preloader elements-preloaders"></div>
        <div class="third-element-preloader elements-preloaders"></div>
    </div>
    <ul class="menu">
        <li class="brand">
            <h3 id="logo-mainpage">CITG</h3>
        </li>

        <li>
            <p id="mainpage" class="active">Главная</p>
        </li>

        <li>
            <p id="projects">Наши проекты</p>
        </li>

        <li>
            <p id="about">О нас</p>
        </li>

        <li>
            <p id="contacts">Контакты</p>
        </li>
        <li class="login">
            @if (string.IsNullOrEmpty(User.Identity.Name))
            {
                <p id="login">Войти</p>
            }
            else
            {
                <p id="account">@User.Identity.Name</p>
                <p id="logout">Выйти</p>
            }
        </li>
    </ul>

    <div class="full-contend">

        <div id="content">
            @RenderBody()
        </div>

        <div class="footer-container">
            <div class="double-footer">
                <div class="footer-nav">
                    <ul>
                        <li><p id="nav-mainpage">Главная</p></li>
                        <li><p id="nav-projects">Наши проекты</p></li>
                        <li><p id="nav-about">О нас</p></li>
                        <li><p id="nav-contacts">Контакты</p></li>
                        <li><p id="nav-blog">Блог</p></li>
                    </ul>
                </div>

                <div class="footer-contacts">
                    <ul>
                        <li><p>+7 (863) 272-62-28</p></li>
                        <li><p>г. Ростов-на-Дону</p></li>
                        <li><p>CenterIT@gmail.com</p></li>

                    </ul>
                </div>
            </div>
            <div class="single-footer">
                <h5>Мы в социальных сетях</h5>
                <br />

                <a href="https://vk.com/sandfox.team" title="Вконтакте">
                    <img src="~/css/image/vk.png" />
                </a>

                <a href="https://www.instagram.com/sandfox.team/" title="Instagram">
                    <img src="~/css/image/instagram.png" />
                </a>

                <a href="https://www.youtube.com/channel/UC97eKw7OTTRO3KTgzFqgbFQ/" title="YouTube">
                    <img src="~/css/image/youtube.png" />
                </a>
            </div>
        </div>


        <div class="dark-line"></div>
    </div>

    <div class="scroll" id="scroll">Наверх</div>

    <style>
        section.section {
            display: block;
            width: 100%;
            height: 100.0vh;
            padding: 5vh 0;
        }

        div.footer-container {
            padding-top: 2vh;
            display: flex;
            color: #aaa;
            min-height: 10vw !important;
            background-color: #333;
            overflow:hidden;
        }

        div.single-footer {
            text-align: center;
            width: 20%;
            margin:auto 0;
        }

        div.double-footer {
            float: left;
            text-align: center;
            width: 70%;
        }

        div.finaly-block {
            color: #aaa;
            height: 5vw;
            background-color: #f2994a;
        }

        div.single-footer > h5 {
            padding: 0 0 0 0 !important;
            margin: 0;
        }

        div.single-footer > a {
            margin: 0 1vw;
            text-decoration: none;
        }

            div.single-footer > a > img {
                width: 2vw;
                max-width: 100px;
            }

                div.single-footer > a > img:hover {
                    filter: drop-shadow(0 0 2px #fff);
                }

        div.footer-nav {
            position:relative;
            text-align: center;
            padding: 0.4vw 0;
        }
        div.footer-nav::after{
            content:'';
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            height:1px;
            background:#a1a1a1ff;
        }
        div.footer-nav::before{
            content:'';
            position:absolute;
            right:0;
            top:0;
            width:1px;
            height:200%;
            background:radial-gradient(#a1a1a1ff,#a1a1a100);
        }

            div.footer-nav > ul {
                list-style: none;
                padding-left: 0;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
            }

                div.footer-nav > ul > li {
                    display: inline-block;
                    padding: 0;
                    margin: 0 2vw;
                    font-size: 1vw;
                }

                    div.footer-nav > ul > li > p {
                        padding: 2vh 1vw 0 1vw;
                        margin: 0;
                    }
        div.footer-contacts > ul {
            list-style: none;
            padding-left: 0;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }

            div.footer-contacts > ul > li {
                display: inline-block;
                padding: 0;
                margin: 0 1vw;
                font-size: 1vw;
            }

                div.footer-contacts > ul > li > p {
                    padding: 0 2vw;
                    margin: 0;
                }

        div.footer-nav > ul > li > p:hover {
            cursor: pointer;
            color: #fff;
        }

        div.finaly-block {
            color: #333;
            text-align: center;
            padding-top: 4vh;
        }

        /*scroll*/
        div.scroll {
            position: fixed;
            bottom: 20px;
            right: 3vw;
            color: #a1a1a1;
            padding: 1vw;
            width: 6vw;
            font-size: 1vw;
            text-align: center;
            border-radius: 5px;
            background: #222;
            z-index: 9;
            display: none;
            cursor: pointer;
        }

            div.scroll:hover {
                background: #222;
                box-shadow: 0 0 1px #f2994a, 0 0 3px #f2994a, 0 0 4px #f2994a, 0 0 10px #f2994a;
                color:#f2994a;
            }

        /* cyrillic-ext */
        @@font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
        }
        /* cyrillic */
        @@font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }
        /* vietnamese */
        @@font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
            unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
        }
        /* latin-ext */
        @@font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @@font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        a.link {
            text-decoration: none;
            color: #333;
        }

        ul.menu {
            margin-top: 0;
            list-style-type: none;
            margin-right: 6px;
            padding: 0;
            /*overflow: hidden;*/
            background-color: #333333AA;
            position: fixed;
            top: 0;
            z-index: 11;
            width: 100%;
            /*width: calc(100% - 6px);*/
        }

            ul.menu > li:hover {
                cursor: pointer;
            }

            ul.menu > li > p {
                content: '';
                transition: transform .5s ease;
                float: left;
                padding-left: 1vw;
                padding-right: 1vw;
            }



            ul.menu > li.brand {
                float: left;
                padding-left: 1vw;
                padding-right: 2vw;
            }

                ul.menu > li.brand :hover {
                    color: #f2994a;
                }

            ul.menu > li.login {
                float: right;
                padding-left: 2vw;
                padding-right: 1vw;
            }

            ul.menu > li > h3 {
                font-size: 1.8vw;
                padding: 0.5vw;
                margin: 0px;
            }

        #logo-mainpage::after, #logo-mainpage::before {
            position: absolute;
            content: 'Центр IT притяжения';
            text-align: center;
            width: 320px;
            height: 30px;
            font-size: 26px;
            color: #f2994a;
            background: #333A;
            border-radius: 2px;
            left: 1vw;
            top: 120%;
            opacity: 0;
            transform: translateX(-150%);
            transition: 0.4s all;
            padding-bottom: 1px;
            font-weight: 100;
        }

        #logo-mainpage:hover::after, #logo-mainpage:hover::before {
            opacity: 1;
            transform: translateX(0%);
            transition: 0.4s all;
        }

        #logo-mainpage::before {
            content: "Center IT gravity";
            transform: translate(-150%,30px);
            transition: 0.4s all 0.1s;
            top: 125%;
        }

        #logo-mainpage:hover::before {
            transform: translate(0%,30px);
            transition: 0.4s all 0.1s;
        }

        ul.menu > li > p {
            display: block;
            font-size: 0.9vw;
            padding: 1vw;
            margin: 0px;
        }

            ul.menu > li > p:hover {
                color: #f2994a;
            }

            ul.menu > li > p.active {
                color: #f2994a;
                border-bottom: 2px solid #f2994a;
            }

        .padding {
            padding-top: 200px;
            padding-bottom: 200px;
        }
    </style>


    <script>
        $("#logo-mainpage").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/Blog", "");
        });

        $("#mainpage").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/", "#mainpage");
        });

        $("#projects").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/Projects", "#projects");
        });

        $("#about").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/About", "#about");
        });

        $("#contacts").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/Contacts", "#contacts");
        });

        $("#login").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/Login", "#login");
        });

        $("#logout").click(function () {
            $.ajax({
                url: "/Account/Logout",
                type: "POST",
                success: function () {
                    window.location.href = "/";
                },
            });
        });

        $("#account").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/Account", "#account");
        });

        $("#nav-mainpage").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/", "#mainpage");
        });

        $("#nav-projects").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/Projects", "#projects");
        });

        $("#nav-about").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/About", "#about");
        });

        $("#nav-contacts").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/Contacts", "#contacts");
        });

        $("#nav-blog").click(function () {
            $AjaxRequest = false;
            ajaxlinkto("/Blog", "");
        });
    </script>

    @*<div>
            <div></div>
            <div>
                <div></div>
                <div></div>
            </div>
        </div>*@

    <script>


            $('body').scroll(function () {
                if ($('body').scrollTop() > 400) {
                        $('#scroll').css("display", "block");
                } else {
                        $('#scroll').css("display", "none");
                }
            });
            $('#scroll').click(function () {
                        $('body,html').animate({
                            scrollTop: 0
                        }, 400);
                    return false;
                });
    </script>

    <script>

                //var idProject = {
                //    isClick: false,
                //    id: 0
                //};

                //try {
                //    setTimeout((() => {
                //
                //        //document.querySelector('.gallery-element').addEventListener('click', () => {
                //        //    $AjaxRequest = false;
                //        //    ajaxlinkto("/Projects", "#projects");
                //        //    setTimeout((() => {
                //        //        document.querySelector('.Page_project_box_second-elements').dispatchEvent(new Event('click'));
                //        //    }), 1000);
                //        //});
                //
                //        var listProjectIndexPage = document.querySelectorAll('.gallery-element');
                //
                //        for (var i = 0; i < listProjectIndexPage.length; i++) {
                //            ((index) => {
                //                listProjectIndexPage[index].addEventListener('click', () => {
                //                    $AjaxRequest = false;
                //                    ajaxlinkto("/Projects", "#projects");
                //                    //event;
                //                    setTimeout((() => {
                //                        document.querySelectorAll('.Page_project_box_second-elements')[index].dispatchEvent(new Event('click'));
                //                    }), 1000);
                //                });
                //            })(i);
                //        }
                //
                //    }), 1000);
                //}
                //catch (msg) {
                //    alert("ERROR " + msg);
                //}


    </script>
    </body>
</html>