﻿#conteiner-preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 10001;
    transition: 1.4s all;
    opacity: 1;
}

.elements-preloaders {
    position: absolute;
    top: 45%;
    left: 45%;
    border-top: solid #ffba15;
    border-radius: 50%;
    opacity: 1;
}

.first-element-preloader {
    height: 12vw;
    width: 12vw;
    animation: 2s elementsPreloader infinite linear;
    transition: 0.7s all;
}

.second-element-preloader {
    height: 10.5vw;
    width: 10.5vw;
    animation: 1.4s elementsPreloader infinite linear;
    transition: 1s all;
}

.third-element-preloader {
    height: 9vw;
    width: 9vw;
    animation: 0.6s elementsPreloader infinite linear;
    transition: 2s all;
}

@keyframes elementsPreloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*end preloader animation*/
/*begin help orange block*/

#orange-block {
    height: 6.67%;
    background-color: #f2994A;
    position: absolute;
    top: 93.33%;
    transition: 0.6s all;
}

.orange-block-started {
    left: 15.4%;
    width: 3.47%;
}

.orange-block-project {
    left: 22.8%;
    width: 6.15%;
}

.orange-block-info-we {
    left: 33.8%;
    width: 2.43%;
}

.orange-block-contect {
    left: 91.4%;
    width: 6.79%;
}

/*logo CITG*/
.CITG-logo-conteiner {
    position: absolute;
    width: 80vmin;
    height: 20vmin;
}

#CITG-logo-image {
    height: 100%;
    transition: 0.8s all;
}

#CITG-logo-text {
    font-size: 5.6vmin;
    font-weight: 900;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 20%;
    color: #ffffff;
    transform: translate(0,-100%);
    transition: 0.9s all;
}
/*CITG logo+*/
#CITG-logo-nextelement-green-text {
    position: absolute;
    top: 35vh;
    width: 30vw;
    max-width: 120vh;
    margin: 0;
    font-size: 3.7vmin;
    font-weight: 600;
    color: #27ae60;
    transition: 1s all
}

#CITG-logo-big-text {
    position: absolute;
    top: 58vh;
    width: 50vw;
    max-width: 100vh;
    margin: 0;
    font-size: 1.6vmin;
    font-weight: 500;
    transition: 1.1s all
}

.CITG-logo-ITU-RGUPS-conteiner {
    position: absolute;
    top: -0.5vw;
    right: 0.5vw;
    width: 16vw;
    max-width: 60vh;
}

#CITG-logo-ITU {
    max-width: 50%;
    max-height: 100%;
    float: left;
    margin-left: auto;
    transition: 0.8s all;
}

#CITG-logo-RGUPS {
    max-width: 50%;
    max-height: 100%;
    transition: 0.8s all;
}

.CITG-button-for-initial-illustration-of-us{

}
#CITG-button-for-initial-illustration-of-us-we-project{

}
#CITG-button-for-initial-illustration-of-us-info-we {

}

