﻿html, body {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #000000;
    color: #ffffff;
    cursor: default;
    font-family: 'Montserrat', arial;
}

::-webkit-scrollbar {
    width: 0px;
}

.dark-line {
    width: 100%;
    height: 3.5vh;
}

.fixed-header-multy-page {
    position: fixed;
    width: 100%;
    height: 4vw;
    background: rgba(47, 47, 47, 0.6);
    top: 3.5vh;
    z-index: 9999;
}

.OH {
    overflow: hidden;
}

.O0 {
    opacity: 0;
}

.PA {
    position: absolute;
}

.PR {
    position: relative
}

h4 {
    font-size: 0.9vw;
    font-weight: 500;
    margin: 0;
    top: 50%;
    transform: translate(0,-50%);
}

#fixed-header-multy-page-button-started {
    left: 15.4%;
}

#fixed-header-multy-page-button-project {
    left: 22.8%;
}

#fixed-header-multy-page-button-info-we {
    left: 33.8%;
}

#fixed-header-multy-page-button-contect {
    left: 91.4%;
}

#fixed-header-multy-page-button-image-SandFox-href-this {
    top: 5%;
    left: 6.9%;
    height: 83%;
}

#fixed-header-multy-page-button-image-contect-goto-contect {
    top: 25.5%;
    left: 96.3%;
    height: 49%;
}

.full-contend {
    height: auto
}

.multy-page-body-common-fields {
    left: 0;
    top: 3.5vh;
    width: 100%;
    opacity: 0;
    transform: translate(-200%,-999999px);
    height: 0;
}

#multy-page-body-started {
}

#multy-page-body-project {
}

#multy-page-body-info-we {
}

#multy-page-body-contect {
}

.multy-page-body-activ {
    opacity: 1;
    z-index: 1;
    transform: translate(0,0);
    height: auto;
}

/*begin CSS for started page*/

.animathion-CITG-logo-text-conteiner {
    position: absolute;
    left: 2vw;
    top: 5vw;
    height: 90vh;
    width: 98vw;
}

.initial-illustration-of-us {
    position: relative;
    width: 100%;
    height: 96vh;
    background-image: url(image/mathis-lesieur-jpeg-4k.jpg);
}

.box-shadow-down-initial-image-of-us {
    height: 0.7vw;
    width: 100%;
    background: linear-gradient(#000000,#ffffff);
}

.we-will-do-for-you {
    height: 12vw;
    width: 100%;
    position: relative;
    background-color: #ffffff;
}

.text-box-we-will-do-for-you {
    text-align: center;
    font-size: 2vw;
    font-weight: 300;
    color: #000000;
    margin: 0;
    transform: translate(0,120%);
}

.sub-text-box-we-will-do-for-you {
    text-align: center;
    font-size: 1.1vw;
    font-weight: 300;
    color: #999999;
    margin: 0;
    transform: translate(0,120%);
}

.elements-info-we-will-do-for-you {
    width: 100%;
    height: 40vw;
    position: relative;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
}

.element-info-we-will-do-for-you-all {
    width: 6.95vw;
    box-shadow: rgba(0,0,0,0.25) 0.2vw 0.2vw 0.2vw;
}

#element-info-we-will-do-for-you-number000 {
    margin-left: 16.95%;
}

#element-info-we-will-do-for-you-number001 {
    margin-left: 2.922%;
}

#element-info-we-will-do-for-you-number002 {
    margin-left: 2.922%;
}

#element-info-we-will-do-for-you-number003 {
    margin-left: 2.922%;
}

#element-info-we-will-do-for-you-number004 {
    margin-left: 2.922%;
}

#element-info-we-will-do-for-you-number005 {
    margin-left: 2.922%;
}

#element-info-we-will-do-for-you-number006 {
    margin-left: 2.922%;
}

.box-button-info-we-will-do-for-you {
    height: 10vw;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

#button-info-we-will-do-for-you {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    height: 3vw;
    width: 16.5vw;
    background-color: #27ae60;
    border-radius: 0.2vw;
}

.text-button-info-we-will-do-for-you {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.9vw;
    margin: 0;
    color: #000000;
}

.proto-info-we-in-started-page {
    background-color: #c4c4c4;
    width: 100%;
    height: 12vw;
    position: relative;
}

.proto-info-we-in-started-page-text-we {
    position: absolute;
    color: #000000;
    font-size: 2vw;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    margin: 0;
}

.proto-info-we-in-started-page-text-sub-info {
    position: absolute;
    color: #000000;
    font-size: 0.8vw;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
    margin: 0;
    text-align: center;
}

.three-main-specialties-proto-info-we-in-started-page {
    background-color: #c4c4c4;
    width: 100%;
    height: 5vw;
    position: relative;
}

.three-main-specialties-proto-info-we-in-started-page-blick-object {
    height: 100%;
    width: 100%;
    transform: translate(-150%,0);
    clip-path: polygon(0 0,85% 0,100% 100%,0 100%);
    background: linear-gradient(100deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.5) 35%, rgba(255,255,255,1) 100%);
    transition: 0.32s all;
}

.three-main-specialties-proto-info-we-in-started-page-general {
    transform: translate(-50%,-50%);
    position: absolute;
    height: 60%;
    width: 18%;
    top: 50%;
    border: 0.2vw #000000 solid;
    border-radius: 0.3vw;
    color: #000000;
    overflow:hidden;
}

#three-main-specialties-proto-info-we-in-started-page-first-button {
    left: 20%;
}

#three-main-specialties-proto-info-we-in-started-page-second-button {
    left: 50%;
}

#three-main-specialties-proto-info-we-in-started-page-third-button {
    left: 80%;
}

.three-general-p-inserted-obj {
    margin: 0;
    font-size: 1.3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
}

.conteiner-main-ptr-we-classes-info-we {
    width: 100%;
    height: 43vw;
    background-color: #c4c4c4;
    position: relative;
}

.general-three-elements-we-list {
    width: 26.22%;
    height: 100%;
    position: absolute;
    background-color: #141b24;
    top: 0;
    transform: translate(-50%,0);
}

#element-we-list-modelers {
    left: 20%;
}

#element-we-list-coders {
    left: 50%;
}

#element-we-list-artists {
    left: 80%;
}

.general-three-elements-we-list-image {
    width: 125%;
    position: absolute;
    left: -12.5%;
    top: -5%;
}

.we-projects-empty-element {
    width: 100%;
    height: 15vw;
    background-color: #c4c4c4;
    position: relative;
}

.we-projects-empty-element-text {
    margin: 0;
    position: absolute;
    font-size: 3vw;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
    color: #000000;
}

.we-projects-element-list-complete {
    background-color: #f2994a;
    position: relative;
    width: 100%;
}

#we-projects-element-list-complete {
    width: 63%;
    margin: 2.6vw 0px;
    box-shadow: rgba(0,0,0,0.25) 0.35vw 0.35vw 0px 0px;
}

.we-projects-element-list-complete-title-text {
    left: 67%;
    top: 2.7vw;
    color: #000000;
    font-weight: 300;
    font-size: 3vw;
    margin: 0;
}

.we-projects-element-list-complete-text {
    left: 67%;
    top: 13vw;
    color: #000000;
    font-size: 1.1vw;
    margin: 0;
    font-weight: normal;
    max-width: 25%;
}

#we-projects-element-list-complete-button {
    position: absolute;
    left: 76%;
    top: 37vw;
    height: 3.2vw;
    width: 16vw;
    border: 0.2vw solid #000000;
    border-radius: 0.2vw;
}

.we-projects-element-list-complete-button-image {
    left: 1vw;
    top: 50%;
    transform: translate(0,-50%);
    height: 2.8vw;
}

.we-projects-element-list-complete-button-text {
    left: 5.5vw;
    top: 50%;
    transform: translate(0,-50%);
    color: #000000;
    font-size: 1.4vw;
    font-weight: 800;
    margin: 0;
}

#we-project-next-page {
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(0,-50%);
    color: #000000;
    height: 4vw;
}

.empty-element-bottom-started-page {
    width: 100%;
    height: 15vw;
    background-color: #c4c4c4;
}

.empty-element-bottom-started-page-text {
    margin: 0;
    color: #6b6b6b;
    width: 40%;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 1vw;
}
/*end CSS for started page*/
/*begin CSS for project page*/

.initial-project-of-us {
    position: relative;
    width: 100%;
    height: 96.5vh;
    background-color: #000000;
}

.initial-image-of-us {
    width: 217.125vh;
    min-width: 100%;
    opacity: 0.7;
}

.we-projects-list-complete-project-page {
    width: 100%;
    height: 78vw;
    background-color: #f3f3f3;
}

.we-project-element-plus-link-project-page-complete {
    width: 21%;
    height: 29vw;
    background-color: #c4c4c4;
    transition: 0.3s all;
}

#we-project-element-plus-link-project-page000 {
    left: 3.2%;
    top: 7vw;
}

#we-project-element-plus-link-project-page001 {
    left: 27.4%;
    top: 7vw;
}

#we-project-element-plus-link-project-page010 {
    left: 51.6%;
    top: 7vw;
}

#we-project-element-plus-link-project-page011 {
    left: 75.8%;
    top: 7vw;
}

#we-project-element-plus-link-project-page100 {
    left: 3.2%;
    top: 38vw;
}

#we-project-element-plus-link-project-page101 {
    left: 27.4%;
    top: 38vw;
}

#we-project-element-plus-link-project-page110 {
    left: 51.6%;
    top: 38vw;
}

#we-project-element-plus-link-project-page111 {
    left: 75.8%;
    top: 38vw;
}

.we-project-element-plus-link-project-page-shadow {
    box-shadow: rgba(0,0,0,0.25) 0.4vw 0.4vw 0.3vw 0px;
}

.we-project-element-project-page {
    margin: 0;
    color: #6b6b6b;
    width: 20%;
    left: 50%;
    top: 72vw;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 1.2vw;
}
/*end CSS for project page*/
/*begin CSS for info we page*/
.conteiner-for-command-list-info-we-page {
    height: 57.9vw;
    width: 100%;
}

.conteiner-for-coders-list-info-we-page {
    background-color: #e0e0e0;
}

.conteiner-for-modelers-list-info-we-page {
    background-color: #cdcdcd;
}

.conteiner-for-artists-list-info-we-page {
    background-color: #bebcbc;
}

.modelers-rotate-image-info-we-page {
    width: 30%;
    transform: rotate(-4.71deg);
    left: -8%;
    bottom: -4%;
}

.artists-rotate-image-info-we-page {
    width: 30%;
    transform: rotate(-16.22deg);
    right: -12%;
    bottom: -16%;
}

.text-we-comand-info-we-page {
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 300;
    font-size: 2.5vw;
    margin: 0;
    color: #141b24;
}

.text-coders-modelers-artists-we-comand-info-we-page {
    top: 18%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 300;
    font-size: 1.4vw;
    width: 19%;
    text-align: center;
    margin: 0;
    color: #999999;
}

.orange-hexagon-blok {
    height: 16vw;
    width: 14vw;
    background: rgba(242,153,74,0.8);
    transform: translate(-50%,-50%);
    top: 55%;
    clip-path: polygon(0 25%,50% 0,100% 25%,100% 75%,50% 100%,0 75%);
    z-index: 5;
}

.my-shadow-blok-mark00 {
    position: absolute;
    height: 4.25vw;
    width: 14vw;
    background-color: #000000;
    top: 61.9%;
    left: 18%;
    clip-path: polygon(0 0,50% 4vw,100% 0,100% 0.25vw,50% 100%,0 0.25vw);
}

.my-shadow-blok-mark01 {
    position: absolute;
    height: 8.4vw;
    width: 28vw;
    background-color: #000000;
    top: 68.8%;
    left: 36%;
    clip-path: polygon(0 0,50% 8vw,100% 0,100% 0.4vw,50% 100%,0 0.4vw);
}

.my-shadow-blok-mark10 {
    position: absolute;
    height: 4.25vw;
    width: 14vw;
    background-color: #000000;
    top: 61.9%;
    left: 68%;
    clip-path: polygon(0 0,50% 4vw,100% 0,100% 0.25vw,50% 100%,0 0.25vw);
}

.orange-hexagon-blok-prev {
    left: 25%;
}

.orange-hexagon-blok-next {
    left: 75%;
}

.orange-hexagon-blok-main-center {
    left: 50%;
    height: 32vw;
    width: 28vw;
    background: rgba(242,153,74,0.8);
    transform: translate(-50%,-50%);
    top: 55%;
    clip-path: polygon(0 25%,50% 0,100% 25%,200% 25%,200% 75%,100% 75%,50% 100%,0 75%,-100% 75%,-100% 25%);
    z-index: 2;
}

.orange-hexagon-blok-main-center-image {
    width: 146%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: 0.2s all;
    z-index: 5;
}

.orange-hexagon-blok-main-center-image-null {
    width: 73%;
    left: 39vw;
    z-index: 3;
    opacity: 0;
}

.orange-hexagon-blok-main-center-image-null-r {
    width: 73%;
    left: -11vw;
    z-index: 3;
    opacity: 0;
}

.text-we-comand-main-info-info-we-page {
    top: 86%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 1.6vw;
    font-weight: 300;
    margin: 0;
    color: #000000;
    width: 40vw;
    text-align: center;
}

.text-we-comand-list-skill-info-we-page {
    top: 94%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 1.6vw;
    font-weight: 500;
    margin: 0;
    color: #27ae60;
    text-align: center;
}
/*end CSS for info we page*/
/*begin CSS for contect page*/
.conteiner-director-CITG {
    width: 100%;
    height: 60vw;
    background-color: #000000;
}

.ava-director-CITG {
    left: 50%;
    height: 24vw;
    width: 21vw;
    background: rgba(242,153,74,0.8);
    transform: translate(-50%,-50%);
    top: 30%;
    clip-path: polygon(0 25%,50% 0,100% 25%,100% 75%,50% 100%,0 75%);
    z-index: 2;
}

#image-ava-director-CITG {
    width: 146%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}

.director-FIO-text {
    top: 52%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 2vw;
    font-weight: 500;
    margin: 0;
    color: #ffffff;
    text-align: center;
}

.director-center-IT-gravity {
    top: 57%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 1.8vw;
    font-weight: 500;
    margin: 0;
    color: #27ae60;
    text-align: center;
}

.director-contect-tel-text {
    top: 72%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 1.3vw;
    font-weight: 500;
    margin: 0;
    color: #999999;
    text-align: center;
}

.director-contect-tel {
    top: 76%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 1.5vw;
    font-weight: 500;
    margin: 0;
    color: #f2f2f2;
    text-align: center;
}

.director-contect-email-text {
    top: 83%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 1.3vw;
    font-weight: 500;
    margin: 0;
    color: #999999;
    text-align: center;
}

.director-contect-email {
    top: 87%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 1.5vw;
    font-weight: 500;
    margin: 0;
    color: #f2f2f2;
    text-align: center;
}
/*end CSS for contect page*/
/*footer*/
.footer {
    width: 100%;
    height: 20vw;
    background-color: #2f2f2f;
    position: relative;
}

.p-footer-00, .p-footer-01, .p-footer-02, .p-footer-03, .p-footer-04, .p-footer-05, .p-footer-06, .p-footer-07, .p-footer-08, .p-footer-09, .p-footer-10, .p-footer-11, .p-footer-12, .p-footer-13, .p-footer-14, .p-footer-15, .p-footer-16, .p-footer-17, .p-footer-18 {
    position: absolute;
    font-size: 1vw;
    color: #7c7c7c;
    text-align: left;
}

.p-footer-00 {
    top: 17%;
    left: 17%;
}

.p-footer-01 {
    top: 30%;
    left: 17%;
}

.p-footer-02 {
    top: 40%;
    left: 17%;
}

.p-footer-03 {
    top: 50%;
    left: 17%;
}

.p-footer-04 {
    top: 17%;
    left: 34%;
}

.p-footer-05 {
    top: 30%;
    left: 34%;
}

.p-footer-06 {
    top: 40%;
    left: 34%;
}

.p-footer-07 {
    top: 50%;
    left: 34%;
}

.p-footer-08 {
    top: 60%;
    left: 34%;
}

.p-footer-09 {
    top: 17%;
    left: 51%;
}

.p-footer-10 {
    top: 30%;
    left: 51%;
}

.p-footer-11 {
    top: 40%;
    left: 51%;
}

.p-footer-12 {
    top: 50%;
    left: 51%;
}

.p-footer-13 {
    top: 60%;
    left: 51%;
}

.p-footer-14 {
    top: 17%;
    left: 68%;
}

.p-footer-15 {
    top: 30%;
    left: 68%;
}

.p-footer-16 {
    top: 40%;
    left: 68%;
}

.p-footer-17 {
    top: 50%;
    left: 68%;
}

.p-footer-18 {
    top: 60%;
    left: 68%;
}
