﻿
@{
    ViewData["Title"] = "About";

    if(ViewBag.Layout == 1)
    {
        Layout = "_Layout.Mobile";
    }
}

@model List<Users>

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <title>CITG</title>
    <style>
        html, body {
            height: 100%;
            /*width: 100%;*/
            min-width: 240px;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
            font-family: 'Montserrat', arial;
        }
    </style>
</head>
<body>
    <style>
        #WIFM-container {
            margin-top: 15vmin;
            position: relative;
            background-color: #ccc;
            padding: 5vmin 0;
            display: block;
            min-height: 100vh;
            width: 100%;
        }


        .WIFM-el {
            width: 90vmin;
            height: 90vmin;
            background-color: #000000;
            border-radius: 1%;
            margin: 0 auto 5vmin auto;
            position: relative;
            overflow: hidden;
        }


        .WIFM-art {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 100%;
        }


        .WIFM-grad {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 25%;
            background: #333b;
        }


            .WIFM-grad > h5 {
                margin: 0;
                padding: 0;
                position: absolute;
                left: 50%;
                top: 33%;
                font-size: 5vmin;
                font-weight: 100;
                color: #fff;
                transform: translate(-50%,-50%);
            }


            .WIFM-grad > h6 {
                margin: 0;
                padding: 0;
                position: absolute;
                left: 50%;
                top: 66%;
                font-size: 3vmin;
                font-weight: 100;
                color: #fff;
                transform: translate(-50%,-50%);
            }
    </style>

    <div id="WIFM-container">
        @foreach (var item in Model)
        {
        <div class="WIFM-el">
            <img class="WIFM-art" src="~/css/image/SashaArt.png" />
            <div class="WIFM-grad">
                <h5>@item.Name</h5>
                <h6>@item.Role</h6>

            </div>
        </div>
        }

    </div>
</body>
</html>
