﻿
@{
    ViewData["Title"] = "About";
}

@model List<Users>

<div style="height: 3.4vw; background:#000;">

</div>

<style>
    #BACKGROUND_2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        z-index: 0;
    }

    .cl {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }

    @@keyframes a {
        to {
            stroke-dashoffset: -500;
        }
    }
</style>


<style>

    #Page_we_info_box_second-container {
        position: relative;
        overflow: hidden;
        height: 47vw;
        width: 100%;
        overflow: hidden;
        background: #000;
    }

        #Page_we_info_box_second-container > div {
            position: absolute;
        }

    #Page_we_info_box_second-title_text {
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-weight: 300;
        font-size: 1.8vw;
        width: 19%;
        text-align: center;
        margin: 0;
        color: #999999;
        z-index: 1;
        font-weight: 100;
    }

    #Page_we_info_box_second-center_hex {
        left: 50%;
        height: 32vw;
        width: 28vw;
        background: /*rgba(242,153,74,0.95)*/ #232323;
        transform: translate(-50%,-50%);
        top: 55%;
        clip-path: polygon(0 25%,50% 0,100% 25%,100% 75%,50% 100%,0 75%);
        z-index: 4;
    }

    #Page_we_info_box_second-center_shadow_hex {
        height: 32vw;
        width: 28vw;
        clip-path: polygon(0 25%,50% 0,100% 25%,100% 75%,50% 100%,0 75%);
        background: rgb(0,0,0);
        background: /*radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(255,255,255,0) 100%)*/ #34343434;
        left: 51%;
        top: 58%;
        transform: translate(-50%,-50%);
        z-index: 3;
        transition: 0.3s;
    }

    #Page_we_info_box_second-hex_container_L {
        height: 16vw;
        width: 14vw;
        clip-path: polygon(0 25%,50% 0,100% 25%,100% 75%,50% 100%,0 75%);
        background: /*rgba(242,153,74,0.95)*/ #232323;
        left: 25%;
        top: 57%;
        transform: translate(-50%,-50%);
        z-index: 2;
        transition: 0.3s;
        overflow: hidden;
    }

    #Page_we_info_box_second-hex_container_R {
        height: 16vw;
        width: 14vw;
        clip-path: polygon(0 25%,50% 0,100% 25%,100% 75%,50% 100%,0 75%);
        background: /*rgba(242,153,74,0.95)*/ #232323;
        left: 75%;
        top: 57%;
        transform: translate(-50%,-50%);
        z-index: 2;
        transition: 0.3s;
        overflow: hidden;
    }

    #Page_we_info_box_second-hex_shadow_L {
        height: 16vw;
        width: 14vw;
        clip-path: polygon(0 25%,50% 0,100% 25%,100% 75%,50% 100%,0 75%);
        background: rgb(0,0,0);
        background: /*radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(255,255,255,0) 100%)*/ #34343434;
        left: 25%;
        top: 58%;
        transform: translate(-48%,-50%);
        z-index: 1;
        transition: 0.3s;
    }

    #Page_we_info_box_second-hex_shadow_R {
        height: 16vw;
        width: 14vw;
        clip-path: polygon(0 25%,50% 0,100% 25%,100% 75%,50% 100%,0 75%);
        background: rgb(0,0,0);
        background: /*radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(255,255,255,0) 100%)*/ #34343434;
        left: 75%;
        top: 58%;
        transform: translate(-48%,-50%);
        z-index: 1;
        transition: 0.3s;
    }

    #Page_we_info_box_second-hex_container_L > img, #Page_we_info_box_second-hex_container_R > img {
        position: absolute;
        top: 0;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
<style>
    .Page_we_info_box_second-el_list {
        clip-path: polygon(0 25%,50% 0,100% 25%,100% 75%,50% 100%,0 75%);
        position: absolute;
        width: 28vw;
        height: 32vw;
        left: 50%;
        top: 55%;
        transform: translate(-50%,-50%);
        opacity: 0;
        z-index: 0;
        overflow: hidden;
    }

        .Page_we_info_box_second-el_list > img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 100%;
            z-index: 1;
        }

    .Page_we_info_box_second-el_list_active {
        opacity: 1;
        z-index: 5;
        transition: 0.3s;
    }
    /*.Page_we_info_box_second-el_list::after{
            content:"тип знаний";
            position:absolute;
            top:80%;
            left:50%;
            transform:translate(-50%,-50%);
            font-size:1.2vw;
            color:#cdcdcd;
            text-align:center;
            width:50%;
            height:30%;
            text-shadow:2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
            z-index:6;
        }*/
    .Page_we_info_box_second-el_list-tran0 {
        transition: 0s;
    }

    @@keyframes WIS_center_l {
        0% {
            width: 28vw;
            height: 32vw;
            left: 50%;
            top: 55%;
        }

        10% {
            width: 30.8vw;
            height: 35.2vw;
            left: 50%;
            top: 55%;
        }

        90% {
            width: 15.4vw;
            height: 17.6vw;
            left: 75%;
            top: 57%;
        }

        100% {
            width: 14vw;
            height: 16vw;
            left: 75%;
            top: 57%;
        }
    }

    @@keyframes WIS_center_r {
        0% {
            width: 28vw;
            height: 32vw;
            left: 50%;
            top: 55%;
        }

        10% {
            width: 30.8vw;
            height: 35.2vw;
            left: 50%;
            top: 55%;
        }

        90% {
            width: 15.4vw;
            height: 17.6vw;
            left: 25%;
            top: 57%;
        }

        100% {
            width: 14vw;
            height: 16vw;
            left: 25%;
            top: 57%;
        }
    }

    #WIS_noclick {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
</style>
<style>

    #WIS_modal {
        width: 81%;
        height: 81%;
        left: 0%;
        top: 0%;
        background-color: #141b24;
        z-index: 10;
        transition: 0.5s;
        transform: translate(-75%,125%) rotate(90deg);
    }

    #WIS_modal-exit {
        width: 3vw;
        height: 3vw;
        position: absolute;
        top: 0.5vw;
        right: 0.5vw;
    }

    #WIS_modal-exit_1 {
        position: absolute;
        transform: translate(-50%,-50%) rotate(45deg);
        background-color: #999999;
        height: 15%;
        width: 85%;
        left: 50%;
        top: 50%;
        transition: 0.7s;
    }

    #WIS_modal-exit_2 {
        position: absolute;
        transform: translate(-50%,-50%) rotate(-45deg);
        background-color: #999999;
        height: 15%;
        width: 85%;
        left: 50%;
        top: 50%;
        transition: 0.7s;
    }

    #WIS_modal-exit:hover > #WIS_modal-exit_1 {
        background-color: #fe2020;
    }

    #WIS_modal-exit:hover > #WIS_modal-exit_2 {
        background-color: #fe2020;
    }

    #WIS_modal-container_image {
        position: absolute;
        top: 1vw;
        left: 1vw;
        width: 36vw;
        height: 36vw;
        overflow: hidden;
    }

    #WIS_modal-image {
        height: 100%;
    }

    #WIS_modal-back_container {
        z-index: -1;
        opacity: 0.1;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }

    #WIS_modal-back_image {
        position: absolute;
        left: 0;
        top: 0;
        min-height: 100%;
        min-width: 100%;
    }

    #WIS_modal-name {
        position: absolute;
        top: 6%;
        left: 73%;
        transform: translateX(-50%);
        text-align: left;
        font-size: 2.3vw;
        color: #cdcdcd;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    #WIS_modal-role {
        position: absolute;
        top: 10%;
        left: 73%;
        transform: translateX(-50%);
        text-align: left;
        font-size: 1.5vw;
        color: #cdcdcd;
        width: 50%;
        height: 54%;
        overflow: hidden;
    }

    #WIS_modal-phrase {
        position: absolute;
        top: 80%;
        left: 73%;
        transform: translateX(-50%);
        text-align: left;
        font-size: 1.5vw;
        color: #cdcdcd;
        width: 50%;
        height: 54%;
        overflow: hidden;
    }

    #WIS_modal-text {
        position: absolute;
        top: 20%;
        left: 73%;
        transform: translateX(-50%);
        text-align: left;
        font-size: 1.5vw;
        color: #cdcdcd;
        width: 50%;
        height: 54%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

        #WIS_modal-text:hover::-webkit-scrollbar-thumb {
            background: rgba(206,206,206,1);
        }

        #WIS_modal-text::-webkit-scrollbar {
            background: rgba(0,0,0,0);
            width: 6px;
        }

        #WIS_modal-text::-webkit-scrollbar-button {
            width: 0;
            height: 0;
        }

        #WIS_modal-text::-webkit-scrollbar-thumb {
            background: rgba(206,206,206,0);
            border-radius: 3px;
        }

    .Dnon {
        display: none;
    }
</style>
<div id="Page_we_info_box_second-container">
    <div id="Page_we_info_box_second-title_text">Наша команда</div>
    <div id="Page_we_info_box_second-center_hex"></div>
    <div id="Page_we_info_box_second-center_shadow_hex"></div>
    <div id="Page_we_info_box_second-hex_container_L"><img /><img /></div>
    <div id="Page_we_info_box_second-hex_container_R"><img /><img /></div>
    <div id="Page_we_info_box_second-hex_shadow_L"></div>
    <div id="Page_we_info_box_second-hex_shadow_R"></div>

    <div id="WIS_noclick"></div>
    <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

    @foreach (var item in Model)
    {
        if (item == Model[0])
        {
            <div class="Page_we_info_box_second-el_list Page_we_info_box_second-el_list_active">
                <img src="@item.LinkToImg" />
                <p class="Dnon">@item.Name</p>
                <p class="Dnon">@item.Role</p>
                <p class="Dnon">@item.Description</p>
                <p class="Dnon">@item.Phrase</p>
            </div>
        }
        else
        {
            <div class="Page_we_info_box_second-el_list">
                <img src="@item.LinkToImg" />
                <p class="Dnon">@item.Name</p>
                <p class="Dnon">@item.Role</p>
                <p class="Dnon">@item.Description</p>
                <p class="Dnon">@item.Phrase</p>
            </div>
        }
    }
    <!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->

    <div id="WIS_modal">
        <div id="WIS_modal-exit">
            <div id="WIS_modal-exit_1"></div>
            <div id="WIS_modal-exit_2"></div>
        </div>
        <div id="WIS_modal-container_image">
            <img id="WIS_modal-image" />
        </div>
        <div id="WIS_modal-back_container">
            <img id="WIS_modal-back_image" />
        </div>
        <h6 id="WIS_modal-name" class="textIndent"></h6>
        <p id="WIS_modal-role" class="textIndent"></p>
        <p id="WIS_modal-text" class="textIndent"></p>
        <p id="WIS_modal-phrase" class="textIndent"></p>
    </div>
    <svg id="BACKGROUND_2" data-name="BACKGROUND 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 769.83 563.58">
        <defs>
            <style>
                .cls-1, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-18, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29, .cls-3, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-37, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
                }

                .cls-2 {
                    clip-path: url(#clip-path);
                }

                .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-18, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29, .cls-3, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-37, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
                    stroke-width: 1px;
                }

                .cls-3 {
                    stroke: url(#Degradado_sin_nombre_28);
                }

                .cls-4 {
                    stroke: url(#Degradado_sin_nombre_28-2);
                }

                .cls-5 {
                    stroke: url(#Degradado_sin_nombre_31);
                }

                .cls-6 {
                    stroke: url(#Degradado_sin_nombre_31-2);
                }

                .cls-7 {
                    stroke: url(#Degradado_sin_nombre_31-3);
                }

                .cls-8 {
                    stroke: url(#Degradado_sin_nombre_31-4);
                }

                .cls-9 {
                    stroke: url(#Degradado_sin_nombre_26);
                }

                .cls-10 {
                    stroke: url(#Degradado_sin_nombre_31-5);
                }

                .cls-11 {
                    stroke: url(#Degradado_sin_nombre_26-2);
                }

                .cls-12 {
                    stroke: url(#Degradado_sin_nombre_26-3);
                }

                .cls-13 {
                    stroke: url(#Degradado_sin_nombre_26-4);
                }

                .cls-14 {
                    stroke: url(#Degradado_sin_nombre_26-5);
                }

                .cls-15 {
                    stroke: url(#Degradado_sin_nombre_31-6);
                }

                .cls-16 {
                    stroke: url(#Degradado_sin_nombre_31-7);
                }

                .cls-17 {
                    stroke: url(#Degradado_sin_nombre_31-8);
                }

                .cls-18 {
                    stroke: url(#Degradado_sin_nombre_31-9);
                }

                .cls-19 {
                    stroke: url(#Degradado_sin_nombre_31-10);
                }

                .cls-20 {
                    stroke: url(#Degradado_sin_nombre_28-3);
                }

                .cls-21 {
                    stroke: url(#Degradado_sin_nombre_28-4);
                }

                .cls-22 {
                    stroke: url(#Degradado_sin_nombre_31-11);
                }

                .cls-23 {
                    stroke: url(#Degradado_sin_nombre_26-6);
                }

                .cls-24 {
                    stroke: url(#Degradado_sin_nombre_28-5);
                }

                .cls-25 {
                    stroke: url(#Degradado_sin_nombre_28-6);
                }

                .cls-26 {
                    stroke: url(#Degradado_sin_nombre_28-7);
                }

                .cls-27 {
                    stroke: url(#Degradado_sin_nombre_31-12);
                }

                .cls-28 {
                    stroke: url(#Degradado_sin_nombre_31-13);
                }

                .cls-29 {
                    stroke: url(#Degradado_sin_nombre_26-7);
                }

                .cls-30 {
                    stroke: url(#Degradado_sin_nombre_26-8);
                }

                .cls-31 {
                    stroke: url(#Degradado_sin_nombre_31-14);
                }

                .cls-32 {
                    stroke: url(#Degradado_sin_nombre_31-15);
                }

                .cls-33 {
                    stroke: url(#Degradado_sin_nombre_28-8);
                }

                .cls-34 {
                    stroke: url(#Degradado_sin_nombre_31-16);
                }

                .cls-35 {
                    stroke: url(#Degradado_sin_nombre_26-9);
                }

                .cls-36 {
                    stroke: url(#Degradado_sin_nombre_28-9);
                }

                .cls-37 {
                    stroke: url(#Degradado_sin_nombre_28-10);
                }
            </style>
            <clipPath id="clip-path" transform="translate(-520.56 21.07)"><rect class="cls-1" x="531" width="750" height="500" /></clipPath>
            <linearGradient id="Degradado_sin_nombre_28" x1="122.78" y1="321.38" x2="122.78" y2="16.13" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#9101f6" /><stop offset="1" stop-color="#9101f6" stop-opacity="0" /></linearGradient>
            <linearGradient id="Degradado_sin_nombre_28-2" x1="0" y1="72.13" x2="117.14" y2="72.13" xlink:href="#Degradado_sin_nombre_28" />
            <linearGradient id="Degradado_sin_nombre_31" x1="150.99" y1="160.46" x2="150.99" y2="16.13" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff0279" /><stop offset="1" stop-color="#ff0279" stop-opacity="0" /></linearGradient>
            <linearGradient id="Degradado_sin_nombre_31-2" x1="541.95" y1="144.33" x2="541.95" y2="0" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_31-3" x1="306.62" y1="-1.03" x2="246.82" y2="102.54" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_31-4" x1="0.06" y1="174.52" x2="68.64" y2="174.52" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_26" x1="74.5" y1="192.8" x2="74.5" y2="91.93" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#03d6f9" /><stop offset="1" stop-color="#03d6f9" stop-opacity="0" /></linearGradient>
            <linearGradient id="Degradado_sin_nombre_31-5" x1="272.68" y1="513.27" x2="341.25" y2="513.27" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_26-2" x1="347.11" y1="531.55" x2="347.11" y2="430.69" xlink:href="#Degradado_sin_nombre_26" />
            <linearGradient id="Degradado_sin_nombre_26-3" x1="181.47" y1="56.13" x2="261.8" y2="56.13" xlink:href="#Degradado_sin_nombre_26" />
            <linearGradient id="Degradado_sin_nombre_26-4" x1="459.03" y1="56.13" x2="539.37" y2="56.13" xlink:href="#Degradado_sin_nombre_26" />
            <linearGradient id="Degradado_sin_nombre_26-5" x1="106.93" y1="204.66" x2="106.93" y2="354.46" xlink:href="#Degradado_sin_nombre_26" />
            <linearGradient id="Degradado_sin_nombre_31-6" x1="8.64" y1="342.13" x2="43.9" y2="377.38" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_31-7" x1="505.59" y1="492.73" x2="540.85" y2="527.99" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_31-8" x1="217.88" y1="495.93" x2="253.13" y2="531.19" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_31-9" x1="128.8" y1="263.33" x2="181.14" y2="263.33" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_31-10" x1="0.06" y1="238.93" x2="36.14" y2="238.93" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_28-3" x1="246.14" y1="47.98" x2="309.97" y2="47.98" xlink:href="#Degradado_sin_nombre_28" />
            <linearGradient id="Degradado_sin_nombre_28-4" x1="50.34" y1="482.49" x2="50.34" y2="365.7" xlink:href="#Degradado_sin_nombre_28" />
            <linearGradient id="Degradado_sin_nombre_31-11" x1="0.06" y1="440.2" x2="165.22" y2="440.2" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_26-6" x1="80.64" y1="478.62" x2="180.98" y2="478.62" xlink:href="#Degradado_sin_nombre_26" />
            <linearGradient id="Degradado_sin_nombre_28-5" x1="20.14" y1="494.72" x2="149.1" y2="494.72" xlink:href="#Degradado_sin_nombre_28" />
            <linearGradient id="Degradado_sin_nombre_28-6" x1="1116.41" y1="300.31" x2="1116.41" y2="-4.95" gradientTransform="translate(1763.45 522.18) rotate(180)" xlink:href="#Degradado_sin_nombre_28" />
            <linearGradient id="Degradado_sin_nombre_28-7" x1="993.63" y1="51.06" x2="1110.76" y2="51.06" gradientTransform="translate(1763.45 522.18) rotate(180)" xlink:href="#Degradado_sin_nombre_28" />
            <linearGradient id="Degradado_sin_nombre_31-12" x1="1144.62" y1="139.39" x2="1144.62" y2="-4.95" gradientTransform="translate(1763.45 522.18) rotate(180)" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_31-13" x1="993.69" y1="153.44" x2="1062.26" y2="153.44" gradientTransform="translate(1763.45 522.18) rotate(180)" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_26-7" x1="1068.13" y1="171.72" x2="1068.13" y2="70.86" gradientTransform="translate(1763.45 522.18) rotate(180)" xlink:href="#Degradado_sin_nombre_26" />
            <linearGradient id="Degradado_sin_nombre_26-8" x1="1100.56" y1="183.59" x2="1100.56" y2="333.39" gradientTransform="translate(1763.45 522.18) rotate(180)" xlink:href="#Degradado_sin_nombre_26" />
            <linearGradient id="Degradado_sin_nombre_31-14" x1="1002.26" y1="321.05" x2="1037.52" y2="356.31" gradientTransform="translate(1763.45 522.18) rotate(180)" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_31-15" x1="993.69" y1="217.86" x2="1029.77" y2="217.86" gradientTransform="translate(1763.45 522.18) rotate(180)" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_28-8" x1="1043.97" y1="461.41" x2="1043.97" y2="344.62" gradientTransform="translate(1763.45 522.18) rotate(180)" xlink:href="#Degradado_sin_nombre_28" />
            <linearGradient id="Degradado_sin_nombre_31-16" x1="993.69" y1="419.12" x2="1158.85" y2="419.12" gradientTransform="translate(1763.45 522.18) rotate(180)" xlink:href="#Degradado_sin_nombre_31" />
            <linearGradient id="Degradado_sin_nombre_26-9" x1="1074.27" y1="457.55" x2="1174.6" y2="457.55" gradientTransform="translate(1763.45 522.18) rotate(180)" xlink:href="#Degradado_sin_nombre_26" />
            <linearGradient id="Degradado_sin_nombre_28-9" x1="1013.76" y1="473.65" x2="1142.72" y2="473.65" gradientTransform="translate(1763.45 522.18) rotate(180)" xlink:href="#Degradado_sin_nombre_28" />
            <linearGradient id="Degradado_sin_nombre_28-10" x1="161.28" y1="456.62" x2="245.79" y2="456.62" xlink:href="#Degradado_sin_nombre_28" />
        </defs>
        @*<title>Spays_Fly_to_spaus</title>*@
        <rect class="cls-1" x="10.44" y="21.07" width="750" height="500" />
        <g class="cls-2">
            <polyline class="cls-3" points="2 287.18 98.47 190.8 114.73 206.66 50.31 271.07 98.8 319.38 115.05 303.38 82.52 271.07 243.56 110.04 151.47 18.13" />
            <polyline class="cls-4" points="2 61.73 66.47 126.13 115.14 78.13 98.62 61.73 66.41 93.93 34.21 61.73 78.47 18.13" />
            <polyline class="cls-5" points="90.18 21.07 179.14 110.04 146.93 142.24 163.14 158.46 211.8 110.46 119.8 18.13" />
            <polyline class="cls-6" points="481.13 4.95 570.1 93.91 537.89 126.11 554.09 142.33 602.76 94.33 510.76 2" />
            <polyline class="cls-7" points="216.47 18.13 291.8 93.8 276.14 110.13 291.8 126.2 340.18 77.83 307.97 45.62 335.8 18.13" />
            <polyline class="cls-8" points="2.06 126.2 66.64 190.8 50.31 206.66 34.35 190.41 2.06 222.83" />
            <polyline class="cls-9" points="2 93.93 66.64 158.46 130.83 93.93 146.93 110.04 98.74 158.46 130.97 190.8 147 174.52 130.94 158.46" />
            <polyline class="cls-10" points="274.68 464.96 339.25 529.55 322.92 545.41 306.96 529.17 274.68 561.58" />
            <polyline class="cls-11" points="274.61 432.69 339.25 497.22 403.44 432.69 419.55 448.79 371.35 497.22 403.58 529.55 419.61 513.27 403.56 497.22" />
            <line class="cls-12" x1="183.47" y1="18.13" x2="259.8" y2="94.13" />
            <line class="cls-13" x1="461.03" y1="18.13" x2="537.37" y2="94.13" />
            <polyline class="cls-14" points="2.06 319.45 34.35 287.32 99.14 352.46 211.8 238.41 179.14 206.66 114.73 271.07" />
            <polyline class="cls-15" points="2 351.59 34.35 319.53 66.64 351.81 50.31 367.7 34.14 351.46 2 383.8" />
            <polyline class="cls-16" points="498.95 502.19 531.3 470.13 563.59 502.42 547.26 518.3 531.09 502.06 498.95 534.4" />
            <polyline class="cls-17" points="211.24 505.39 243.59 473.33 275.88 505.62 259.55 521.5 243.38 505.26 211.24 537.6" />
            <line class="cls-18" x1="130.8" y1="287.8" x2="179.14" y2="238.87" />
            <line class="cls-19" x1="34.14" y1="222.83" x2="2.06" y2="255.03" />
            <line class="cls-20" x1="248.14" y1="18.13" x2="307.97" y2="77.83" />
            <polyline class="cls-21" points="2.06 416.07 34.32 383.91 50.4 399.99 82.52 367.7 98.62 383.8 2.06 480.49" />
            <polyline class="cls-22" points="114.73 367.7 163.22 416.19 146.93 432.11 114.73 399.9 2.06 512.69" />
            <polyline class="cls-23" points="82.64 464.44 114.73 432.11 178.98 496.36 151.14 525.13" />
            <polyline class="cls-24" points="147.1 496.36 114.73 464.32 82.64 497.13 66.64 480.8 22.14 525.13" />
            <polyline class="cls-25" points="767.83 256.08 671.36 352.46 655.1 336.6 719.51 272.18 671.02 223.88 654.77 239.88 687.31 272.18 526.27 433.22 618.36 525.13" />
            <polyline class="cls-26" points="767.83 481.53 703.36 417.13 654.69 465.13 671.2 481.53 703.42 449.33 735.62 481.53 691.36 525.13" />
            <polyline class="cls-27" points="679.65 522.18 590.68 433.22 622.89 401.01 606.69 384.8 558.02 432.8 650.02 525.13" />
            <polyline class="cls-28" points="767.76 417.05 703.19 352.46 719.51 336.6 735.48 352.85 767.76 320.43" />
            <polyline class="cls-29" points="767.83 449.32 703.19 384.8 639 449.32 622.89 433.22 671.09 384.8 638.86 352.46 622.83 368.74 638.88 384.8" />
            <polyline class="cls-30" points="767.76 223.81 735.48 255.94 670.69 190.8 558.02 304.85 590.68 336.6 655.1 272.18" />
            <polyline class="cls-31" points="767.83 191.67 735.48 223.73 703.19 191.44 719.51 175.56 735.69 191.8 767.83 159.46" />
            <line class="cls-32" x1="735.68" y1="320.43" x2="767.76" y2="288.22" />
            <polyline class="cls-33" points="767.76 127.19 735.51 159.35 719.43 143.27 687.31 175.56 671.2 159.46 767.76 62.77" />
            <polyline class="cls-34" points="655.1 175.56 606.6 127.06 622.89 111.15 655.1 143.35 767.76 30.56" />
            <polyline class="cls-35" points="687.18 78.81 655.1 111.15 590.85 46.9 618.69 18.13" />
            <polyline class="cls-36" points="622.73 46.9 655.1 78.94 687.18 46.12 703.19 62.46 747.69 18.13" />
            <polyline class="cls-37" points="163.28 448.46 195.96 481.13 243.79 432.11" />
        </g>
    </svg>
</div>

<script>
    const Spays_Fly_to_spaus = (() => {
        const ani = new Array("s a infinite cubic-bezier(0.42, 0, 0.12, 1.09) 0.2s", "s a infinite cubic-bezier(0.31,-0.59, 0.12, 1.09)", "s a infinite cubic-bezier(0.74, 0.06, 0, 0.35) 0.6s", "s a infinite cubic-bezier(0, 0, 0.22, 1.2)", "s a infinite linear");
        const svg = {
            polyline: document.querySelectorAll('polyline'),
            line: document.querySelectorAll('line'),
            rect: document.querySelectorAll('rect'),
            linearGradient: document.querySelectorAll('linearGradient'),
            clipPath: document.querySelectorAll('clipPath'),
            stop: document.querySelectorAll('stop')
        };
        var baff = function (el) {
            el.classList.add("cl");
            el.style.animation = (3 + (Math.random() * 7)) + ani[Math.floor(Math.random() * 5)];
        }
        var Go_to = function () {
            for (var i = 0; i < svg.clipPath.length; i++) { baff(svg.clipPath[i]); }
            for (var i = 0; i < svg.stop.length; i++) { baff(svg.stop[i]); }
            for (var i = 0; i < svg.linearGradient.length; i++) { baff(svg.linearGradient[i]); }
            for (var i = 0; i < svg.rect.length; i++) { baff(svg.rect[i]); }
            for (var i = 0; i < svg.line.length; i++) { baff(svg.line[i]); }
            for (var i = 0; i < svg.polyline.length; i++) { baff(svg.polyline[i]); }
        };
        Go_to();
    });

    Spays_Fly_to_spaus();

</script>
<!--
            width: 14vw;
            height: 16vw;
            left: 25% ~ 75%
            top: 57%;
-->
<script>
    var noClick = document.getElementById("WIS_noclick");

    var WIS_image_l = document.getElementById("Page_we_info_box_second-hex_container_L");
    var WIS_image_R = document.getElementById("Page_we_info_box_second-hex_container_R");
    var WIS_array_image = document.getElementsByClassName("Page_we_info_box_second-el_list");

    WIS_image_l.childNodes[0].src = WIS_array_image[1 % WIS_array_image.length].childNodes[1].src;
    WIS_image_R.childNodes[0].src = WIS_array_image[WIS_array_image.length - 1].childNodes[1].src;

    WIS_image_l.onclick = function () {
        for (var i = 0; i < WIS_array_image.length; i++) {
            if (WIS_array_image[i].classList.contains("Page_we_info_box_second-el_list_active")) {
                noClick.style.zIndex = "10";

                //WIS_image_R.childNodes[1].src = WIS_array_image[i].childNodes[1].src;
                setTimeout((() => { WIS_image_R.childNodes[1].src = WIS_array_image[i].childNodes[1].src; }), 290);

                WIS_image_l.childNodes[1].src = WIS_array_image[(i + 2) % WIS_array_image.length].childNodes[1].src;

                WIS_array_image[i].style.animation = "0.4s WIS_center_l linear";

                WIS_array_image[(i + 1) % WIS_array_image.length].classList.add("Page_we_info_box_second-el_list_active");
                WIS_array_image[(i + 1) % WIS_array_image.length].style.animation = "0.4s WIS_center_r linear reverse";
                WIS_array_image[(i + 1) % WIS_array_image.length].classList.add("Page_we_info_box_second-el_list-tran0");

                setTimeout(function () {
                    WIS_array_image[i].classList.remove("Page_we_info_box_second-el_list_active");
                    WIS_array_image[(i + 1) % WIS_array_image.length].classList.remove("Page_we_info_box_second-el_list-tran0");

                    WIS_array_image[i].style.animation = "none";
                    WIS_array_image[(i + 1) % WIS_array_image.length].style.animation = "none";

                    WIS_image_R.childNodes[0].src = WIS_array_image[i].childNodes[1].src;

                    noClick.style.zIndex = "-1";
                }, 400);
                return;
            }
        }
    }
    WIS_image_R.onclick = function () {
        for (var i = 0; i < WIS_array_image.length; i++) {
            if (WIS_array_image[i].classList.contains("Page_we_info_box_second-el_list_active")) {
                noClick.style.zIndex = "10";

                setTimeout((() => { WIS_image_l.childNodes[1].src = WIS_array_image[i].childNodes[1].src; }), 290);
                WIS_image_R.childNodes[1].src = WIS_array_image[(WIS_array_image.length + i - 2) % WIS_array_image.length].childNodes[1].src;

                WIS_array_image[i].style.animation = "0.4s WIS_center_r linear";

                WIS_array_image[(WIS_array_image.length + i - 1) % WIS_array_image.length].classList.add("Page_we_info_box_second-el_list_active");
                WIS_array_image[(WIS_array_image.length + i - 1) % WIS_array_image.length].style.animation = "0.4s WIS_center_l linear reverse";
                WIS_array_image[(WIS_array_image.length + i - 1) % WIS_array_image.length].classList.add("Page_we_info_box_second-el_list-tran0");

                setTimeout(function () {
                    WIS_array_image[i].classList.remove("Page_we_info_box_second-el_list_active");
                    WIS_array_image[(WIS_array_image.length + i - 1) % WIS_array_image.length].classList.remove("Page_we_info_box_second-el_list-tran0");

                    WIS_array_image[i].style.animation = "none";
                    WIS_array_image[(WIS_array_image.length + i - 1) % WIS_array_image.length].style.animation = "none";

                    WIS_image_l.childNodes[0].src = WIS_array_image[i].childNodes[1].src;

                    noClick.style.zIndex = "-1";
                }, 400);
                return;
            }
        }
    }

    WIS_image_l.onmouseover = function () {
        this.style.height = "16.4vw";
        this.style.width = "14.35vw";
        document.getElementById("Page_we_info_box_second-hex_shadow_L").style.transform = "translate(-45%,-47%)";
    }
    WIS_image_l.onmouseout = function () {
        this.style.height = "16vw";
        this.style.width = "14vw";
        document.getElementById("Page_we_info_box_second-hex_shadow_L").style.transform = "translate(-48%,-50%)";
    }
    WIS_image_R.onmouseover = function () {
        this.style.height = "16.4vw";
        this.style.width = "14.35vw";
        document.getElementById("Page_we_info_box_second-hex_shadow_R").style.transform = "translate(-45%,-47%)";
    }
    WIS_image_R.onmouseout = function () {
        this.style.height = "16vw";
        this.style.width = "14vw";
        document.getElementById("Page_we_info_box_second-hex_shadow_R").style.transform = "translate(-48%,-50%)";
    }

    var WIS_modal_exit = document.getElementById("WIS_modal-exit");
    var WIS_modal = document.getElementById("WIS_modal");
    var WIS_modal_back = document.getElementById("WIS_modal-back_image");
    var WIS_modal_art = document.getElementById("WIS_modal-image");
    var WIS_modal_name = document.getElementById("WIS_modal-name");
    var WIS_modal_role = document.getElementById("WIS_modal-role");
    var WIS_modal_text = document.getElementById("WIS_modal-text");
    var WIS_modal_phrase = document.getElementById("WIS_modal-phrase");

    function WIS_modal_visibility(src, name, role, text, phrase) {
        WIS_modal.style.transform = "translate(9.5%,9.5%) rotate(0deg)";
        WIS_modal_back.src = src;
        WIS_modal_art.src = src;
        WIS_modal_name.textContent = name;
        WIS_modal_role.textContent = role;
        WIS_modal_text.innerHTML = text;
        WIS_modal_phrase.innerHTML = "Любимая фраза: <br/>" + phrase;
    }

    for (var i = 0; i < WIS_array_image.length; i++) {
        WIS_array_image[i].onclick = function () {
            WIS_modal_visibility(this.childNodes[1].src, this.childNodes[3].textContent, this.childNodes[5].textContent, this.childNodes[7].textContent, this.childNodes[9].textContent);
        }
        WIS_array_image[i].onmouseover = function () {
            this.style.height = "32.8vw";
            this.style.width = "28.7vw";
            document.getElementById("Page_we_info_box_second-center_shadow_hex").style.transform = "translate(-45%,-47%)";
        }
        WIS_array_image[i].onmouseout = function () {
            this.style.height = "32vw";
            this.style.width = "28vw";
            document.getElementById("Page_we_info_box_second-center_shadow_hex").style.transform = "translate(-48%,-50%)";
        }
    }
    WIS_modal_exit.onclick = function () {
        WIS_modal.style.transform = "translate(-75%,125%) rotate(90deg)";
    }

</script>