﻿
@{
    ViewData["Title"] = "Blog";
}

<style>
*{
    margin:0;
    padding:0;
}
#body_list{
    position:relative;
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y:scroll;
}
#container{
    width:80vw;
    margin:10vw auto 4vw auto;
    display:flex;
    flex-wrap:wrap;
    position:relative;
    top:0vw;
    left:0;
    right:0;
}
.elements-block{
    position:relative;
    width:47%;
    height:35vw;
    margin:1.8vw 0 0 2%;
    overflow:hidden;
    border-radius:0.5vw;
    background:rgba(0,0,0,0.2);
}
    .elements-block > .back-img {
        transform:translate(50%,50%) scale(1);
        right: 50%;
        bottom: 50%;
        height: 100%;
        opacity: 0.3;
        position: absolute;
        transition:0.5s all;
    }
.button-info {
    width: 20%;
    height: 12%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: #000000 solid 0.3vw;
    border-top-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    transition:0.5s all;
    overflow:hidden;
}
    .button-info::after {
        content: "подробнее";
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%,-50%);
        color: #000000;
        font-size: 2vw;
        font-weight: 100;
        opacity:0;
        transition: 0.5s all;
    }
    .button-info:hover {
        width:60%;
    }
    .button-info:hover::after{
        opacity:1;
    }
.start-info {
    width: 20%;
    height: 12%;
    position: absolute;
    bottom: 0;
    left: 0;
    border: #000000 solid 0.3vw;
    border-top-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    transition: 0.5s all;
    overflow: hidden;
}
    .start-info:hover {
        width: 60%;
    }
    .start-info > p.date {
        position: absolute;
        top: 55%;
        right: 0.5vw;
        width: 6.5vw;
        height: 40%;
        color: #000000;
        font-size: 1.2vw;
        font-weight: 100;
        text-align: center;
        opacity: 0;
        transition: 0.5s all;
    }
        .start-info > p.date::after {
            content: "опубликовано:";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,-150%);
            color: #000000;
            font-size: 0.8vw;
            font-weight: 400;
        }
    .start-info:hover > p.date{
        opacity:1;
    }
    .start-info > .art-box {
        width: 4vw;
        height: 4vw;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 3.9vw;
        transform: translate(-50%,-50%);
        cursor: pointer;
    }
    .start-info > .art-box > img.art {
        height:100%;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .start-info > p.name {
        position: absolute;
        left: 48%;
        top: 50%;
        width: 8.8vw;
        opacity: 0;
        transform: translate(-50%,-50%);
        transition: 0.5s all;
        text-align: center;
        color: #000000;
        font-size: 1vw;
        font-weight: 400;
        cursor: pointer;
    }
    .start-info:hover > p.name {
        opacity: 1;
    }
.arrow {
    position: absolute;
    bottom: 50%;
    right: 3.2vw;
    width: 2vw;
    height: 2vw;
    border: 0.3vw solid #000000;
    border-right: hidden;
    border-bottom: hidden;
    transform: translate(50%,50%) rotate(-45deg);
    transition: 0.5s all;
}
.button-info:hover > .arrow {
    transform: translate(50%,50%) rotate(45deg);
    bottom: 35%;
    right: 3.6vw;
}
.elements-block:hover > .back-img {
    transform: translate(50%,50%) scale(1.1);
}
/*@@media screen and (max-width:990px)*/
</style>

<style>
    #modal {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(00%);
    width: 100%;
    height: 100%;
    background-color: #00000080;
    transition: 0.5s all;
    z-index: 6;
    display:none;
}
#modal-visibility {
    width: 82%;
    height: 82%;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow-x: hidden;
    overflow-y: scroll;
}
    #modal-visibility::-webkit-scrollbar {
        width: 6px;
    }
    #modal-visibility::-webkit-scrollbar-button {
        height: 0;
    }
    #modal-visibility::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #ff6a00;
    }
    #modal-visibility::-webkit-scrollbar-track {
        background: rgba(0,0,0,0);
    }
#data {
    width: 94%;
    margin: 5vmin 3%;
}
div#exit-modal {
    position: absolute;
    top: 5.5vmin;
    right: 4vmin;
    width: 5vmax;
    height: 5vmax;
}
    div#exit-modal::before {
        width: 85%;
        height: 15%;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        background-color: #802d2d;
    }
    div#exit-modal::after {
        height: 85%;
        width: 15%;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        background-color: #802d2d;
    }
    div#exit-modal:hover::after, div#exit-modal:hover::before{
        animation:2.5s hover_exit linear infinite;
    }
    @@keyframes hover_exit
    {
        0% {
            background-color: #802d2d;
        }
        50% {
            background-color: #ff0000;
        }
    }

    .header {
        text-align: center;
        margin-bottom: 50px;
    }

    #BLOG{
        position:relative;
        width:100%;
        height:60px;
        text-align:center;
        color:#333;
        font-weight:100;
        font-size:55px;
    }

    .text{
        width:100%;
        height:auto;
        text-align:left;
        color:#333;
        margin: 30px 0 0 0;
        font-size:18px;
    }
    .title{
        width:100%;
        min-height:75px;
        margin:30px 0;
        color:#222;
        text-align:center;
        font-weight:300;
        font-size:70px;
    }

    .text_title {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        font-size: 4vmin;
        font-weight: 100;
        color: #313131;
        transition: 0.3s;
        width:100%;
        text-align:center;
    }
    .elements-block:hover > .text_title {
        opacity: 1;
        transform: translate(-50%,20%) scale(1.05);
    }
</style>

<div id="modal">
    <div id="exit-modal"></div>
    <div id="modal-visibility">
        <div id="data" class="textIndent">
            <h6 class="title">
                С чего начиналось
            </h6>
            <p class="text">
                Началом активной работы над созданием проектов в области ИТ сферы на факультете «Информационные технологии управления», можно считать открытие лаборатории кроссплатформенного программирования имени Али Мусаевича Узденова. Где каждый желающий смог получить возможность окунуться в захватывающий мир цифровых технологий и воплотить в реальность самые смелые программные проекты. Здесь были воспитаны победители профильных конкурсов и формировались традиции наставничества среди студентов, магистрантов и аспирантов. Именно меценатская деятельность Али Мусаевича позволила уверенно сделать первые шаги ребят на пути к их профессиональной мечте.
            </p>
            <p class="text">
                Увидев безудержную тягу к развитию своих профессиональных навыков и успехи в выполнении проектов информационного профиля среди преподавателей и студентов факультета, высшим руководством Ростовского государственного университета путей сообщения было принято решение о переходе на качественно новый уровень развития студентов и создания уникального формата рабочего пространства в котором каждый может найти не только проект, который придется ему по вкусу, но и средства реализации этого проекта, а также помощь квалифицированных разработчиков.
            </p>
            <p class="text">
                Таким рабочим пространством стал коворкинг-Центр IT-притяжения РГУПС, который включает в себя все необходимое для комфортной и плодотворной работы сотрудников и обучающихся. Интересным, является тот факт, что дизайн-проект на перестройку помещения в котором сейчас располагается центр, был полностью создан студентами факультета с применением технологии виртуальной реальности, что позволило изначально оценить внешний вид и функциональность коворкинга, а исполнители по окончанию программ высшего образования стали сотрудниками IT-притяжения.
            </p>
            <p class="text">
                Центр начал свою деятельность в феврале 2019 года и по сегодняшний день наша команда готова радовать Вас успешным выполнением проектов информационного профиля различной сложности. Если вы студент нашего вуза и чувствуете, что информационные технологии — это то, чем вы хотите заниматься в своей дальнейшей профессиональной деятельности, будем с нетерпением Вас ждать.
            </p>
            <p class="text">
                Также команда нашего центра рада предложить услуги по разработке программного обеспечения, мобильных приложений, приложений виртуальной и дополненной реальности и многое, многое другое. Будем рады Вас видеть!
            </p>
        </div>
    </div>
</div>

<div id="body_list">
    <div id="container">

        <h1 id="BLOG">Блог</h1>

        <div class="elements-block">
            <img class="back-img" src="~/css/image/LogoLine.svg" />
            <p class="text_title">С чего начиналось</p>
            <div class="button-info">
                <div class="arrow"></div>
            </div>
            <div class="start-info">
                <p class="date">03.02.2020</p>
                <div class="art-box">
                    <img class="art" src="~/UploadImage/cf0bd5f2-839c-421c-b561-75526e1e639c.png" />
                </div>
                <p class="name">Олег Карташов</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("exit-modal").onclick = function () {
        document.getElementById("modal").style.display = "none";
    }

    function Modal_V(name_author, value) {
        document.getElementById("modal").style.display = "block";
    }

    var elements = document.getElementsByClassName("elements-block");

    for (var i = 0; i < elements.length; i++) {
        elements[i].onclick = function () {
            Modal_V(this, this);
        }
    }
</script>