﻿
@{
    ViewData["Title"] = "Blog";
}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    #body_list {
        margin-top: 5vh;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #container {
        width: 80vw;
        margin: 10vw auto 4vw auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 0vw;
        left: 0;
        right: 0;
    }

    .elements-block {
        position: relative;
        width: 47%;
        height: 35vw;
        margin: 1.8vw 0 0 2%;
        overflow: hidden;
        border-radius: 0.5vw;
        background: rgba(0,0,0,0.2);
    }

        .elements-block > .back-img {
            transform: translate(50%,50%) scale(1);
            right: 50%;
            bottom: 50%;
            height: 100%;
            opacity: 0.3;
            position: absolute;
            transition: 0.5s all;
        }

    .button-info {
        width: 20%;
        height: 12%;
        position: absolute;
        bottom: 0;
        right: 0;
        border: #000000 solid 0.3vw;
        border-top-left-radius: 0.5vw;
        border-bottom-right-radius: 0.5vw;
        transition: 0.5s all;
        overflow: hidden;
    }

        .button-info::after {
            content: "подробнее";
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-50%,-50%);
            color: #000000;
            font-size: 2vw;
            font-weight: 100;
            opacity: 0;
            transition: 0.5s all;
        }

        .button-info:hover {
            width: 60%;
        }

            .button-info:hover::after {
                opacity: 1;
            }

    .start-info {
        width: 20%;
        height: 12%;
        position: absolute;
        bottom: 0;
        left: 0;
        border: #000000 solid 0.3vw;
        border-top-right-radius: 0.5vw;
        border-bottom-left-radius: 0.5vw;
        transition: 0.5s all;
        overflow: hidden;
    }

        .start-info:hover {
            width: 60%;
        }

        .start-info > p.date {
            position: absolute;
            top: 55%;
            right: 0.5vw;
            width: 6.5vw;
            height: 40%;
            color: #000000;
            font-size: 1.2vw;
            font-weight: 100;
            text-align: center;
            opacity: 0;
            transition: 0.5s all;
        }

            .start-info > p.date::after {
                content: "опубликовано:";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%,-150%);
                color: #000000;
                font-size: 0.8vw;
                font-weight: 400;
            }

        .start-info:hover > p.date {
            opacity: 1;
        }

        .start-info > .art-box {
            width: 4vw;
            height: 4vw;
            overflow: hidden;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 3.9vw;
            transform: translate(-50%,-50%);
            cursor: pointer;
        }

            .start-info > .art-box > img.art {
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

        .start-info > p.name {
            position: absolute;
            left: 48%;
            top: 50%;
            width: 8.8vw;
            opacity: 0;
            transform: translate(-50%,-50%);
            transition: 0.5s all;
            text-align: center;
            color: #000000;
            font-size: 1vw;
            font-weight: 400;
            cursor: pointer;
        }

        .start-info:hover > p.name {
            opacity: 1;
        }

    .arrow {
        position: absolute;
        bottom: 50%;
        right: 3.2vw;
        width: 2vw;
        height: 2vw;
        border: 0.3vw solid #000000;
        border-right: hidden;
        border-bottom: hidden;
        transform: translate(50%,50%) rotate(-45deg);
        transition: 0.5s all;
    }

    .button-info:hover > .arrow {
        transform: translate(50%,50%) rotate(45deg);
        bottom: 35%;
        right: 3.6vw;
    }

    .elements-block:hover > .back-img {
        transform: translate(50%,50%) scale(1.1);
    }
    /*@@media screen and (max-width:990px)*/
</style>

<style>
    #modal {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(00%);
        width: 100%;
        height: 100%;
        background-color: #00000080;
        transition: 0.5s all;
        z-index: 6;
        display: none;
    }

    #modal-visibility {
        width: 82%;
        height: 82%;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        overflow-x: hidden;
        overflow-y: scroll;
    }

        #modal-visibility::-webkit-scrollbar {
            width: 6px;
        }

        #modal-visibility::-webkit-scrollbar-button {
            height: 0;
        }

        #modal-visibility::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: #ff6a00;
        }

        #modal-visibility::-webkit-scrollbar-track {
            background: rgba(0,0,0,0);
        }

    #data {
        width: 94%;
        margin: 5vmin 3%;
    }

    div#exit-modal {
        position: absolute;
        top: 4vmin;
        right: 4vmin;
        width: 5vmax;
        height: 5vmax;
    }

        div#exit-modal::before {
            width: 85%;
            height: 15%;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(45deg);
            background-color: #802d2d;
        }

        div#exit-modal::after {
            height: 85%;
            width: 15%;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(45deg);
            background-color: #802d2d;
        }

        div#exit-modal:hover::after, div#exit-modal:hover::before {
            animation: 2.5s hover_exit linear infinite;
        }

    @@keyframes hover_exit {
        0% {
            background-color: #802d2d;
        }

        50% {
            background-color: #ff0000;
        }
    }
</style>

<div id="modal">
    <div id="exit-modal"></div>
    <div id="modal-visibility">
        <div id="data">

        </div>
    </div>
</div>

<div id="body_list">
    <div id="container">
        <div class="elements-block">
            <img class="back-img" src="~/css/image/LogoLine.svg" />
            <div class="button-info">
                <div class="arrow"></div>
            </div>
            <div class="start-info">
                <p class="date">12.04.2019</p>
                <div class="art-box">
                    <img class="art" src="~/css/image/SashaArt.png" />
                </div>
                <p class="name">name</p>
            </div>
        </div>
        <div class="elements-block">
            <img class="back-img" src="~/css/image/LogoLine.svg" />
            <div class="button-info">
                <div class="arrow"></div>
            </div>
            <div class="start-info">
                <p class="date">12.04.2019</p>
                <div class="art-box">
                    <img class="art" src="~/css/image/SashaArt.png" />
                </div>
                <p class="name">name</p>
            </div>
        </div>
        <div class="elements-block">
            <img class="back-img" src="~/css/image/LogoLine.svg" />
            <div class="button-info">
                <div class="arrow"></div>
            </div>
            <div class="start-info">
                <p class="date">12.04.2019</p>
                <div class="art-box">
                    <img class="art" src="~/css/image/SashaArt.png" />
                </div>
                <p class="name">name</p>
            </div>
        </div>
        <div class="elements-block">
            <img class="back-img" src="~/css/image/LogoLine.svg" />
            <div class="button-info">
                <div class="arrow"></div>
            </div>
            <div class="start-info">
                <p class="date">12.04.2019</p>
                <div class="art-box">
                    <img class="art" src="~/css/image/SashaArt.png" />
                </div>
                <p class="name">name</p>
            </div>
        </div>
        <div class="elements-block">
            <img class="back-img" src="~/css/image/LogoLine.svg" />
            <div class="button-info">
                <div class="arrow"></div>
            </div>
            <div class="start-info">
                <p class="date">12.04.2019</p>
                <div class="art-box">
                    <img class="art" src="~/css/image/SashaArt.png" />
                </div>
                <p class="name">name</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("exit-modal").onclick = function () {
        document.getElementById("modal").style.display = "none";
    }

    function Modal_V(name_author, value) {
        document.getElementById("modal").style.display = "block";
    }

    var elements = document.getElementsByClassName("elements-block");

    for (var i = 0; i < elements.length; i++) {
        elements[i].onclick = function () {
            Modal_V(this, this);
        }
    }
</script>