﻿
@{
    ViewData["Title"] = "Contacts";
}

@model List<Users>

<style>
    section.paddingcontent {
        padding-bottom: 133px;
        padding-left: 20px;
        padding-right: 20px;
    }

    section.paddingheader {
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 62px;
        background-color: #555;
    }

    div.block {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 40px;
        padding-bottom: 40px;
        border: 1px solid #444;
        border-radius: 3px;
        background-color: #222;
    }

    div.flexblock {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    div.flexblockReverse {
        flex-wrap: wrap-reverse;
    }

    div.singleblock {
        text-align: center;
        flex-basis: 100%;
        min-width: 600px;
        margin: 20px;
    }

    div.doubleblock {
        text-align: center;
        min-width: 600px;
        flex: 1 1 calc(50% - 200px);
        margin: 20px;
    }

    div.tripleblock {
        text-align: center;
        min-width: 600px;
        flex: 1 1 calc(33.33% - 40px);
        margin: 20px;
    }

    div.one-thirds {
        text-align: center;
        min-width: 600px;
        flex: 1 1 calc(33.33% - 40px);
        margin: 20px;
    }

        div.one-thirds iframe {
            align-content: end;
            width: 100%;
            height: 300px;
        }

    div.two-thirds {
        text-align: center;
        min-width: 300px;
        flex: 1 1 calc(66.66% - 40px);
        margin: 20px;
    }

    div.verticalalign {
        margin: auto;
    }

    div.employee {
        margin-top: 100px;
    }

        div.employee div.doubleblock h2 {
            font-size: 34px;
        }

        div.employee div.doubleblock h4 {
            font-size: 28px;
        }

        div.employee div.doubleblock h5 {
            margin-block-start: 1em;
            margin-block-end: 1em;
            color: forestgreen;
            font-size: 26px;
        }

        div.employee div.doubleblock p {
            font-size: 20px;
            margin-bottom: 0px;
            margin-top: 20px;
        }

        div.employee div.doubleblock img {
            width: 420px;
            clip-path:polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
        }

    img.image {
        margin: auto;
        width: 30px !important;
    }

    a.href {
        text-decoration: none;
        height: 0;
        width: 0;
    }

    a.tel {
        color: forestgreen;
        text-decoration: none;
    }
</style>

@{
    bool left = true;
}
<section class="paddingheader paddingcontent">
    @foreach (var item in Model)
    {
        if (left)
        {
            <div class="flexblock employee">
                <div class="doubleblock imgblock">
                    <img src="@item.LinkToImg" />
                </div>

                <div class="doubleblock verticalalign textblock">
                    <h2>@item.Name</h2>
                    <h4>@item.Role</h4>

                    <p>Рабочий номер телефона:</p>
                    <h5>
                        <a class="tel" href="tel:+78632726228">+7 (863) 272-62-28</a>
                        <a class="href" href="https://wa.me/@item.PhoneNumber">
                            <img class="image" src="~/css/image/whatsapp.png" />
                        </a>
                        <a class="href" href="https://t.me/@item.PhoneNumber">
                            <img class="image" src="~/css/image/telegram.png" />
                        </a>
                    </h5>
                        
                    <p>Электронная почта:</p>
                    <h5>@item.Email</h5>
                </div>
            </div>
        }
        else
        {
            <div class="flexblock employee flexblockReverse">
                <div class="doubleblock verticalalign textblock">
                    <h2>@item.Name</h2>
                    <h4>@item.Role</h4>

                    <p>Рабочий номер телефона:</p>
                    <h5>
                        <a class="tel" href="tel:+78632726228">+7 (863) 272-62-28</a>
                        <a class="href" href="https://wa.me/@item.PhoneNumber">
                            <img class="image" src="~/css/image/whatsapp.png" />
                        </a>
                        <a class="href" href="https://t.me/@item.PhoneNumber">
                            <img class="image" src="~/css/image/telegram.png" />
                        </a>
                    </h5>

                    <p>Электронная почта:</p>
                    <h5>@item.Email</h5>
                </div>
                <div class="doubleblock imgblock">
                    <img src="@item.LinkToImg" />
                </div>
            </div>
        }
        left = !left;
    }
</section>