﻿@{
    
    if(ViewBag.Layout == 1)
    {
        Layout = "_Layout.Mobile";
    }
}

<style>
    section.paddingcontent {
        padding-bottom: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    section.paddingheader {
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 62px;
        background-color: #555;
    }

    div.block {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 40px;
        padding-bottom: 40px;
        border: 1px solid #444;
        border-radius: 3px;
        background-color: #222;
    }

    div.flexblock {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    div.singleblock {
        text-align: center;
        flex-basis: 100%;
        min-width: 600px;
        margin: 20px;
    }

    div.doubleblock {
        text-align: center;
        min-width: 600px;
        flex: 1 1 calc(50% - 200px);
        margin: 20px;
    }

    div.tripleblock {
        text-align: center;
        min-width: 600px;
        flex: 1 1 calc(33.33% - 40px);
        margin: 20px;
    }

    div.one-thirds {
        text-align: center;
        min-width: 600px;
        flex: 1 1 calc(33.33% - 40px);
        margin: 20px;
    }

        div.one-thirds iframe {
            align-content: end;
            width: 100%;
            height: 300px;
        }

    div.two-thirds {
        text-align: center;
        min-width: 300px;
        flex: 1 1 calc(66.66% - 40px);
        margin: 20px;
    }

    div.verticalalign {
        margin: auto;
    }

    div.employee {
        margin-top: 100px;
    }

        div.employee div.doubleblock h2 {
            font-size: 34px;
        }

        div.employee div.doubleblock h4 {
            color: forestgreen;
            font-size: 24px;
        }

        div.employee div.doubleblock h5 {
            font-size: 24px;
        }

        div.employee div.doubleblock p {
            font-size: 20px;
            margin-bottom: 0px;
            margin-top: 20px;
        }

        div.employee div.doubleblock img {
            width: 420px;
        }
</style>

<section class="paddingheader paddingcontent">
    <div class="flexblock employee">
        <div class="doubleblock imgblock">
            <img src="~/css/image/kartashov.png.png" />
        </div>

        <div class="doubleblock verticalalign textblock">
            <h2>Карташов Олег Олегович</h2>
            <h4>Директор центра IT притяжения</h4>

            <p>Рабочий номер телефона:</p>
            <h5>8 (999) 999 99 99</h5>

            <p>Электронная почта:</p>
            <h5>centerit@@gmail.com</h5>
        </div>
    </div>

    <div class="flexblock employee">
        <div class="doubleblock imgblock">
            <img src="~/css/image/kartashov.png.png" />
        </div>

        <div class="doubleblock verticalalign textblock">

            <h2>Карташов Олег Олегович</h2>
            <h4>Директор центра IT притяжения</h4>

            <p>Рабочий номер телефона:</p>
            <h5>8 (999) 999 99 99</h5>

            <p>Электронная почта:</p>
            <h5>centerit@@gmail.com</h5>
        </div>
    </div>

    <div class="flexblock employee">
        <div class="doubleblock imgblock">
            <img src="~/css/image/kartashov.png.png" />
        </div>

        <div class="doubleblock verticalalign textblock">

            <h2>Карташов Олег Олегович</h2>
            <h4>Директор центра IT притяжения</h4>

            <p>Рабочий номер телефона:</p>
            <h5>8 (999) 999 99 99</h5>

            <p>Электронная почта:</p>
            <h5>centerit@@gmail.com</h5>
        </div>
    </div>
</section>