﻿@{
    ViewData["Title"] = "Home Page";

    if (ViewBag.Layout == 1)
    {
        Layout = "_Layout.Mobile";
    }
}



<style>
    div#TopContainer {
        display: inline-block;
        margin-top: 8vw;
        position: relative;
        text-align: center;
        height: 60vh;
        width: 100%;
        overflow: hidden;
    }

    img#mainimg {
        height: 100%;
    }


    img#logo {
        position: absolute;
        width: 20vw;
        margin: 0 auto;
        top: 20%;
        left: 5vw;
    }

    img#logo_circle1 {
        position: absolute;
        width: 15vw;
        margin: 0 auto;
        top: 10%;
        right: 20vw;
    }

    img#logo_circle2 {
        position: absolute;
        width: 15vw;
        margin: 0 auto;
        top: 10%;
        right: 5vw;
    }

    div#TopContainer > h1 {
        text-align: left;
        font-size: 8vw;
        font-weight: bold;
        position: absolute;
        left: 30vw;
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

        div#TopContainer > h1#first {
            top: 30%;
        }

        div#TopContainer > h1#second {
            top: 40%;
        }

    @@media (orientation: landscape) {
        div#TopContainer {
            display: inline-block;
            margin-top: 5vw;
            position: relative;
            text-align: center;
            height: 75vh;
            width: 100%;
            overflow: hidden;
        }

        img#logo {
            position: absolute;
            width: 15vw;
            margin: 0 auto;
            top: 20%;
            left: 5vw;
        }

        img#mainimg {
            width: 100%;
        }

        div#TopContainer > h1#second {
            top: 60%;
        }
    }
</style>

<div id="TopContainer">
    <img id="mainimg" src="~/css/image/mathis-lesieur-jpeg-4k.jpg" />
    <h1 id="first">Центр</h1>
    <h1 id="second">IT притяжения</h1>
    <img id="logo" src="~/css/image/LogoLine.svg" alt="" />

    <img id="logo_circle1" src="~/css/image/logo-itu.png" alt="" />
    <img id="logo_circle2" src="~/css/image/logo-rgups.png" alt="" />
</div>

<script>
</script>



<style>
    #Page_starter_box_second_mobile-conteiner {
        margin-top: 5vh;
        position: relative;
        width: 100%;
        background-color: #ffffff;
        /*transition:0.2s;*/
    }

    .Page_starter_box_second_mobile-conteiner-normal {
        height: 130vw;
    }

    .Page_starter_box_second_mobile-conteiner-big {
        height: 168vw;
    }

    #Page_starter_box_second_mobile-conteiner > img.Page_starter_box_second_mobile-image {
        transform: translate(-50%,-50%) rotate(90deg);
        position: absolute;
        left: 50%;
        z-index: 3;
        border-radius: 1.5vw;
        /*transition:0.2s;*/
    }

    .Page_starter_box_second_mobile-info-box-conteiner {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        z-index: 2;
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
        height: 0;
        width: 80vw;
        overflow: hidden;
        /*transition:0.2s;*/
    }

        .Page_starter_box_second_mobile-info-box-conteiner > .Page_starter_box_second_mobile-info-box {
            height: 100%;
            width: 100%;
            position: absolute;
            bottom: 0;
            background: rgba(0,0,0,0.9);
        }

    #Page_starter_box_second_mobile-conteiner > .Page_starter_box_second_mobile-info-box-conteiner-active {
        height: 30vw;
        z-index: 4;
    }

    .Page_starter_box_second_mobile-info-box-conteiner:nth-child(08) {
        top: 010vw;
    }

    .Page_starter_box_second_mobile-info-box-conteiner:nth-child(09) {
        top: 025vw;
    }

    .Page_starter_box_second_mobile-info-box-conteiner:nth-child(10) {
        top: 040vw;
    }

    .Page_starter_box_second_mobile-info-box-conteiner:nth-child(11) {
        top: 055vw;
    }

    .Page_starter_box_second_mobile-info-box-conteiner:nth-child(12) {
        top: 070vw;
    }

    .Page_starter_box_second_mobile-info-box-conteiner:nth-child(13) {
        top: 085vw;
    }

    .Page_starter_box_second_mobile-info-box-conteiner:nth-child(14) {
        top: 100vw;
    }

    #Page_starter_box_second_mobile-conteiner > img.Page_starter_box_second_mobile-image-active {
        height: 85vw;
        z-index: 5;
    }

    .Page_starter_box_second_mobile-image:nth-child(01) {
        top: 010vw;
        height: 80vw;
    }

    .Page_starter_box_second_mobile-image:nth-child(02) {
        top: 025vw;
        height: 80vw;
    }

    .Page_starter_box_second_mobile-image:nth-child(03) {
        top: 040vw;
        height: 80vw;
    }

    .Page_starter_box_second_mobile-image:nth-child(04) {
        top: 055vw;
        height: 80vw;
    }

    .Page_starter_box_second_mobile-image:nth-child(05) {
        top: 070vw;
        height: 80vw;
    }

    .Page_starter_box_second_mobile-image:nth-child(06) {
        top: 085vw;
        height: 80vw;
    }

    .Page_starter_box_second_mobile-image:nth-child(07) {
        top: 100vw;
        height: 80vw;
    }

    .Page_starter_box_second_mobile-info-box > img {
        position: absolute;
        width: 15%;
        left: 5%;
        top: 30%;
    }

    .Page_starter_box_second_mobile-info-box > h3 {
        text-align: center;
        margin: 0;
        font-size: 2.5vw;
        color: #ffffff;
        font-weight: 600;
        position: absolute;
        width: 60%;
        left: 30%;
        top: 30%;
    }

    .Page_starter_box_second_mobile-info-box > p {
        text-align: center;
        margin: 0;
        font-size: 1.8vw;
        color: #ffffff;
        font-weight: 300;
        position: absolute;
        width: 60%;
        left: 30%;
        top: 50%;
    }

    #Page_starter_box_second_mobile-button {
        position: absolute;
        left: 50%;
        bottom: 10vw;
        width: 30vw;
        height: 8vw;
        transform: translate(-50%,50%);
        border-radius: 1vw;
        color: #ffffff;
        background-color: #27ae60;
        animation: 5s SSM_click_me infinite;
    }

        #Page_starter_box_second_mobile-button > p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 80%;
            text-align: center;
            margin: 0;
            font-size: 2vw;
            font-weight: 300;
        }

    @@keyframes SSM_click_me {
        0% {
            background-color: #27ae60;
        }

        50% {
            background-color: #174b28;
        }

        100% {
            background-color: #27ae60;
        }
    }
</style>

<div id="Page_starter_box_second_mobile-conteiner" class="Page_starter_box_second_mobile-conteiner-normal">
    <img class="Page_starter_box_second_mobile-image" src="~/css/image/3D-Rendering-Before-after.jpg.png" />
    <img class="Page_starter_box_second_mobile-image" src="~/css/image/3D-Rendering-Before-after.jpg.png" />
    <img class="Page_starter_box_second_mobile-image" src="~/css/image/3D-Rendering-Before-after.jpg.png" />
    <img class="Page_starter_box_second_mobile-image" src="~/css/image/3D-Rendering-Before-after.jpg.png" />
    <img class="Page_starter_box_second_mobile-image" src="~/css/image/3D-Rendering-Before-after.jpg.png" />
    <img class="Page_starter_box_second_mobile-image" src="~/css/image/3D-Rendering-Before-after.jpg.png" />
    <img class="Page_starter_box_second_mobile-image" src="~/css/image/3D-Rendering-Before-after.jpg.png" />

    <div class="Page_starter_box_second_mobile-info-box-conteiner">
        <div class="Page_starter_box_second_mobile-info-box">
            <img src="~/css/image/LogoLine.svg" />
            <h3>3D моделирование</h3>
            <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
        </div>
    </div>
    <div class="Page_starter_box_second_mobile-info-box-conteiner">
        <div class="Page_starter_box_second_mobile-info-box">
            <img src="~/css/image/LogoLine.svg" />
            <h3>3D моделирование</h3>
            <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
        </div>
    </div>
    <div class="Page_starter_box_second_mobile-info-box-conteiner">
        <div class="Page_starter_box_second_mobile-info-box">
            <img src="~/css/image/LogoLine.svg" />
            <h3>3D моделирование</h3>
            <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
        </div>
    </div>
    <div class="Page_starter_box_second_mobile-info-box-conteiner">
        <div class="Page_starter_box_second_mobile-info-box">
            <img src="~/css/image/LogoLine.svg" />
            <h3>3D моделирование</h3>
            <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
        </div>
    </div>
    <div class="Page_starter_box_second_mobile-info-box-conteiner">
        <div class="Page_starter_box_second_mobile-info-box">
            <img src="~/css/image/LogoLine.svg" />
            <h3>3D моделирование</h3>
            <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
        </div>
    </div>
    <div class="Page_starter_box_second_mobile-info-box-conteiner">
        <div class="Page_starter_box_second_mobile-info-box">
            <img src="~/css/image/LogoLine.svg" />
            <h3>3D моделирование</h3>
            <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
        </div>
    </div>
    <div class="Page_starter_box_second_mobile-info-box-conteiner">
        <div class="Page_starter_box_second_mobile-info-box">
            <img src="~/css/image/LogoLine.svg" />
            <h3>3D моделирование</h3>
            <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
        </div>
    </div>

    <div id="Page_starter_box_second_mobile-button">
        <p>Связаться с нами</p>
    </div>
</div>

<script>
    $("#Page_starter_box_second_mobile-button").click(function () {
        ajaxlinkto("/Contacts", "#contacts");
        $("#contacts").addClass("active");
    });

    var SSM_conteiner = document.getElementById("Page_starter_box_second_mobile-conteiner");
    var SSM_array_image = document.getElementsByClassName("Page_starter_box_second_mobile-image");
    var SSM_array_info = document.getElementsByClassName("Page_starter_box_second_mobile-info-box-conteiner");

    function For_delete_active_node() {
        if (SSM_conteiner.classList.contains("Page_starter_box_second_mobile-conteiner-big")) SSM_conteiner.classList.remove("Page_starter_box_second_mobile-conteiner-big");
        for (var j = 0; j < SSM_array_image.length; j++) {
            if (SSM_array_image[j].classList.contains("Page_starter_box_second_mobile-image-active")) { SSM_array_image[j].classList.remove("Page_starter_box_second_mobile-image-active"); SSM_array_info[j].classList.remove("Page_starter_box_second_mobile-info-box-conteiner-active"); }
        }
    }

    SSM_array_image[0].onclick = function () {
        if (!SSM_array_image[0].classList.contains("Page_starter_box_second_mobile-image-active")) {
            For_delete_active_node();
            SSM_array_image[0].classList.add("Page_starter_box_second_mobile-image-active");
            SSM_array_info[0].classList.add("Page_starter_box_second_mobile-info-box-conteiner-active");
        }
        else For_delete_active_node();
    }
    SSM_array_image[1].onclick = function () {
        if (!SSM_array_image[1].classList.contains("Page_starter_box_second_mobile-image-active")) {
            For_delete_active_node();
            SSM_array_image[1].classList.add("Page_starter_box_second_mobile-image-active");
            SSM_array_info[1].classList.add("Page_starter_box_second_mobile-info-box-conteiner-active");
        }
        else For_delete_active_node();
    }
    SSM_array_image[2].onclick = function () {
        if (!SSM_array_image[2].classList.contains("Page_starter_box_second_mobile-image-active")) {
            For_delete_active_node();
            SSM_array_image[2].classList.add("Page_starter_box_second_mobile-image-active");
            SSM_array_info[2].classList.add("Page_starter_box_second_mobile-info-box-conteiner-active");
        }
        else For_delete_active_node();
    }
    SSM_array_image[3].onclick = function () {
        if (!SSM_array_image[3].classList.contains("Page_starter_box_second_mobile-image-active")) {
            For_delete_active_node();
            SSM_array_image[3].classList.add("Page_starter_box_second_mobile-image-active");
            SSM_array_info[3].classList.add("Page_starter_box_second_mobile-info-box-conteiner-active");
        }
        else For_delete_active_node();
    }
    SSM_array_image[4].onclick = function () {
        if (!SSM_array_image[4].classList.contains("Page_starter_box_second_mobile-image-active")) {
            For_delete_active_node();
            SSM_array_image[4].classList.add("Page_starter_box_second_mobile-image-active");
            SSM_array_info[4].classList.add("Page_starter_box_second_mobile-info-box-conteiner-active");
        }
        else For_delete_active_node();
    }
    SSM_array_image[5].onclick = function () {
        if (!SSM_array_image[5].classList.contains("Page_starter_box_second_mobile-image-active")) {
            For_delete_active_node();
            SSM_array_image[5].classList.add("Page_starter_box_second_mobile-image-active");
            SSM_array_info[5].classList.add("Page_starter_box_second_mobile-info-box-conteiner-active");
        }
        else For_delete_active_node();
    }
    SSM_array_image[6].onclick = function () {
        if (!SSM_array_image[6].classList.contains("Page_starter_box_second_mobile-image-active")) {
            For_delete_active_node();
            SSM_array_image[6].classList.add("Page_starter_box_second_mobile-image-active");
            SSM_array_info[6].classList.add("Page_starter_box_second_mobile-info-box-conteiner-active");

            SSM_conteiner.classList.add("Page_starter_box_second_mobile-conteiner-big");
        }
        else For_delete_active_node();
    }
</script>

<style>
    #Page_starter_box_fourth_mobile-conteiner {
        position: relative;
        width: 100%;
        height: 120vw;
        background-color: #f2994a;
        overflow: hidden;
    }

        #Page_starter_box_fourth_mobile-conteiner > img {
            margin-top: 18vw;
            width: 100%;
        }

        #Page_starter_box_fourth_mobile-conteiner > h4 {
            position: absolute;
            top: 3.5vw;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #000000;
            font-size: 4vw;
            text-align: center;
            width: 80%;
        }

        #Page_starter_box_fourth_mobile-conteiner > p {
            position: absolute;
            top: 82vw;
            left: 2.5%;
            color: #000000;
            font-size: 2.6vw;
            text-align: center;
            width: 95%;
            height: 20vw;
            overflow: hidden;
        }

        #Page_starter_box_fourth_mobile-conteiner > div.button {
            position: absolute;
            bottom: 2vw;
            left: 55%;
            background-color: #000000;
            border-radius: 0.5vw;
            color: #ff9b35;
            width: 40%;
            height: 7%;
        }

            #Page_starter_box_fourth_mobile-conteiner > div.button::after {
                content: "";
                transform: translate(-50%,-50%) rotate(45deg);
                position: absolute;
                left: 50%;
                top: 100%;
                width: 2vw;
                height: 2vw;
                background-color: #000000;
            }

            #Page_starter_box_fourth_mobile-conteiner > div.button > img {
                position: absolute;
                left: 2vw;
                top: 50%;
                transform: translate(0,-50%);
                height: 80%;
            }

            #Page_starter_box_fourth_mobile-conteiner > div.button > p {
                position: absolute;
                margin: 0;
                width: 40%;
                left: 45%;
                top: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                font-size: 4vw;
            }
</style>

<div id="Page_starter_box_fourth_mobile-conteiner">
    <h4>Мы воплотим ваши мечты <br /> в реальность</h4>
    <img src="~/css/image/project.jpg" />
    <p>публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях.</p>
    <div id="button-our-project" class="button">
        <img src="~/css/image/icons8-проект-90-2.png" />
        <p>Подробнее</p>
    </div>
</div>


<style>

    #Page_starter_box_three_mobile-conteiner {
        position: relative;
        width: 100%;
        height: 280vw;
        background-color: #c4c4c4;
    }

        #Page_starter_box_three_mobile-conteiner > h3 {
            margin: 0;
            position: absolute;
            top: 8vw;
            left: 50%;
            width: 40%;
            text-align: center;
            transform: translateX(-50%);
            font-size: 6vw;
            font-weight: 600;
        }

        #Page_starter_box_three_mobile-conteiner > p {
            margin: 0;
            position: absolute;
            top: 17vw;
            left: 50%;
            width: 70%;
            text-align: center;
            transform: translateX(-50%);
            font-size: 2vw;
            font-weight: 300;
        }

        #Page_starter_box_three_mobile-conteiner > .elements-we-info {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 94%;
            height: 67vw;
            background-color: #141b24;
            overflow: hidden;
        }

    #Page_starter_box_three_mobile-element-node1 {
        top: 40vw;
    }

    #Page_starter_box_three_mobile-element-node2 {
        top: 120vw;
    }

    #Page_starter_box_three_mobile-element-node3 {
        top: 200vw;
    }

    #Page_starter_box_three_mobile-conteiner > .elements-we-info > img {
        width: 60%;
        position: absolute;
        left: -2%;
        top: 0%;
    }

    #Page_starter_box_three_mobile-conteiner > .elements-we-info > h6 {
        position: absolute;
        width: 60%;
        margin: 0;
        left: -2%;
        top: 80%;
        font-size: 5vw;
        color: #c4c4c4;
        font-weight: 400;
        text-align: center;
    }

    #Page_starter_box_three_mobile-conteiner > .elements-we-info > p {
        margin: 0;
        position: absolute;
        top: 15%;
        left: 55%;
        overflow: hidden;
        width: 40%;
        height: 55%;
        color: #c4c4c4;
        font-size: 2vw;
        font-weight: 400;
        text-align: center;
    }

    #Page_starter_box_three_mobile-conteiner > .elements-we-info > div {
        border-radius: 1vw;
        border: 0.2vw #c4c4c4 solid;
        overflow: hidden;
        position: absolute;
        top: 80%;
        right: 5%;
        height: 10%;
        width: 40%;
    }

        #Page_starter_box_three_mobile-conteiner > .elements-we-info > div > p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            color: #c4c4c4;
            font-size: 3.6vw;
        }

        #Page_starter_box_three_mobile-conteiner > .elements-we-info > div::before {
            position: absolute;
            height: 1.4vw;
            width: 1.4vw;
            content: "";
            transform: translate(-50%,-50%) rotate(45deg);
            top: 50%;
            left: 100%;
            background-color: #c4c4c4;
        }

        #Page_starter_box_three_mobile-conteiner > .elements-we-info > div::after {
            position: absolute;
            height: 1.4vw;
            width: 1.4vw;
            content: "";
            transform: translate(-50%,-50%) rotate(45deg);
            top: 50%;
            left: 0%;
            background-color: #c4c4c4;
        }
</style>

<div id="Page_starter_box_three_mobile-conteiner">
    <h3>О нас</h3>
    <p class="paddingcontent">
        Alexander Kalmbakh 9:39 AM
        Дима, я опоздаю минут на десять это ничего или лучше не заходить после 10 часов
        Dmitry Polyanichenko:sunglasses: 9:39 AM
        ничего
        Alexander Kalmbakh 9:39 AM
        Оке
    </p>
    <div id="Page_starter_box_three_mobile-element-node1" class="elements-we-info">
        <img src="~/css/image/590af12c29f06c72ed805802_The-Five-Best-Companies-For-3D-Rendering-Services-EASY-RENDER.jpg.png" />
        <h6>Моделеры</h6>
        <p>
            David Karapetian 5:58 PM
            25 сентября Илья Гамидов празднует свой день рождения. Просьба сдать деньги Насте и Соне.
            David Karapetian 4:45 PM
            3 октября Софья Рубцова празднует свой день рождения. Просьба сдать деньги Насте.
            David Karapetian 3:01 PM
            9 октября Маша празднует свой день рождения. Просьба сдать деньги Насте и Соне.
            Ilya Gamidov 7:40 PM
            Меня завтра не будет.
            Alexander Zhdanov 9:50 PM
            Завтра в 9:30 нужно быть в А128
            Alexander Zhdanov 9:55 PM
            ОТБОЙ
        </p>
        <div id="Page_starter_box_three-href-to-page-info-we-button-mode"><p>Перейти</p></div>
    </div>
    <div id="Page_starter_box_three_mobile-element-node2" class="elements-we-info">
        <img src="~/css/image/Без имени-1.png" />
        <h6>Разработчики</h6>
        <p>
            David Karapetian 5:58 PM
            25 сентября Илья Гамидов празднует свой день рождения. Просьба сдать деньги Насте и Соне.
            David Karapetian 4:45 PM
            3 октября Софья Рубцова празднует свой день рождения. Просьба сдать деньги Насте.
            David Karapetian 3:01 PM
            9 октября Маша празднует свой день рождения. Просьба сдать деньги Насте и Соне.
            Ilya Gamidov 7:40 PM
            Меня завтра не будет.
            Alexander Zhdanov 9:50 PM
            Завтра в 9:30 нужно быть в А128
            Alexander Zhdanov 9:55 PM
            ОТБОЙ
        </p>
        <div id="Page_starter_box_three-href-to-page-info-we-button-code"><p>перейти</p></div>
    </div>
    <div id="Page_starter_box_three_mobile-element-node3" class="elements-we-info">
        <img src="~/css/image/590af12c29f06c72ed805802_The-Five-Best-Companies-For-3D-Rendering-Services-EASY-RENDER.jpg.png" />
        <h6>Художники</h6>
        <p>
            David Karapetian 5:58 PM
            25 сентября Илья Гамидов празднует свой день рождения. Просьба сдать деньги Насте и Соне.
            David Karapetian 4:45 PM
            3 октября Софья Рубцова празднует свой день рождения. Просьба сдать деньги Насте.
            David Karapetian 3:01 PM
            9 октября Маша празднует свой день рождения. Просьба сдать деньги Насте и Соне.
            Ilya Gamidov 7:40 PM
            Меня завтра не будет.
            Alexander Zhdanov 9:50 PM
            Завтра в 9:30 нужно быть в А128
            Alexander Zhdanov 9:55 PM
            ОТБОЙ
        </p>
        <div id="Page_starter_box_three-href-to-page-info-we-button-arti"><p>перейти</p></div>
    </div>
</div>

<style>
    .section-vidos {
        display: block;
        width: 100%;
        padding: 5vh 0;
        background-color: #fff;
        height: 70.0vmin;
        position: relative;
    }
</style>

<section class="section-vidos">
    <iframe style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:89.6vmin;height:50.4vmin;" width="1120" height="630" src="https://www.youtube.com/embed/uSvD8Pn4d9Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

<script>
    $("#Page_starter_box_three-href-to-page-info-we-button-code").click(function () {
        ajaxlinkto("/About", "#about");
    });

    $("#Page_starter_box_three-href-to-page-info-we-button-mode").click(function () {
        ajaxlinkto("/About", "#about");
    });

    $("#Page_starter_box_three-href-to-page-info-we-button-arti").click(function () {
        ajaxlinkto("/About", "#about");
    });
</script>


<script>
    $("#button-our-project").click(function () {
        ajaxlinkto("/Projects", "#projects");
    });
</script>