﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
    section#mainsection {
        padding: 0 !important;
    }

    #Page_starter_box_ferst {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    #Page_starter_box_ferst-bacgraund-image {
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%,-50%);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
    }

    #Page_starter_box_ferst-logo-CITG-conteiner {
        width: 20%;
        height: auto;
        position: absolute;
        left: 5%;
        top: 20%;
        z-index: 4;
    }

    #Page_starter_box_ferst-logo-CITG-image {
        width: 25%;
    }

    #Page_starter_box_ferst-logo-CITG-text {
        width: 75%;
        position: absolute;
        bottom: 0;
        left: 25%;
        font-size: 3vw;
        color: #ffffff;
        font-weight: 500;
    }

    .Page_starter_box_ferst-image-logo {
        position: absolute;
        top: 20%;
        width: 10%;
        z-index: 4;
    }

    #Page_starter_box_ferst-logo-ITU {
        right: 20%;
        transform:translateY(9%);
    }

    #Page_starter_box_ferst-logo-RGUPS {
        right: 10%;
    }

    #Page_starter_box_ferst-bottom-text {
        width: 30vw;
        position: absolute;
        top: 70%;
        left: 5%;
        font-size: 1.9vw;
        color: #c4c4c4;
        font-weight: 300;
        z-index: 4;
    }

    #Page_starter_box_ferst-shadow-down {
        width: 100%;
        height: 2%;
        position: relative;
        background: linear-gradient(#000000,#ffffff);
    }
</style>

<section class="section" id="mainsection">
    <div id="Page_starter_box_ferst">
        <img id="Page_starter_box_ferst-bacgraund-image" src="~/css/image/main.png" />
        <div id="Page_starter_box_ferst-logo-CITG-conteiner">
            <img id="Page_starter_box_ferst-logo-CITG-image" src="~/css/image/LogoLine.svg" />
            <div id="Page_starter_box_ferst-logo-CITG-text">Центр IT притяжения</div>
        </div>
        <img class="Page_starter_box_ferst-image-logo" id="Page_starter_box_ferst-logo-ITU" src="~/css/image/logo-rgups.png" />
        <img class="Page_starter_box_ferst-image-logo" id="Page_starter_box_ferst-logo-RGUPS" src="~/css/image/logo-itu.png" />
        <div id="Page_starter_box_ferst-bottom-text" class="textIndent">Мы создаем легкие решения<br />сложных задач</div>
    </div>
    <div id="Page_starter_box_ferst-shadow-down"></div>
</section>

<style>
    #Page_starter_box_second-we-will-do-for-you {
        padding: 1vh 0;
        height: 20%;
        width: 100%;
        position: relative;
        background-color: #f4f4f4;
    }

    #Page_starter_box_second-we-will-do-for-you-main-text {
        text-align: center;
        font-size: 2vw;
        font-weight: 300;
        color: #333;
        margin: 0;
        transform: translate(0,120%);
    }

    #Page_starter_box_second-we-will-do-for-you-text {
        text-align: center;
        font-size: 1.1vw;
        font-weight: 300;
        color: #999999;
        margin: 0;
        transform: translate(0,120%);
    }

    #Page_starter_box_second-conteiner {
        position: relative;
        width: 100%;
        height: 60%;
        background-color: #f4f4f4;
        overflow: hidden;
    }

    .Page_starter_box_second-elements {
        height: 100%;
        width: 10%;
        position: absolute;
        top: 0;
    }

    #Page_starter_box_second-element1 {
        left: 16.95%;
    }

    #Page_starter_box_second-element2 {
        left: 25.95%;
    }

    #Page_starter_box_second-element3 {
        left: 34.95%;
    }

    #Page_starter_box_second-element4 {
        left: 43.95%;
    }

    #Page_starter_box_second-element5 {
        left: 52.95%;
    }

    #Page_starter_box_second-element6 {
        left: 61.95%;
    }

    #Page_starter_box_second-element7 {
        left: 70.95%;
    }

    .Page_starter_box_second-element-image {
        height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    #Page_starter_box_second-conteiner-info-blok-hidden {
        height: 94%;
        width: 20%;
        transform: translateY(-50%);
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 0;
    }

    #Page_starter_box_second-conteiner-info-blok-hidden-info {
        height: 100%;
        width: 100%;
        bottom: 0%;
        background: rgba(0,0,0,0.9);
        position: absolute;
        border-radius: 0.5vw;
        box-shadow: 0 0 10px #999999 inset;
    }

    @@keyframes push {
        from {
            right: 100%;
        }

        to {
            right: 0;
        }
    }

    .Page_starter_box_second-conteiner-info-blok-hidden-info-active {
        animation: 0.2s push linear;
    }

    .Page_starter_box_second-conteiner-info-blok-hidden-info-passive {
        right: 100%;
    }

    .Page_starter_box_second-conteiner-info-blok-hidden-active {
        z-index: 4;
        visibility: visible;
    }

    .Page_starter_box_second-conteiner-info-blok-hidden-passive {
        z-index: -1;
        visibility: hidden;
    }

    .Page_starter_box_second-element-image:hover {
        height: 95%;
        z-index: 5;
        box-shadow: rgba(0,0,0,0.6) 0.5vw 0.5vw 0.5vw;
    }

    #Page_starter_box_second-image-in-info-box {
        position: relative;
        margin:10% 15% 0% 15%;
        width: 70%;
    }

    #Page_starter_box_second-text-in-info-box {
        position: absolute;
        /*top: 40%;*/
        bottom:4%;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        font-size: 16px;
        color: #ffffff;
        text-align: left;
        text-indent: 15px;
        margin:20px auto;
    }

    #Page_starter_box_second-conteiner-href {
        height: 15%;
        width: 100%;
        background-color: #f4f4f4;
        position: relative;
    }

    #Page_starter_box_second-conteiner-href-button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
        height: 3vw;
        width: 16.5vw;
        background-color: #27ae60;
        border-radius: 0.2vw;
    }

    #Page_starter_box_second-conteiner-href-button-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 0.9vw;
        color: #000000;
    }

    #Page_starter_box_second-conteiner-href-button:hover {
        cursor: pointer;
        transition: 0.5s;
        background-color: #174b28;
    }

        #Page_starter_box_second-conteiner-href-button:hover #Page_starter_box_second-conteiner-href-button-text {
            transition: 0.5s;
            color: #ffffff;
        }

    .Page_starter_box_second-elements_text{
        display: none;
    }
    .inImageHidden{
        display:none;
        visibility:hidden;
    }
</style>

<section class="section" style="background-color: #f4f4f4">
    <div id="Page_starter_box_second-we-will-do-for-you">
        <div id="Page_starter_box_second-we-will-do-for-you-main-text">Чем мы занимаемся</div>
        <div id="Page_starter_box_second-we-will-do-for-you-text">Основные направления проектной деятельности<br />центра IT-притяжения</div>
    </div>
    <div id="Page_starter_box_second-conteiner">
        <div id="Page_starter_box_second-element1" class="Page_starter_box_second-elements">
            <img class="Page_starter_box_second-element-image" src="~/css/image/action1.png" />
            <p class="Page_starter_box_second-elements_text">
                Разработка программного обеспечения под мобильные платформы (Android, IOS, IPadOS и т.д.)
            </p>
            <img src="~/css/images/icon/icons8-режим-разработчика-100.png" class="inImageHidden" />
        </div>
        <div id="Page_starter_box_second-element2" class="Page_starter_box_second-elements">
            <img class="Page_starter_box_second-element-image" src="~/css/image/action2.png" />
            <p class="Page_starter_box_second-elements_text">
                Разработка программного обеспечения под Windows и Unix совместимые платформы
            </p>
            <img src="~/css/images/icon/icons8-производительность-macbook-100.png" class="inImageHidden" />
        </div>
        <div id="Page_starter_box_second-element3" class="Page_starter_box_second-elements">
            <img class="Page_starter_box_second-element-image" src="~/css/image/action3.png" />
            <p class="Page_starter_box_second-elements_text">
                Разработка GameReady dynamic оптимизированных 3D моделей, анимаций, ray tracing и real time визуализаций
            </p>
            <img src="~/css/images/icon/icons8-сахарные-кубики-100.png" class="inImageHidden" />
        </div>
        <div id="Page_starter_box_second-element4" class="Page_starter_box_second-elements">
            <img class="Page_starter_box_second-element-image" src="~/css/image/action4.png" />
            <p class="Page_starter_box_second-elements_text">
                Разработка дизайна мобильных приложений, web-сайтов, концептов персонажей и environment игровых приложений
            </p>
            <img src="~/css/images/icon/icons8-кодовый-файл-100.png" class="inImageHidden" />
        </div>
        <div id="Page_starter_box_second-element5" class="Page_starter_box_second-elements">
            <img class="Page_starter_box_second-element-image" src="~/css/image/action5.png" />
            <p class="Page_starter_box_second-elements_text">
                Разработка программного обеспечения и мобильных приложений виртуальной и дополненной реальности
            </p>
            <img src="~/css/images/icon/icons8-шлем-виртуальной-реальности-htc-vive-100.png" class="inImageHidden" />
        </div>
        <div id="Page_starter_box_second-element6" class="Page_starter_box_second-elements">
            <img class="Page_starter_box_second-element-image" src="~/css/image/action6.png" />
            <p class="Page_starter_box_second-elements_text">
                Разработка дизайна, вёрстка сайтов, разработка браузерных приложений, разработка серверной части web-приложения
            </p>
            <img src="~/css/images/icon/icons8-палитра-96.png" class="inImageHidden" />
        </div>
        <div id="Page_starter_box_second-element7" class="Page_starter_box_second-elements">
            <img class="Page_starter_box_second-element-image" src="~/css/image/action7.png" />
            <p class="Page_starter_box_second-elements_text">
                Проведение мероприятий по развитию области иммерсивных информационных технологий в рамках региона
            </p>
            <img src="~/css/images/icon/icons8-смс-100.png" class="inImageHidden" />
        </div>
        <div id="Page_starter_box_second-conteiner-info-blok-hidden" class="Page_starter_box_second-conteiner-info-blok-hidden-passive">
            <div id="Page_starter_box_second-conteiner-info-blok-hidden-info" class="Page_starter_box_second-conteiner-info-blok-hidden-info-passive">
                <img id="Page_starter_box_second-image-in-info-box" />
                <div id="Page_starter_box_second-text-in-info-box" class="textIndent"></div>
            </div>
        </div>
    </div>
    <div id="Page_starter_box_second-conteiner-href">
        <div id="Page_starter_box_second-conteiner-href-button">
            <div id="Page_starter_box_second-conteiner-href-button-text">Связаться с нами</div>
        </div>
    </div>
</section>

<script>
    var imageBox = document.querySelector('#Page_starter_box_second-image-in-info-box');
    var textBox = document.querySelector('#Page_starter_box_second-text-in-info-box');
    var Page_starter_box_second_elements = document.querySelectorAll('.Page_starter_box_second-elements');

    for (var i = 0; i < Page_starter_box_second_elements.length; i++) {
        Page_starter_box_second_elements[i].addEventListener('mouseover', (el => {
            return () => {
                imageBox.src = el.querySelector('.inImageHidden').src;
                textBox.textContent = el.querySelector('.Page_starter_box_second-elements_text').textContent;
            };
        })(Page_starter_box_second_elements[i]));
    }

</script>
<script>

    var image_list = document.getElementsByClassName("Page_starter_box_second-element-image");
    var help_box = document.getElementById("Page_starter_box_second-conteiner-info-blok-hidden");

    function HelpBoxV() {
        help_box.classList.add("Page_starter_box_second-conteiner-info-blok-hidden-active");
        help_box.classList.remove("Page_starter_box_second-conteiner-info-blok-hidden-passive");
        help_box.childNodes[1].classList.add("Page_starter_box_second-conteiner-info-blok-hidden-info-active");
        help_box.childNodes[1].classList.remove("Page_starter_box_second-conteiner-info-blok-hidden-info-passive");
    }
    function HelpBoxH() {
        help_box.classList.add("Page_starter_box_second-conteiner-info-blok-hidden-passive");
        help_box.classList.remove("Page_starter_box_second-conteiner-info-blok-hidden-active");
        help_box.childNodes[1].classList.add("Page_starter_box_second-conteiner-info-blok-hidden-info-passive");
        help_box.childNodes[1].classList.remove("Page_starter_box_second-conteiner-info-blok-hidden-info-active");
    }

    image_list[0].onmouseover = function () {
        HelpBoxV();
        help_box.style.left = "22.9%";
    }
    image_list[1].onmouseover = function () {
        HelpBoxV();
        help_box.style.left = "31.9%";
    }
    image_list[2].onmouseover = function () {
        HelpBoxV();
        help_box.style.left = "40.9%";
    }
    image_list[3].onmouseover = function () {
        HelpBoxV();
        help_box.style.left = "49.9%";
    }
    image_list[4].onmouseover = function () {
        HelpBoxV();
        help_box.style.left = "58.9%";
    }
    image_list[5].onmouseover = function () {
        HelpBoxV();
        help_box.style.left = "67.9%";
    }
    image_list[6].onmouseover = function () {
        HelpBoxV();
        help_box.style.left = "76.9%";
    }
    image_list[0].onmouseout = HelpBoxH;
    image_list[1].onmouseout = HelpBoxH;
    image_list[2].onmouseout = HelpBoxH;
    image_list[3].onmouseout = HelpBoxH;
    image_list[4].onmouseout = HelpBoxH;
    image_list[5].onmouseout = HelpBoxH;
    image_list[6].onmouseout = HelpBoxH;

    $("#Page_starter_box_second-conteiner-href-button").click(function () {
        ajaxlinkto("/Contacts", "#contacts");
        removeclass();
        $("#contacts").addClass("active");
    });

</script>

<style>

    div.gallary-row {
        text-align: center;
        margin: 50px;
        position:relative;
        height:25vw;
    }

    div.gallery-element {
        position: absolute;
        text-align: center;
        overflow: hidden;
        background:#333;
    }
    #gallery00{
        left:0;
        top:0;
        width:66%;
        height:12.2vw;
    }
    #gallery01{
        left:0;
        bottom:0;
        width:32.5%;
        height:12.2vw;
    }
    #gallery10{
        left:33.5%;
        bottom:0;
        width:32.5%;
        height:12.2vw;
    }
    #gallery11 {
        right: 0;
        top: 0;
        width: 33%;
        height: 25vw;
    }

        div.gallery-element:hover {
            cursor: pointer;
            border: 0;
            background-color: #333333aa;
            transition: 0.4s;
        }

        div.gallery-element > div.gallary-text {
            transition: 1s;
            color: #ffffff00;
        }

        div.gallery-element:hover > div.gallary-text {
            transition: 1s;
            color: #ffffffff;
            /*text-shadow: #333 1px 1px 0, #333 -1px -1px 0, #333 -1px 1px 0, #333 1px -1px 0;*/
        }

        div.gallery-element > div.gallary-text {
            position: absolute;
            top: 30%;
            left: 0;
            width: 100%;
            margin: 0 auto;
            height: 100%;
        }

        div.gallary-text > h4 {
            font-size: 20px;
        }

        div.gallary-text > p {
            font-size: 16px;
        }

        div.gallery-element > img {
            opacity: 0.5;
            display: block;
            content: "";
            min-width: 100%;
            min-height: 100%;
        }

    #Page_starter_box_nosecond-we-will-do-for-you {
        padding: 5vh 0 1vh 0;
        height: 20%;
        width: 100%;
        position: relative;
        background-color: #d4d4d4;
    }

    #Page_starter_box_nosecond-we-will-do-for-you-main-text {
        text-align: center;
        font-size: 2vw;
        font-weight: 300;
        color: #333;
        margin: 0;
        transform: translate(0,120%);
    }

    #Page_starter_box_nosecond-we-will-do-for-you-text {
        text-align: center;
        font-size: 1.1vw;
        font-weight: 300;
        color: #999999;
        margin: 0;
        transform: translate(0,120%);
    }

    .Page_starter_box_three-href-to-page-info-we-button {
        color: #333;
        transform: translate(-50%,-50%);
        position: absolute;
        height: 60%;
        width: 18%;
        top: 50%;
        border: 0.1vw #d3d3d3 solid;
        border-radius: 0.3vw;
        overflow: hidden;
        z-index: 5;
    }

    img.gallery-element_image{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:100%;
    }

    img.gallery-element_image.w115{ width:115%; }
    img.gallery-element_image.w125{ width:125%; }
</style>

<section class="section">

    <div id="Page_starter_box_nosecond-we-will-do-for-you">
        <div id="Page_starter_box_nosecond-we-will-do-for-you-main-text">Наши проекты</div>
        <div id="Page_starter_box_nosecond-we-will-do-for-you-text">Проекты, выполненные студентами в ходе обучения<br />в центре IT-притяжения.</div>
    </div>

    <div class="gallary-row">
        <div id="gallery10" class="gallery-element">
            <img class="gallery-element_image" src="~/css/images/project/inspector/Inspector1.png" />
            <div class="gallary-text">
                <h4>Тренажер рабочей профессии осмотрщик вагонов</h4>
                <p>Проект выполнен с применением технологии виртуальной реальности</p>
            </div>
        </div>
        <div id="gallery00" class="gallery-element">
            <img class="gallery-element_image w125" src="~/css/images/project/FitnessHub/FitnessHub6.png" />
            <div class="gallary-text">
                <h4>Приложение Fitness Hub</h4>
                <p>Мобильное приложение выполнено на основе платформы дополненной реальности</p>
            </div>
        </div>
        <div id="gallery11" class="gallery-element">
            <img class="gallery-element_image" src="~/css/images/project/KinectGirl/Kira1.png" />
            <div class="gallary-text">
                <h4>Виртуальный ассистент</h4>
                <p>Программно-аппаратная инсталляция трёхмерной модели с распознаванием речи</p>
            </div>
        </div>
        <div id="gallery01" class="gallery-element">
            <img class="gallery-element_image w115" src="~/css/images/project/SchemPong/SchemPong4.png" />
            <div class="gallary-text">
                <h4>Электронный пинг-понг</h4>
                <p>Мобильное приложение выполнено на основе платформы дополненной реальности</p>
            </div>
        </div>
    </div>
</section>

<div id="ModalProjects">
</div>

<style>
    #Page_starter_box_three-text-box {
        background-color: #f3f3f3;
        width: 100%;
        height: 14vw;
        position: relative;
    }

    #Page_starter_box_three-info-we-text-box {
        position: absolute;
        color: #000000;
        font-size: 2vw;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        margin: 0;
    }

    #Page_starter_box_three-sub-text-box {
        position: absolute;
        color: #000000;
        left: 50%;
        top: 65%;
        transform: translate(-50%,-50%);
        margin: 0;
        text-align: center;
        font-size: 1.1vw;
        font-weight: 300;
    }

    #Page_starter_box_three-href-to-page-info-we {
        margin-top: 0px;
        width: 100%;
        height: 5vw;
        position: relative;
    }

    .Page_starter_box_three-href-to-page-info-we-button {
        color: #333;
        transform: translate(-50%,-50%);
        position: absolute;
        height: 60%;
        width: 18%;
        top: 50%;
        border: 0.1vw #d3d3d3 solid;
        border-radius: 0.3vw;
        overflow: hidden;
        z-index: 5;
    }

        .Page_starter_box_three-href-to-page-info-we-button:before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(86deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 54%, rgba(214,136,0,1) 100%);
            clip-path: polygon(0 100%,0 0,100% 0,95% 100%);
            z-index: -1;
        }

        .Page_starter_box_three-href-to-page-info-we-button:hover:before {
            transition: 0.7s;
            left: 200%;
        }

        .Page_starter_box_three-href-to-page-info-we-button:hover {
            cursor: pointer;
            box-shadow: #aaa 5px 5px;
            border: 0;
            color: #fff;
            background-color: #666;
            transition: 0.4s;
        }

    #Page_starter_box_three-href-to-page-info-we-button-mode {
        left: 20%;
    }

    #Page_starter_box_three-href-to-page-info-we-button-code {
        left: 50%;
    }

    #Page_starter_box_three-href-to-page-info-we-button-arti {
        left: 80%;
    }

    .Page_starter_box_three-href-to-page-info-we-button-text {
        margin: 0;
        font-size: 1.2vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-60%);
        
    }

    #Page_starter_box_three-title-info-we-conteiner {
        background-color: #f4f4f4;
        width: 100%;
        height: 25vw;
        padding-top: 30px;
        position: relative;
    }

    .Page_starter_box_three-title-info-we-href-info {
        border-radius: 0.5vw;
        width: 26.22%;
        height: 100%;
        position: absolute;
        top: 0;
        transform: translate(-50%,0);
    }

    #Page_starter_box_three-title-info-we-href-info-mode {
        left: 20%;
    }

    #Page_starter_box_three-title-info-we-href-info-code {
        left: 50%;
    }

    #Page_starter_box_three-title-info-we-href-info-arti {
        left: 80%;
    }

    .Page_starter_box_three-title-info-we-href-info-image {
        width: 100%;
    }

    .ST-text-info {
        width: 90%;
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.4vw;
        color: #c4c4c4;
        text-align: center;
    }
</style>

<section style="background-color: #f4f4f4;" class="section">
    <div>
        <div id="Page_starter_box_three-text-box">
            <div id="Page_starter_box_three-info-we-text-box">О нас</div>
            <div id="Page_starter_box_three-sub-text-box">Участники команды разработчиков<br />при центре IT-притяжения.</div>
        </div>

        <div id="Page_starter_box_three-title-info-we-conteiner">
            <div class="Page_starter_box_three-title-info-we-href-info" id="Page_starter_box_three-title-info-we-href-info-mode">
                <img class="Page_starter_box_three-title-info-we-href-info-image" src="~/css/image/model.png" />
            </div>
            <div class="Page_starter_box_three-title-info-we-href-info" id="Page_starter_box_three-title-info-we-href-info-code">
                <img class="Page_starter_box_three-title-info-we-href-info-image" src="~/css/image/code.png" />
            </div>
            <div class="Page_starter_box_three-title-info-we-href-info" id="Page_starter_box_three-title-info-we-href-info-arti">
                <img class="Page_starter_box_three-title-info-we-href-info-image" src="~/css/image/design.png" />
            </div>
        </div>

        <div id="Page_starter_box_three-href-to-page-info-we">
            <div class="Page_starter_box_three-href-to-page-info-we-button" id="Page_starter_box_three-href-to-page-info-we-button-mode">
                <div class="Page_starter_box_three-href-to-page-info-we-button-text">3D художники</div>
            </div>
            <div class="Page_starter_box_three-href-to-page-info-we-button" id="Page_starter_box_three-href-to-page-info-we-button-code">
                <div class="Page_starter_box_three-href-to-page-info-we-button-text">Программисты</div>
            </div>
            <div class="Page_starter_box_three-href-to-page-info-we-button" id="Page_starter_box_three-href-to-page-info-we-button-arti">
                <div class="Page_starter_box_three-href-to-page-info-we-button-text">2D художники</div>
            </div>
        </div>
    </div>
</section>

<style>
    .section-vidos {
        display: block;
        width: 100%;
        padding: 5vh 0;
        background-color: #fff;
        height: 80.0vh;
        position: relative;
    }

    .video {
        margin: 10vh 0;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:112vmin;
        height:63vmin;
    }

    .video-paragraph {
        position: absolute;
        color: #000000;
        font-size: 2vw;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 10vh 0;
        font-weight: normal;
    }
</style>

@*<section class="section-vidos">
    
    <h2 class="video-paragraph">Видеоролик о центре IT притяжения</h2>
    
    //<iframe style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:112vmin;height:63vmin;" width="1120" height="630" src="https://www.youtube.com/embed/uSvD8Pn4d9Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <video controls="controls" class="video" poster="~/css/images/project/inspector/Inspector1.png">
        <source src="~/css/video/video.mp4" type="video/mp4" />
    </video>
</section>*@
<script>
    $("#Page_starter_box_three-href-to-page-info-we-button-code").click(function () {
        ajaxlinkto("/About", "#about");
    });

    $("#Page_starter_box_three-href-to-page-info-we-button-mode").click(function () {
        ajaxlinkto("/About", "#about");
    });

    $("#Page_starter_box_three-href-to-page-info-we-button-arti").click(function () {
        ajaxlinkto("/About", "#about");
    });
</script>
