﻿
@{
    ViewData["Title"] = "Projects";
}

@model List<Projects>

<style>
    #Page_project_box_first-conteiner_video_and_text {
        position: relative;
    }

    #Page_project_box_first-conteiner {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    #Page_project_box_first-image {
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%,-50%);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
    }

    #Page_project_box_first-box-shadow {
        position: relative;
        width: 100%;
        height: 2vw;
        background: linear-gradient(#000000,#ffffff);
    }

    #Page_project_box_first_arrow_container {
        position: fixed;
        right: 50%;
        bottom: 0;
        transform: translate(50%,0%);
        transition: 0.4s linear;
        width: 15vmin;
        height: 15vmin;
        border-top-left-radius: 1vmin;
        border-top-right-radius: 1vmin;
        background: #222A;
        z-index: 10;
        border: 1px solid #ffae2e;
        overflow: hidden;
    }

    #Page_project_box_first_arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
        height: 75%;
        transition: 0.4s linear;
        animation: 1s arrow_animate linear infinite;
    }

        #Page_project_box_first_arrow:hover {
            transition: 0.2s linear;
            animation: 0.6s arrow_animate linear infinite;
        }

    @@keyframes arrow_animate {
        0%, 100% {
            top: 7%;
        }

        50% {
            top: 18%;
        }
    }

    #container_boxSize_text_for_video_project {
        width: 32%;
        height: 70%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    #button_video_text_open {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0,-50%);
        background: #222;
        width: 200px;
        text-align: center;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        transition: 800ms;
    }

        #button_video_text_open > p {
            font-size: 20px;
            color: #ffae2e;
            cursor: pointer;
        }

        #button_video_text_open:hover {
            background: #2228;
            box-shadow: 0 0 3px #ffae2e, 0 0 5px #ffae2e, 0 0 10px #ffae2e;
        }

    #container_text___ {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(100%,-50%);
        width: 100%;
        height: 100%;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        background: #2226;
        transition: 800ms;
    }

        #container_text___:hover {
            background: #222D;
        }

    #container_text_static {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 95%;
        max-height: 95%;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        background: #222;
        overflow-y: auto;
        transition: 800ms;
    }

        #container_text_static:hover {
            box-shadow: 0 0 1px #ffae2e, 0 0 3px #ffae2e;
        }

    #container_text_scroll {
    }

    .text_project {
        font-size: 18px;
        color: #c4c4c4;
        margin: 20px;
    }

    #container_text_exit {
        width: 50%;
        height: auto;
        color: #ffae2e;
        font-size: 20px;
        text-align: center;
        margin: 10px auto;
        cursor: pointer;
        transition: 800ms;
        background: #ffae2e00;
        border-radius: 10px;
    }

        #container_text_exit:hover {
            background: #ffae2e40;
        }
</style>

<div id="Page_project_box_first_arrow_container">
    <svg id="Page_project_box_first_arrow" width="200" height="200" viewBox="0 0 200 200">
        <path stroke-width="2" fill="none" stroke="#ff0" d="M100,25 L100,175"></path>
        <path stroke-width="2" fill="none" stroke="#ff0" d="M75,150 L100,175 L125,150"></path>
    </svg>
</div>

<script>
    var Page_project_box_first_arrow_container = document.querySelector('#Page_project_box_first_arrow_container');
    document.body.addEventListener('scroll', event => {
        Page_project_box_first_arrow_container.style.transform = "translate(50%,100%)";
    });

    document.querySelector("#Page_project_box_first_arrow").addEventListener("click", function () {
        dn = $("#Page_project_box_second-conreiner").offset().top;
        $('html, body').animate({ scrollTop: dn }, 1000);
    });
</script>

<script src="~/js/jquery.vide.min.js"></script>

<div id="Page_project_box_first-conteiner_video_and_text">
    <div id="Page_project_box_first-conteiner" data-vide-bg="/css/video/video" data-vide-options="loop: false">
        @*<img id="Page_project_box_first-image" src="~/css/image/cyril-corallo-island-single.jpg" />*@
    </div>
    <div id="container_boxSize_text_for_video_project">
        <div id="button_video_text_open">
            <p>О проектах в целом</p>
        </div>
        <div id="container_text___">
            <div id="container_text_static">
                <div id="container_text_scroll" class="textIndent">
                    <p class="text_project">
                        Основными направлениями проектной деятельности центра является разработка программного обеспечения для широкого спектра целевых платформ, включающих в себя мобильные (Android, IOS, IPadOS и т.д.) и настольные решения (Windows и Unix совместимые платформы), а также соответствие разрабатываемых программных продуктов современным тенденциям информационной отрасли. При практической реализации проектов применяются наиболее перспективные технологии, отражающие суть рынка информационных технологий на сегодняшний день (блокчейн, искусственная нейронная сеть и т.д.).
                    </p>
                    <p class="text_project">
                        Одной из основных задач центра является выполнение проектной деятельности и проведение мероприятий по развитию области иммерсивных информационных технологий в рамках региона, а также сотрудничества с другими регионами в рамках продвижения предоставляемых услуг по созданию и поддержке программных продуктов данной области.
                    </p>
                    <div id="container_text_exit">
                        Скрыть
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var container_text_exit = document.querySelector('#container_text_exit');
    var container_text___ = document.querySelector('#container_text___');
    var button_video_text_open = document.querySelector('#button_video_text_open');

    button_video_text_open.addEventListener('click', event => {
        button_video_text_open.style.transform = "translate(100%,-50%)";
        container_text___.style.transform = "translate(0,-50%)";
    });
    container_text_exit.addEventListener('click', event => {
        button_video_text_open.style.transform = "translate(0,-50%)";
        container_text___.style.transform = "translate(100%,-50%)";
    });
</script>

<div id="Page_project_box_first-box-shadow"></div>


<style>
    #Page_project_box_second-conreiner {
        border-top: 5vw solid #ffffff;
        border-bottom: 3vw solid #ffffff;
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #ffffff;
        justify-content: center;
        z-index: 5;
    }

    .Page_project_box_second-elements {
        width: 21%;
        height: 21vw;
        background-color: #c4c4c4;
        margin: 1%;
        transition: 0.2s;
        overflow: hidden;
        position: relative;
    }

        .Page_project_box_second-elements:hover {
            /*transition:0.2s;*/
            transform: translateY(-2%);
            box-shadow: rgba(0,0,0,0.6) 0.7vw 0.7vw 0.7vw;
        }

    #Page_project_box_second-exit-conteiner {
        position: absolute;
        top: 7.5%;
        right: 7.5%;
        z-index: 9999;
        height: 5vw;
        width: 5vw;
    }

    #Page_project_box_second-exit {
        clip-path: polygon(40% 0,60% 0,60% 40%,100% 40%,100% 60%,60% 60%,60% 100%,40% 100%,40% 60%,0 60%,0 40%,40% 40%);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2.8vw;
        height: 2.8vw;
        transform: translate(-50%,-50%) rotate(45deg);
        background-color: #c4c4c4;
    }

        #Page_project_box_second-exit:before {
            position: absolute;
            top: 50%;
            left: 50%;
            content: "";
            width: 70%;
            height: 70%;
            transform: translate(-50%,-50%);
            /*clip-path:polygon(45% 0,55% 0,55% 45%,100% 45%,100% 55%,55% 55%,55% 100%,45% 100%,45% 55%,0 55%,0 45%,45% 45%);*/
            clip-path: inherit;
            background-color: #ffffff;
        }

    #Page_project_box_second-exit-conteiner:hover #Page_project_box_second-exit {
        animation: 1s bits infinite linear;
    }

        #Page_project_box_second-exit-conteiner:hover #Page_project_box_second-exit::before {
            transition: 0.3s;
            width: 100%;
            height: 100%;
        }

    @@keyframes bits {
        0% {
            width: 2.8vw;
            height: 2.8vw;
        }

        30% {
            width: 2.8vw;
            height: 2.8vw;
        }

        35% {
            width: 3.5vw;
            height: 3.5vw;
        }

        40% {
            width: 2.8vw;
            height: 2.8vw;
        }

        60% {
            width: 2.8vw;
            height: 2.8vw;
        }

        65% {
            width: 3.5vw;
            height: 3.5vw;
        }

        70% {
            width: 2.8vw;
            height: 2.8vw;
        }

        100% {
            width: 2.8vw;
            height: 2.8vw;
        }
    }

    #Page_project_box_second-help-conteiner {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.4);
        opacity: 0;
        transition: 0.8s all;
        z-index: -9;
    }

    #Page_project_box_second-modal-window {
        position: absolute;
        height: 85%;
        width: 85%;
        left: 7.5%;
        top: -100%;
        background-color: #000000;
        transition: 0.4s;
        transform-origin: center center;
        transform: rotateX(90deg);
        max-height: 42.5vw;
    }

    .Page_project_box_second-elements > img.PS-list-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 100%;
        width: auto;
    }


    #PS-image-conteiner-in-modal {
        position: absolute;
        overflow: hidden;
        width: 28.5%;
        height: 62%;
        left: 0.5%;
        top: 1%;
    }

    #PS-image-in-modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        height: 100%;
    }

    #PS-modal-name-project {
        position: absolute;
        top: 7%;
        left: 67%;
        transform: translateX(-50%);
        margin: 0;
        text-align: left;
        font-size: 1.3vw;
        color: #ddd;
    }

    #PS-modal-text-project-container {
        position: absolute;
        top: 22%;
        left: 67%;
        transform: translateX(-50%);
        width: 55%;
        height: 40%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #PS-modal-text-project {
        margin: 0 auto 2% auto;
        width: 94%;
        text-align: left;
        font-size: 1.2vw;
        color: #c4c4c4;
    }

    #PS-modal-line-container {
        position: absolute;
        top: 66%;
        left: 0.5%;
        width: 99%;
        height: 35%;
        overflow: hidden;
        display: flex;
    }

        #PS-modal-line-container::after {
            content: "";
            position: absolute;
            width: 98%;
            height: 2px;
            background: #333;
            top: 0;
            left: 1%;
        }

    .PS-list {
        position: relative;
        height: 100%;
        width: 20em;
        background-color: #ff0000;
    }

    .PS-list-image {
    }

    .PS-list-text-b {
        display: none;
    }

    .PS-list-text {
        display: none;
    }
</style>
<style>
    .PS-gif {
        z-index: -1;
        height: 120%;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .Page_project_box_second-elements:hover > .PS-gif {
        z-index: 5;
    }
</style>
<style>

    #image_scroll_container {
        position: absolute;
        width: 94%;
        height: 76%;
        overflow-x: hidden;
        overflow-y: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #image_scroll_container::-webkit-scrollbar-thumb{
        background:#c4c4c4;
    }

    #image_container {
        position: relative;
        height: 100%;
        display: flex;
    }

    .block {
        width: auto;
        height: 100%;
        padding: 0 5px;
    }

    .inBlock {
        width: auto;
        height: 100%;
        position: relative;
    }

    .inBlockImage {
        width: auto;
        height: 100%;
        cursor: pointer;
    }

    .inBlockVideo {
        width: auto;
        height: 100%;
        position: relative;
    }

    .hidden {
        display: none;
    }

    .buttonVideoPlay {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #222A;
    }
</style>
<style>
    #PS_BUTTON_ARROW_TO_L,
    #PS_BUTTON_ARROW_TO_R{
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        width:3vw;
        height:3vw;
        border-radius:50%;
        background:#0000;
        transition:0.2s;
        cursor:pointer;
        z-index:9;
    }
    #PS_BUTTON_ARROW_TO_L::after,
    #PS_BUTTON_ARROW_TO_R::after,
    #PS_BUTTON_ARROW_TO_L::before,
    #PS_BUTTON_ARROW_TO_R::before{
        content:'';
        position:absolute;
        width:50%;
        height:15%;
        background:#c4c4c4;
    }
    #PS_BUTTON_ARROW_TO_L::after {
        left:50%;
        top:50%;
        transform:translate(-50%,-145%) rotate(-45deg);
    }
    #PS_BUTTON_ARROW_TO_R::after {
        left:50%;
        top:50%;
        transform:translate(-50%,-145%) rotate(45deg);
    }
    #PS_BUTTON_ARROW_TO_L::before{
        left:50%;
        bottom:50%;
        transform:translate(-50%,145%) rotate(45deg);
    }
    #PS_BUTTON_ARROW_TO_R::before{
        left:50%;
        bottom:50%;
        transform:translate(-50%,145%) rotate(-45deg);
    }
    #PS_BUTTON_ARROW_TO_L:hover,
    #PS_BUTTON_ARROW_TO_R:hover {
        background:#c4c4c480;
    }
    #PS_BUTTON_ARROW_TO_L{
        left:0vw;
    }
    #PS_BUTTON_ARROW_TO_R{
        right:0vw;
    }
    #PS_BUTTON_ARROW_TO_L{
        display:none;
    }
</style>

<div id="Page_project_box_second-conreiner">
    <div class="Page_project_box_second-elements">
        <img class="PS-list-image" src="~/css/images/project/inspector/Inspector1.png" />
        @*<img src="~/css/images/project/gif/min/InspectorN.gif" class="PS-gif" />*@
        <p class="PS-list-text-b">Тренажер рабочей профессии осмотрщик вагонов с применением технологии виртуальной реальности</p>
        <p class="PS-list-text">
            Проект направлен на решение задач по ускорению и удешевлению процессов обучения, тренировок и инструктажа, а также увеличению их эффективности, сокращение затрат на элементы и расходные материалы, необходимые в обучении, и на обучающий персонал.
            К техническим особенностям следует отнести легко расширяемую нодовую архитектуру проекта, полное техническое соответствие всех узлов и агрегатов, представленное трехмерной модели вагона, а также профессиональный инструментарий, который доступен пользователю.
        </p>
        <div class="hidden">
            <div class="block">
                <div class="inBlock">
                    <video class="inBlockVideo mejs__player" controls="controls" poster="~/css/images/project/inspector/Inspector6.png">
                        <source src="~/css/video/InspectorTrailer.mp4" />
                        error
                    </video>
                    <div class="buttonVideoPlay"></div>
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/inspector/Inspector1.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/inspector/Inspector2.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/inspector/Inspector3.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/inspector/Inspector4.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/inspector/Inspector5.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/inspector/Inspector6.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="Page_project_box_second-elements">
        <img class="PS-list-image" src="~/css/images/project/FitnessHub/FitnessHub6.png" />
        @*<img src="~/css/images/project/gif/min/FitnessHubGIFN.gif" class="PS-gif" />*@
        <p class="PS-list-text-b">Мобильное приложение дополненной реальности Fitness Hub</p>
        <p class="PS-list-text">
            Приложение было создано как комплексное решение для поддержания здорового образа жизни. Где каждый пользователь обзаводится своим виртуальным аватаром, который вместе с вами занимается спортом, сидит на диете, получает рекомендации для большей эффективности в достижении намеченных целей.
            Следует отметить, что при указании действительных биометрических параметров ваш аватар, совместно с вами будет прогрессировать – худеть, наращивать мускулатуру и т.д.
        </p>
        <div class="hidden">
            <div class="block">
                <div class="inBlock">
                    <video class="inBlockVideo mejs__player" controls="controls" poster="~/css/images/project/FitnessHub/FitnessHub6.png">
                        <source src="~/css/video/FitnessHubTrailer.mp4" />
                        error
                    </video>
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/FitnessHub/FitnessHub1.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/FitnessHub/FitnessHub2.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/FitnessHub/FitnessHub3.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/FitnessHub/FitnessHub4.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/FitnessHub/FitnessHub5.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/FitnessHub/FitnessHub6.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="Page_project_box_second-elements">
        <img class="PS-list-image" src="~/css/images/project/KinectGirl/Kira1.png" />
        @*<img src="~/css/images/project/gif/min/KinectGirlGIFN.gif" class="PS-gif" />*@
        <p class="PS-list-text-b">Программно-аппаратная инсталляция «Виртуальный ассистент»</p>
        <p class="PS-list-text">
            На сегодняшний день все больше возрастает потребность организаций в создании и местном размещении имиджевых цифровых платформ способных включать в себя информатора о деятельности организации, электронного гида, справочной службы и рекламной площадки. Данные платформы не только способны привлечь внимание инвесторов, но также облегчить процедуры получения информации, посетившими ваше предприятия гостями.
        </p>
        <div class="hidden">
            <div class="block">
                <div class="inBlock">
                    <video class="inBlockVideo mejs__player" controls="controls" poster="~/css/images/project/KinectGirl/Kira6.png">
                        <source src="~/css/video/Kira.mp4" />
                        error
                    </video>
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/KinectGirl/Kira1.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/KinectGirl/Kira2.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/KinectGirl/Kira3.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/KinectGirl/Kira4.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/KinectGirl/Kira5.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/KinectGirl/Kira6.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="Page_project_box_second-elements">
        <img class="PS-list-image" src="~/css/images/project/SchemPong/SchemPong1.png" />
        @*<img src="~/css/images/project/gif/min/SchemPongGIFN.gif" class="PS-gif" />*@
        <p class="PS-list-text-b">Мобильное приложение дополненной реальности «Электронный пинг понг»</p>
        <p class="PS-list-text">
            Имиджевый проект, направленный на привлечения внимания талантливых молодых людей к проектной деятельности в области информационных технологий на факультете.
        </p>
        <div class="hidden">
            <div class="block">
                <div class="inBlock">
                    <video class="inBlockVideo mejs__player" controls="controls" poster="~/css/images/project/SchemPong/SchemPong5.png" data-mejsoptions>
                        <source src="~/css/video/SchemPong.mp4" type="video/mp4" />
                        error
                    </video>
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/SchemPong/SchemPong1.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/SchemPong/SchemPong2.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/SchemPong/SchemPong3.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/SchemPong/SchemPong4.png" />
                </div>
            </div>
            <div class="block">
                <div class="inBlock">
                    <img class="inBlockImage" src="~/css/images/project/SchemPong/SchemPong5.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Page_project_box_second-help-conteiner">
    <div id="Page_project_box_second-modal-window">
        <div id="PS-image-conteiner-in-modal"><img id="PS-image-in-modal" /></div>
        <h6 id="PS-modal-name-project" class="textIndent"></h6>
        <div id="PS-modal-text-project-container">
            <p id="PS-modal-text-project" class="textIndent"></p>
        </div>
        <div id="PS-modal-line-container">
            <div id="PS_BUTTON_ARROW_TO_L"></div> <!--<[BUTTON ARROW]>-->
            <div id="PS_BUTTON_ARROW_TO_R"></div> <!--<[BUTTON ARROW]>-->
            <div id="image_scroll_container">
                <div id="image_container"></div>
            </div>
        </div>
    </div>
    <div id="Page_project_box_second-exit-conteiner">
        <div id="Page_project_box_second-exit"></div>
    </div>
</div>

<script>
    const PS_BUTTON_ARROW_TO_R = document.querySelector('#PS_BUTTON_ARROW_TO_R');
    const PS_BUTTON_ARROW_TO_L = document.querySelector('#PS_BUTTON_ARROW_TO_L');

    var image_container = document.querySelector('#image_container');
    var image_scroll_container = document.querySelector('#image_scroll_container');
    var PSmodallinecontainer = document.querySelector('#PS-modal-line-container');

    PS_BUTTON_ARROW_TO_R.onclick = function () {
        var TS = image_scroll_container.scrollLeft;
        image_scroll_container.scrollLeft = TS + 200;
        if (image_scroll_container.scrollLeft+5 +image_scroll_container.clientWidth>= image_scroll_container.scrollWidth) {
            PS_BUTTON_ARROW_TO_R.style.display = "none";
        }
        PS_BUTTON_ARROW_TO_L.style.display = "block";
    };
    PS_BUTTON_ARROW_TO_L.onclick = function () {
        var TS = image_scroll_container.scrollLeft;
        image_scroll_container.scrollLeft = TS - 200;
        if (image_scroll_container.scrollLeft <= 5) {
            PS_BUTTON_ARROW_TO_L.style.display = "none";
        }
        PS_BUTTON_ARROW_TO_R.style.display = "block";
    };
</script>

<script>

    var exit = document.getElementById("Page_project_box_second-exit-conteiner");
    var grim = document.getElementById("Page_project_box_second-help-conteiner");

    exit.onclick = function () {
        grim.style.opacity = 0;
        grim.style.zIndex = -9;
        document.getElementById("Page_project_box_second-modal-window").style.top = "-100%";
        document.getElementById("Page_project_box_second-modal-window").style.transform = "rotateX(90deg)";
        document.body.style.overflowY = "auto";

        var images = document.querySelector('#image_container').querySelectorAll('.block');
        for (var i = 0; i < images.length; i++) {
            images[i].remove();
        }
        try {
            document.querySelector('#img_view').style.display = "none";
            document.querySelector('#img_view').querySelector('img').remove();
        }
        catch (msg) { }
    }

    var projects = document.getElementsByClassName("Page_project_box_second-elements");

    var PSModalNameProject = document.querySelector('#PS-modal-name-project');
    var PSModalTextProject = document.querySelector('#PS-modal-text-project');

    for (var i = 0; i < projects.length; i++) {
        projects[i].addEventListener('click', function () {
            grim.style.opacity = 1;
            grim.style.zIndex = 100;
            document.getElementById("Page_project_box_second-modal-window").style.top = "7.5%";
            document.getElementById("Page_project_box_second-modal-window").style.transform = "rotateX(0deg)";
            document.getElementById("PS-image-in-modal").src = this.querySelector('.PS-list-image').src;
            PSModalNameProject.textContent = this.querySelector('.PS-list-text-b').textContent;
            PSModalTextProject.textContent = this.querySelector('.PS-list-text').textContent;
            document.body.style.overflowY = "hidden";

            var images = this.querySelector('.hidden').querySelectorAll('.block');
            var image_container = document.querySelector('#image_container');

            for (var i = 0; i < images.length; i++) {
                image_container.append(images[i].cloneNode(true));
            }

            //var video = image_container.querySelector('video');
            //video.onplaying = function () {
            //    setTimeout(() => {
            //        ArrowOrTwix(void 0, true);
            //    }, 300);
            //};

            //image_container.querySelector('.buttonVideoPlay').onclick = function () {

            //    var video = this.parentElement.querySelector('video');
            //    var is_paused = video.paused;

            //    video[is_paused ? 'play' : 'pause']();

            //    ArrowOrTwix(void 0, is_paused);
            //};
        });
    }

    //var ArrowOrTwix = (parentImages, is_paused) => {
    //    var image_play = void 0;
    //    var image_pause = void 0;

    //    if (image_play == void 0) return;
    //    if (image_pause == void 0) return;

    //    if (is_paused) {
    //        image_play.style.zIndex = 1;
    //        image_pause.style.zIndex = 0;
    //    } else {
    //        image_play.style.zIndex = 0;
    //        image_pause.style.zIndex = 1;
    //    }
    //}
</script>

<style>
    #img_view {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 101;
        display: none;
    }

    #img_view_exit {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        z-index: 3;
    }

        #img_view_exit:after,
        #img_view_exit:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) rotate(-45deg);
            width: 20%;
            height: 90%;
            background: #c4c4c4;
        }

        #img_view_exit:after {
            transform: translate(-50%,-50%) rotate(45deg);
        }

        #img_view_exit:hover::after,
        #img_view_exit:hover::before {
            box-shadow: 0 0 1px #ffae2e, 0 0 3px #ffae2e, 0 0 5px #ffae2e, 0 0 6px #ffae2e;
        }
</style>
<div id="img_view">
    <div id="img_view_exit"></div>
</div>

@* Нужно дописать *@
<script>
    for (var i = 0; i < projects.length; i++) {
        projects[i].addEventListener('click', function () {
            var inBlockImage = document.querySelectorAll('.inBlockImage');
            for (var i = 0; i < inBlockImage.length; i++) {
                ((i) => {
                    inBlockImage[i].addEventListener('click', (() => {
                        var rect = {
                            width: window.innerWidth,
                            height: window.innerHeight
                        };

                        var WOfH = inBlockImage[i].width / inBlockImage[i].height;
                        var input = document.createElement('img');
                        input.src = inBlockImage[i].src;

                        if (WOfH >= (rect.width / rect.height)) {
                            input.width = rect.width * 0.95;
                        }
                        else {
                            input.height = rect.height * 0.95;
                        }

                        document.querySelector('#img_view').append(input);
                        document.querySelector('#img_view').style.display = "block";

                        document.querySelector('#img_view_exit').onclick = function () {
                            document.querySelector('#img_view').style.display = "none";
                            document.querySelector('#img_view').querySelector('img').remove();
                        };
                    }));
                })(i);
            }
        });
    }



</script>
