﻿
@{
    ViewData["Title"] = "Projects";
    
    if(ViewBag.Layout == 1)
    {
        Layout = "_Layout.Mobile";
    }
}

@model List<Projects>

<style>
    #Page_project_box_first_mobile-conteiner {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

        #Page_project_box_first_mobile-conteiner > img.A {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            min-height: 100%;
            min-width: 100%;
        }

        #Page_project_box_first_mobile-conteiner > img.B {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            min-height: 100%;
            min-width: 100%;
        }

    #Page_project_box_first_mobile-conteiner-shadow {
        position: relative;
        width: 100%;
        background: linear-gradient(#000000, #ffffff);
        height: 3vmin;
    }

    @@media (orientation: landscape) {
        #Page_project_box_first_mobile-conteiner > img.A {
            visibility: hidden;
        }
    }

    @@media (orientation: portrait) {
        #Page_project_box_first_mobile-conteiner > img.B {
            visibility: hidden;
        }
    }
</style>
<div id="Page_project_box_first_mobile-conteiner">
    <img class="A" src="~/css/image/IMG_2159.JPG" />
    <img class="B" src="~/css/image/cyril-corallo-island-single.jpg" />
</div>
<div id="Page_project_box_first_mobile-conteiner-shadow"></div>


<style>
    #PSM-container {
        margin-top: 7vmin;
        position: relative;
        background-color: #333;
        width: 100%;
        min-height: 100vh;
    }

    .PSM-el-container {
        position: relative;
        width: 100%;
        height: 90vmin;
    }

    .PSM-el {
        position: absolute;
        bottom: 1vmin;
        left: 50%;
        transform: translateX(-50%);
        width: 80vmin;
        height: 80vmin;
        border-top-left-radius: 5vmin;
        border-bottom-right-radius: 5vmin;
        border: 0.5vmin solid #000000;
        box-shadow: #00000080 0.4vmin 0.4vmin;
        overflow: hidden;
    }

        .PSM-el > img.PSM-image {
            height: 100%;
            margin: 0 auto 0 auto;
        }

        .PSM-el > h3.PSM-title {
            position: absolute;
            left: 50%;
            bottom: 5vmin;
            color: #ffffff;
            font-weight: 100;
            font-size: 5.5vmin;
            transform: translateX(-50%);
            max-width: 90%;
            text-align: center;
        }

        .PSM-el > p.PSM-text {
            display: none;
        }
</style>
<style>
    #PSM-modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 13;
        background: #00000080;
        display: none;
    }

    #PSM-M-window {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 85vmin;
        height: 85vmin;
        background: #000000;
    }

    #PSM-M-image-container {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.4;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    #PSM-M-image {
        height: 100%;
        margin: 0 auto 0 auto;
    }

    #PSM-M-title {
        position: absolute;
        left: 5%;
        top: 5%;
        width: 85%;
        text-align: center;
        color: #ffffff;
        font-weight: 100;
        font-size: 5vmin;
    }

    #PSM-M-text-container {
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 90%;
        height: 55%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #PSM-M-text {
        text-align: center;
        color: #ffffff;
        font-weight: 300;
        font-size: 4vmin;
        width: 100%;
    }

    #PSM-exit {
        position: absolute;
        top: 2%;
        right: 2%;
        width: 9%;
        height: 9%;
    }

        #PSM-exit::after, #PSM-exit::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 90%;
            height: 15%;
            background-color: #dbdbdb;
        }

        #PSM-exit::after {
            transform: translate(-50%,-50%) rotate(-45deg);
        }

        #PSM-exit::before {
            transform: translate(-50%,-50%) rotate(45deg);
        }
</style>

<div id="PSM-container">

    <div class="PSM-el-container">
        <div class="PSM-el">
            <img class="PSM-image" src="~/css/image/cyril-corallo-island-single.jpg" />
            <h3 class="PSM-title">Project 1</h3>
            <p class="PSM-text">Description and characteristics of the project</p>
        </div>
    </div>

    <div class="PSM-el-container">
        <div class="PSM-el">
            <img class="PSM-image" src="~/css/image/cyril-corallo-island-single.jpg" />
            <h3 class="PSM-title">Project 2</h3>
            <p class="PSM-text">Description and characteristics of the project</p>
        </div>
    </div>

    <div class="PSM-el-container">
        <div class="PSM-el">
            <img class="PSM-image" src="~/css/image/cyril-corallo-island-single.jpg" />
            <h3 class="PSM-title">Project 3</h3>
            <p class="PSM-text">Description and characteristics of the project</p>
        </div>
    </div>

    <div class="PSM-el-container">
        <div class="PSM-el">
            <img class="PSM-image" src="~/css/image/cyril-corallo-island-single.jpg" />
            <h3 class="PSM-title">Project 4</h3>
            <p class="PSM-text">Description and characteristics of the project</p>
        </div>
    </div>

</div>
<div id="PSM-modal">
    <div id="PSM-M-window">
        <div id="PSM-M-image-container">
            <img id="PSM-M-image" />
        </div>
        <h3 id="PSM-M-title"></h3>
        <div id="PSM-M-text-container">
            <p id="PSM-M-text"></p>
        </div>
        <div id="PSM-exit"></div>
    </div>
</div>
<script>

    var PSM_el = document.getElementsByClassName("PSM-el");
    var PSM_modal = document.getElementById("PSM-modal"),
        PSM_M_image = document.getElementById("PSM-M-image"),
        PSM_M_title = document.getElementById("PSM-M-title"),
        PSM_M_text = document.getElementById("PSM-M-text"),
        PSM_exit = document.getElementById("PSM-exit");

    for (var i = 0; i < PSM_el.length; i++) {
        PSM_el[i].onclick = function () {
            PSMModal(this);
        }
    }

    function PSMModal(el) {
        document.body.style.overflowY = "hidden";
        PSM_modal.style.display = "block";
        PSM_M_image.src = el.childNodes[1].src;
        PSM_M_title.textContent = el.childNodes[3].textContent;
        PSM_M_text.textContent = el.childNodes[5].textContent;
    }
    PSM_exit.onclick = function () {
        document.body.style.overflowY = "auto";
        PSM_modal.style.display = "none";
    }

</script>
