﻿<div id="multy-page-body-info-we" class="multy-page-body-common-fields multy-page-body-activ">
    <div class="conteiner-for-command-list-info-we-page conteiner-for-coders-list-info-we-page PR OH">
        <p class="text-we-comand-info-we-page PA">Наша команда</p>
        <p class="text-coders-modelers-artists-we-comand-info-we-page PA">Програмисты нашей команды!</p>
        <div class="orange-hexagon-blok orange-hexagon-blok-prev PA"></div>
        <div class="orange-hexagon-blok-main-center PA">
            <img class="orange-hexagon-blok-main-center-image-null PA orange-hexagon-blok-main-center-image" src="image/Без имени-1.png" />
            <img class="PA orange-hexagon-blok-main-center-image" src="image/590af12c29f06c72ed805802_The-Five-Best-Companies-For-3D-Rendering-Services-EASY-RENDER.jpg.png" />
        </div>
        <div class="orange-hexagon-blok orange-hexagon-blok-next PA"></div>
        <p class="text-we-comand-main-info-info-we-page PA">Дмитрий 22 годика<br />как хотись</p>
        <p class="text-we-comand-list-skill-info-we-page PA">Главный программист</p>
        <div class="my-shadow-blok-mark00"></div>
        <div class="my-shadow-blok-mark01"></div>
        <div class="my-shadow-blok-mark10"></div>
    </div>
    <div class="conteiner-for-command-list-info-we-page conteiner-for-modelers-list-info-we-page PR OH">
        <p class="text-coders-modelers-artists-we-comand-info-we-page PA">Програмисты нашей команды!</p>
        <div class="orange-hexagon-blok orange-hexagon-blok-prev PA"></div>
        <div class="orange-hexagon-blok-main-center PA">
            <img class="orange-hexagon-blok-main-center-image-null PA orange-hexagon-blok-main-center-image" src="image/Без имени-1.png" />
            <img class="PA orange-hexagon-blok-main-center-image" src="image/590af12c29f06c72ed805802_The-Five-Best-Companies-For-3D-Rendering-Services-EASY-RENDER.jpg.png" />
        </div>
        <div class="orange-hexagon-blok orange-hexagon-blok-next PA"></div>
        <p class="text-we-comand-main-info-info-we-page PA">Дмитрий 22 годика<br />как хотись</p>
        <p class="text-we-comand-list-skill-info-we-page PA">Главный программист</p>
        <img class="modelers-rotate-image-info-we-page PA" src="image/david-barrero-roger-wire.jpg.png" />
        <div class="my-shadow-blok-mark00"></div>
        <div class="my-shadow-blok-mark01"></div>
        <div class="my-shadow-blok-mark10"></div>
    </div>
    <div class="conteiner-for-command-list-info-we-page conteiner-for-artists-list-info-we-page PR OH">
        <p class="text-coders-modelers-artists-we-comand-info-we-page PA">Програмисты нашей команды!</p>
        <div class="orange-hexagon-blok orange-hexagon-blok-prev PA"></div>
        <div class="orange-hexagon-blok-main-center PA">
            <img class="orange-hexagon-blok-main-center-image-null PA orange-hexagon-blok-main-center-image" src="image/Без имени-1.png" />
            <img class="PA orange-hexagon-blok-main-center-image" src="image/590af12c29f06c72ed805802_The-Five-Best-Companies-For-3D-Rendering-Services-EASY-RENDER.jpg.png" />
        </div>
        <div class="orange-hexagon-blok orange-hexagon-blok-next PA"></div>
        <p class="text-we-comand-main-info-info-we-page PA">Дмитрий 22 годика<br />как хотись</p>
        <p class="text-we-comand-list-skill-info-we-page PA">Главный программист</p>
        <img class="artists-rotate-image-info-we-page PA" src="image/2.png" />
        <div class="my-shadow-blok-mark00"></div>
        <div class="my-shadow-blok-mark01"></div>
        <div class="my-shadow-blok-mark10"></div>
    </div>
</div><!--next page-->