﻿<div id="multy-page-body-contect" class="multy-page-body-common-fields multy-page-body-activ">
    <div class="conteiner-director-CITG PR OH">
        <div class="ava-director-CITG PA">
            <img id="image-ava-director-CITG" class="PA" src="image/590af12c29f06c72ed805802_The-Five-Best-Companies-For-3D-Rendering-Services-EASY-RENDER.jpg.png" />
        </div>
        <p class="PA director-FIO-text">Карташов Олег Олегович</p>
        <p class="PA director-center-IT-gravity">Директор центра IT<br />притяжения</p>
        <p class="PA director-contect-tel-text">Рабочий номер телефона</p>
        <p class="PA director-contect-tel">8(999) 999 99 99</p>
        <p class="PA director-contect-email-text">Почта</p>
        <p class="PA director-contect-email">test@test.com</p>
    </div>
</div>