﻿<div id="multy-page-body-started" class="multy-page-body-common-fields multy-page-body-activ">
    <div class="initial-illustration-of-us OH">
        <div class="animathion-CITG-logo-text-conteiner">
            <div class="CITG-logo-conteiner">
                <img id="CITG-logo-image" class="O0" src="~/Content/image/LogoLine.svg" />
                <p id="CITG-logo-text" class="O0">ЦЕНТР IT<br />ПРИТЯЖЕНИЯ</p>
            </div>
            <div id="CITG-logo-nextelement-green-text" class="O0">Мы создаем легкие решения сложных задач</div>
            <p id="CITG-logo-big-text" class="O0">публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях.</p>
            <div></div>
            <div></div>
            <div class="CITG-logo-ITU-RGUPS-conteiner">
                <img id="CITG-logo-ITU" class="O0" src="image/itu_logo.png" />
                <img id="CITG-logo-RGUPS" class="O0" src="image/rfups_logo.png" />
            </div>
            <div id="CITG-button-for-initial-illustration-of-us-we-project" class="CITG-button-for-initial-illustration-of-us">

            </div>
            <div id="CITG-button-for-initial-illustration-of-us-info-we" class="CITG-button-for-initial-illustration-of-us">

            </div>
        </div>
    </div>
    <div class="box-shadow-down-initial-image-of-us"></div>
    <div class="we-will-do-for-you OH">
        <h6 class="text-box-we-will-do-for-you">Мы сделаем для вас</h6>
        <h6 class="sub-text-box-we-will-do-for-you">публичных выступлений в домашних условиях. При создании<br />генератора мы использовали небезизвестный универсальный код речей.</h6>
    </div>
    <div class="elements-info-we-will-do-for-you OH">
        <img id="element-info-we-will-do-for-you-number000" class="element-info-we-will-do-for-you-all" src="image/3D-Rendering-Before-after.jpg.png" />
        <img id="element-info-we-will-do-for-you-number001" class="element-info-we-will-do-for-you-all" src="image/augmented-reality-developme-1.jpg.png" />
        <img id="element-info-we-will-do-for-you-number002" class="element-info-we-will-do-for-you-all" src="image/html5-app-development1.jpg.png" />
        <img id="element-info-we-will-do-for-you-number003" class="element-info-we-will-do-for-you-all" src="image/vr-ar-development.jpg.png" />
        <img id="element-info-we-will-do-for-you-number004" class="element-info-we-will-do-for-you-all" src="image/yakun-wang-r.jpg.png" />
        <img id="element-info-we-will-do-for-you-number005" class="element-info-we-will-do-for-you-all" src="image/Веб-дизайн-Барселона.png" />
        <img id="element-info-we-will-do-for-you-number006" class="element-info-we-will-do-for-you-all" src="image/3D-Rendering-Before-after.jpg.png" />
    </div>
    <div></div><!--box-shadow-->
    <div class="box-button-info-we-will-do-for-you OH">
        <div id="button-info-we-will-do-for-you"><p class="text-button-info-we-will-do-for-you">Связаться с нами</p></div>
    </div>
    <div class="proto-info-we-in-started-page OH">
        <p class="proto-info-we-in-started-page-text-we">О нас</p>
        <p class="proto-info-we-in-started-page-text-sub-info">публичных выступлений в <br />домашних условиях.</p>
    </div>
    <div class="three-main-specialties-proto-info-we-in-started-page">
        <div class="OH three-main-specialties-proto-info-we-in-started-page-general" id="three-main-specialties-proto-info-we-in-started-page-first-button"><div class="three-main-specialties-proto-info-we-in-started-page-blick-object"></div><p class="three-general-p-inserted-obj">Моделеры</p></div>
        <div class="OH three-main-specialties-proto-info-we-in-started-page-general" id="three-main-specialties-proto-info-we-in-started-page-second-button"><div class="three-main-specialties-proto-info-we-in-started-page-blick-object"></div><p class="three-general-p-inserted-obj">Разработчики</p></div>
        <div class="OH three-main-specialties-proto-info-we-in-started-page-general" id="three-main-specialties-proto-info-we-in-started-page-third-button"><div class="three-main-specialties-proto-info-we-in-started-page-blick-object"></div><p class="three-general-p-inserted-obj">Художники</p></div>
    </div>
    <div class="conteiner-main-ptr-we-classes-info-we OH">
        <div class="general-three-elements-we-list OH" id="element-we-list-modelers">
            <img class="general-three-elements-we-list-image" src="image/590af12c29f06c72ed805802_The-Five-Best-Companies-For-3D-Rendering-Services-EASY-RENDER.jpg.png" />
        </div>
        <div class="general-three-elements-we-list OH" id="element-we-list-coders">
            <img class="general-three-elements-we-list-image" src="image/590af12c29f06c72ed805802_The-Five-Best-Companies-For-3D-Rendering-Services-EASY-RENDER.jpg.png" />
        </div>
        <div class="general-three-elements-we-list OH" id="element-we-list-artists">
            <img class="general-three-elements-we-list-image" src="image/Без имени-1.png" />
        </div>
    </div>
    <div class="we-projects-empty-element OH">
        <p class="we-projects-empty-element-text">Наши проекты</p>
    </div>
    <div class="we-projects-element-list-complete OH">
        <img id="we-projects-element-list-complete" src="image/project.jpg" />
        <p class="PA we-projects-element-list-complete-title-text">Мы воплотим ваши<br />мечты в реальность</p>
        <p class="PA we-projects-element-list-complete-text">публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях.</p>
        <div id="we-projects-element-list-complete-button" class="PA">
            <img class="PA we-projects-element-list-complete-button-image O0" src="image/icons8-проект-90-2.png" />
            <img class="PA we-projects-element-list-complete-button-image" src="image/icons8-проект-90.png" />
            <p class="PA we-projects-element-list-complete-button-text">Подробнее</p>
        </div>
        <img id="we-project-next-page" src="image/icons8-вперед-96.png" />
    </div>
    <div class="empty-element-bottom-started-page PR">
        <p class="empty-element-bottom-started-page-text PA">публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях публичных выступлений в домашних условиях.</p>
    </div>
</div><!--next page-->