﻿
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4">
            <div class="form-group">
                <input type="text" name="username" value="" placeholder="Логин" />
            </div>
            <div class="form-group">
                <input type="text" name="password" value="" placeholder="Пароль" />
            </div>
            <div class="form-group">
                <button id="enter">Войти</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    
    $("#enter").click(function () {
        click();
    });

    function click() {
        var name = document.querySelector("input[name=username]").value;
        var password = document.querySelector("input[name=password]").value;
        var tempdata = {
            Password: password,
            Name: name
        }
        $.ajax(
        {
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "@Url.Action("LoginUser", "Account")",
            type: "POST",
            data: JSON.stringify(tempdata),
            success: function (data) {
                if (data.result == "error") {
                    alert(data.value);
                }
                else {
                    window.location = data.value;
                }
            }
        });
    };
</script>