﻿
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4 text-center">
            <div class="form-group">
                <input type="text" name="username" value="" placeholder="Логин" />
            </div>
            <div class="form-group">
                <input type="text" name="password" value="" placeholder="Пароль" />
            </div>
            <div class="form-group">
                <input type="text" name="email" value="" placeholder="Email" />
            </div>
            <div class="form-group">
                <button id="enter">Войти</button>
            </div>
        </div>
    </div>
</div>

<script>

    $("#enter").click(function () {
        click();
    });


    function click() {
        alert("i`m click");
        var name = document.querySelector("input[name=username]").value;
        var password = document.querySelector("input[name=password]").value;
        var email = document.querySelector("input[name=email]").value;

        alert(name + " " + password + " " + email);
        var tempdata = {
            Email: email,
            Password: password,
            Name: name
        }
        $.ajax(
        {
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "@Url.Action("RegistrationUser", "Account")",
            type: "POST",
            data: JSON.stringify(tempdata),
            success: function (data) {
            alert(data.value);
            if (data.result == "error") {
                alert(data.value);
                window.location = "/";
            }
            else {
                window.location = data.value;
            }
            },
            error: function (data) {
                alert("error" + data);
            }
        });
    };
</script>