﻿@model CITGcore.Models.Users

@{
    ViewData["Title"] = "Сonfirm";
}

<h1>Сonfirm</h1>

<h4>Users</h4>
<hr />
<div class="row mt-5">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input id="Email" type="hidden" value="@Model.Email" />
        <input id="userid" type="hidden" value="@Model.UserId" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input id="Name" asp-for="Name" class="form-control" value="@Model.Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Role" class="control-label"></label>
            <input id="Role" asp-for="Role" class="form-control" value="@Model.Role" />
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input id="Description" asp-for="Description" class="form-control" value="@Model.Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label value="Image" class="control-label"></label>
            <input type="file" id="image" name="uploadedFile" size="1" multiple onchange="uploadFiles();" /><br>
        </div>
        <div class="form-group">
            <label asp-for="Phrase" class="control-label"></label>
            <input asp-for="Phrase" class="form-control" value="@Model.Phrase" />
            <span asp-validation-for="Phrase" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <p id="answer"></p>
            <button id="button" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</div>

<script>

    var onSuccess = function (context) {
        $("p#answer").html(context.value);
    };

    function uploadFiles() {
        var input = document.querySelector("#image");
        var files = input.files[0];
        var formData = new FormData();
        formData.append("image", files);

        var email = document.querySelector("#Email").value;

        $.ajax(
            {
                url: "/AddImage",
                data: {
                    email,
                    formData
                },
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    if (data.result == "redirect") {
                        window.location = data.value;
                    }
                    else if (data.result == "error") {
                        $("p#answer").html(data.value);
                        $("p#answer").css("color", "red");
                    }
                    else {
                        $("p#answer").html(data.value);
                        $("p#answer").css("color", "green");
                    }
                }
            }
        );
    }

    $("#button").click(function () {
        var name = document.querySelector("#Name").value;
        var role = document.querySelector("#Role").value;
        var email = document.querySelector("#Email").value;
        var description = document.querySelector("#Description").value;
        var phrase = document.querySelector("#Phrase").value;
        var phonenumber = document.querySelector("#PhoneNumber").value;

        var tempdata = {
            Name: name,
            Role: role,
            Email: email,
            Description: description,
            Phrase: phrase,
            PhoneNumber: phonenumber
        };

        $.ajax(
            {
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "Confirm",
                type: "POST",
                data: JSON.stringify(tempdata),
                success: function (data) {
                    if (data.result == "redirect") {
                        window.location = data.value;
                    }
                    else if (data.result == "error") {
                        $("p#answer").html(data.value);
                        $("p#answer").css("color", "red");
                    }
                    else {
                        $("p#answer").html(data.value);
                        $("p#answer").css("color", "green");
                        setTimeout(redirect, 1500);
                    }
                }
            });

        function redirect() {
            window.location.href = "/Account";
        }
    });
</script>