﻿
@{
    ViewData["Title"] = "Registration";
}

<style>
    #log_container {
        width: 100%;
        height: 758px;
        position: relative;
    }

    #log_box {
        width: 480px;
        height: 340px;
        border-radius: 10px;
        background: #333;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: .6s;
        box-shadow: 0 0 0 #000;
    }

        #log_box:hover {
            box-shadow: 10px 10px 0 #3338, 20px 20px 0 #3334,30px 30px 0 #3332;
        }

    #email, #password {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        border-radius: 10px;
        width: 400px;
        height: 55px;
        border: none;
        outline: none;
        padding: 0 25px;
        font-size: 18px;
        color: #888;
        transition: .6s;
    }

    #email {
        top: 30px;
    }

    #password {
        top: 115px;
    }

    #button {
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        background: #fff;
        border-radius: 10px;
        width: 220px;
        height: 55px;
        transition: .3s;
    }

        #button::after {
            content: "Зарегистрироваться";
            position: absolute;
            font-size: 20px;
            color: #888;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }

        #button:hover, #email:hover, #password:hover {
            box-shadow: 0 0 20px #f2994a, 0 0 30px #14509a40, 0 0 5px inset #2a64ac;
        }

    div.answer {
        margin: 400px auto 0 auto;
        text-align: center;
        width: 80%;
    }
</style>

<div id="log_container">
    <div id="log_box">
        <input type="email" id="email" placeholder="Email" autocomplete="off" />
        <input type="password" id="password" placeholder="Пароль" autocomplete="off" />
        <div id="button"></div>
        <div class="answer">
            <p id="answer"></p>
            <svg id="svgload" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none; margin: auto;" width="50px" height="50px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <g transform="translate(20 50)">
                    <circle cx="0" cy="0" r="6" fill="#f2994a" transform="scale(0.0906729 0.0906729)">
                        <animateTransform attributeName="transform" type="scale" begin="-0.375s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
                    </circle>
                </g>
                <g transform="translate(40 50)">
                    <circle cx="0" cy="0" r="6" fill="#f2994a" transform="scale(0.0181566 0.0181566)">
                        <animateTransform attributeName="transform" type="scale" begin="-0.25s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
                    </circle>
                </g>
                <g transform="translate(60 50)">
                    <circle cx="0" cy="0" r="6" fill="#f2994a" transform="scale(0.256489 0.256489)">
                        <animateTransform attributeName="transform" type="scale" begin="-0.125s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
                    </circle>
                </g>
                <g transform="translate(80 50)">
                    <circle cx="0" cy="0" r="6" fill="#f2994a" transform="scale(0.604798 0.604798)">
                        <animateTransform attributeName="transform" type="scale" begin="0s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
                    </circle>
                </g>
            </svg>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

        function request() {
        var email = document.querySelector("#email").value;
        var password = document.querySelector("#password").value;
        var tempdata = {
            Email: email,
            Password: password
        }
        $("svg#svgload").css("display", "block");
        $.ajax(
            {
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "RegistrationUser",
                type: "POST",
                data: JSON.stringify(tempdata),
                success: function (data) {
                    if (data.result == "redirect") {
                        window.location = data.value;
                         $("svg#svgload").css("display", "none");
                    }
                    else if (data.result == "error") {
                        $("p#answer").html(data.value);
                        $("p#answer").css("color", "red");
                        $("svg#svgload").css("display", "none");
                    }
                    else {
                        $("p#answer").html(data.value);
                        $("p#answer").css("color", "green");
                        setTimeout(redirect, 1500);
                    }
                }
            });

        function redirect() {
            window.location.href = "/Confirm";
        }

    };
    document.querySelector("#button").addEventListener("click", function () {
        request();
    });

    document.querySelector("#log_box").addEventListener('keyup', function (event) {
        if (event.key == "Enter")
            request();
    });
</script>