﻿@model List<Users>

@{
    ViewData["Title"] = "СonfirmUser";
}

<style>
    p {
        margin: 0;
        padding: 0;
    }

    #parentcontainer {
        position: relative;
        width: 100%;
    }

    #container {
            position: absolute;
            width: 100%;
            min-width: 300px;
            height: auto;
            transform:translate(-50%,calc(-100px - 50%));
            left:50%;
            top:50%;
        }

    #list {
            width: 80%;
            margin: 0 10%;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        #list::after,#list:before{
            content:"";
            position:absolute;
            background:#c4c4c4;
            width:1px;
            height:calc(100% - 20px);
            top:20px;
        }
        #list::after{
            left:0;
        }
        #list::before{
            right:0;
        }
        .elements {
            width: 260px;
            height: 90px;
            background-color: #c4c4c4;
            margin: 20px;
            position: relative;
            transition: 0.1s all linear 0.05s;
        }
        .elements_active{
            box-shadow: 0 0 16px #bf8c30, 0 0 8px #bf8c30, 0 0 4px #bf8c30,0 0 1px #b57a0f inset;
            transform: scale(1.05);
        }
        .elements_active::after{
            content:"";
            position:absolute;
            bottom:-10px;
            left:2.5%;
            width:95%;
            height:2px;
            background:#b57a0f;
        }
            .elements:hover {
                box-shadow: 0 0 16px #ffffff, 0 0 8px #ffffff, 0 0 4px #ffffff,0 0 1px #000 inset;
                transform: scale(1.05);
            }
        .elements_image_container {
            position: absolute;
            left: 0;
            top: 0;
            width: 90px;
            height: 90px;
            overflow: hidden;
        }
        .elements_image {
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
        }
        .elements_name_conteiner {
            position: absolute;
            left: 90px;
            top: 0;
            width: 170px;
            height: 45px;
            overflow: hidden;
        }
        .elements_name {
        }
        .elements_data_conteiner {
            position: absolute;
            left: 90px;
            top: 45px;
            width: 170px;
            height: 45px;
            overflow: hidden;
        }

        .elements_name_conteiner_new
        {
            position: absolute;
            left: 90px;
            top: 50%;
            width: 170px;
            height: 80px;
            overflow: hidden;
            transform: translateY(-50%);
        }

        .elements_data {
        }
        .elements_name, .elements_data {
            position: absolute;
            top: 50%;
            left: 5px;
            width: 140px;
            transform: translateY(-50%);
            overflow: hidden;
            text-align: center;
            font-size: 17px;
        }
        #line,#line_2{
            position:relative;
            height:1px;
            width:calc(80% - 40px);
            margin:20px auto;
            background:#c4c4c4;
        }
</style>

<div id="parentcontainer">
    <div id="container">
        <div id="line_2"></div>
        <div id="list">
            @foreach (var item in Model)
            {
                <div class="elements" value="@item.Email">
                    <div class="elements_image_container">
                        <img class="elements_image" src="@item.LinkToImg" />
                    </div>
                    <div class="elements_name_conteiner">
                        <p class="elements_name">@item.Name</p>
                    </div>
                    <div class="elements_data_conteiner">
                        <p class="elements_data">@item.Role</p>
                    </div>
                </div>
            }
            <div id="newuser" class="elements">
                <div class="elements_image_container">
                    <img class="elements_image" src="~/css/image/newuser.png" />
                </div>
                <div class="elements_name_conteiner_new">
                    <p class="elements_name">Пригласить нового пользователя</p>
                </div>
            </div>
        </div>
        <div id="line"></div>
    </div>
</div>

<script src="~/js/frontscripts/MainJS.js"></script>

<script>
    
    window.addEventListener('load', function () {

        var footer = document.querySelector(".footer-container");

        var parent = document.querySelector("#parentcontainer");

        var re_size_container_p = function () {
            parent.style.height = (window.innerHeight - footer.clientHeight) + "px";
        };
        re_size_container_p();
        window.addEventListener('resize', re_size_container_p);

    });

    window.addEventListener('load', function () {
        var image = document.querySelectorAll('.elements_image');
        for (var i = 0; i < image.length; i++) {
            if (image[i].clientWidth > image[i].clientHeight) {
                image[i].style.height = "100%";
                image[i].style.width = "auto";
            }
            else {
                image[i].style.height = "auto";
                image[i].style.width = "100%";
            }
            image[i].addEventListener('load', function () {
                if (image[i].clientWidth > image[i].clientHeight) {
                    image[i].style.height = "100%";
                    image[i].style.width = "auto";
                }
                else {
                    image[i].style.height = "auto";
                    image[i].style.width = "100%";
                }
            });
        }
    });
</script>

<script>
    document.querySelector("#newuser").addEventListener('click', function () {
        window.location.href = "/InviteUser";
    });

    window.addEventListener('load', function () {
        const elements = document.querySelectorAll('.elements');

        for (var i = 0; i < elements.length; i++) {
            (function (index) {
                elements[index].addEventListener('click', function () {
                    var email = elements[index].value;
                    EditUser(email);

                    for (var i = 0; i < elements.length; i++) {
                        if (elements[i].classList.contains('elements_active')) elements[i].classList.remove('elements_active');
                    }
                    elements[index].classList.add('elements_active');
                });
            })(i);
        }
       
        function EditUser(Email) {
            alert(Email);
            $.ajax({
                url: "/EditUser",
                type: "Post",
                data: "Email=" + Email,
                success: function (response) {
                    if (response.result == "error") {
                        $("p#answer").html(response.value);
                        $("p#answer").css("color", "red");
                    }
                    else {
                        $("#content").html(response);
                    }

                }
            });
        }
    });
</script>
