﻿@model CITGcore.Models.Users

@{
    ViewData["Title"] = "Сonfirm";
}
<style>
    p {
            margin: 0;
            padding: 0;
        }
    #container_undef_height {
        position: relative;
        width: 100%;
        height: auto;
    }

    #_container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 1080px;
        height: 520px;
        background: #333;
        border-radius: 8px;
    }

    #image_container {
        left: 10px;
    }

    #data_container {
        right: 10px;
    }

    #image_container, #data_container {
        position: absolute;
        width: 500px;
        height: 500px;
        overflow: hidden;
        top: 10px;
    }

    .system_elements_node_text_container {
        position: relative;
        width: 100%;
        height: 50px;
    }

        .system_elements_node_text_container > div {
            position: absolute;
            top: 5px;
            left: 0;
            width: 100%;
            height: 40px;
            overflow: hidden;
        }

            .system_elements_node_text_container > div::after {
                content: "";
                position: absolute;
                width: 490px;
                height: 1px;
                background: #c4c4c4;
                left: 5px;
                bottom: 0;
            }

    #system_elements_node_text_name, #system_elements_node_text_phrase, #system_elements_node_text_email, #system_elements_node_text_tel, #system_elements_node_text_role {
        position: absolute;
        width: 320px;
        bottom: 50%;
        right: 30px;
        transform: translateY(50%);
        color: #c4c4c4;
        text-align: center;
        font-size: 18px;
        font-weight: 100;
    }

        #system_elements_node_text_name::after, #system_elements_node_text_email::after, #system_elements_node_text_phrase::after, #system_elements_node_text_role::after, #system_elements_node_text_tel::after {
            position: absolute;
            left: -150px;
            top: 50%;
            transform: translateY(-50%);
            text-align: left;
            width: 110px;
        }

        #system_elements_node_text_name::after {
            content: "name:";
        }

        #system_elements_node_text_email::after {
            content: "email:";
        }

        #system_elements_node_text_phrase::after {
            content: "phrase:";
        }

        #system_elements_node_text_role::after {
            content: "role:";
        }

        #system_elements_node_text_tel::after {
            content: "tel:";
        }

    #system_elements_node_text_ {
        position: relative;
        width: 500px;
        height: 250px;
        color: #c4c4c4;
        text-align: center;
        font-size: 18px;
        font-weight: 100;
    }

    .system_elements_node_text_B::after {
        content: "";
        position: absolute;
        width: 490px;
        height: 1px;
        bottom: 0px;
        right: 5px;
        background: #c4c4c4;
    }

    #system_elements_node_text_ins {
        position: absolute;
        width: 430px;
        height: 200px;
        top: 25px;
        left: 35px;
        overflow: hidden;
        text-align: center;
    }

    #button_re_data_name, #button_re_data_email, #button_re_data_face, #button_re_data_role, #button_re_data_tel, #button_re_data_text, #button_re_data_image {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 20px;
        height: 20px;
        background: #c4c4c440;
        transform: rotate(45deg);
        transition: 0.6s;
        opacity: 1;
        z-index: 2;
        display: none;
        cursor: pointer;
    }

    .svg_elements_button_re {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    #svg_re_data {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 50px;
        height: 500px;
        z-index: 1;
    }

    #re_data_button, #re_data_button_cancel {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 40px;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        cursor: pointer;
        z-index: 2;
    }

    #re_data_button_cancel {
        z-index: 1;
    }
</style>
<style>
    .path_hover_first {
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        transition: 4s;
    }

    .path_hover_second {
        stroke-dasharray: 1040;
        stroke-dashoffset: 1040;
        transition: 2s all 0.4s;
    }

    .Path_sibe_bracs {
        stroke-dasharray: 700;
        stroke-dashoffset: 0;
        transition: 4s all 0s;
    }

    .Path_inner_face {
        stroke-dasharray: 300;
        stroke-dashoffset: 0;
        transition: 2s all 0.4s;
    }

    .Path_circle {
        stroke-dasharray: 130;
        stroke-dashoffset: 0;
    }

    .Path_a_lot_of_lines {
        stroke-dasharray: 10;
        stroke-dashoffset: 0;
    }
</style>
<style>
    #help_block_mes {
        position: absolute;
        width: 0px;
        height: 24px;
        background: rgba(46, 46, 46, 0.82);
        transform: translateX(-50%);
        overflow: hidden;
        transition: 0.3s linear 0.2s width;
    }

        #help_block_mes::after, #help_block_mes:before {
            content: "";
            position: absolute;
            width: 3px;
            height: 100%;
            top: 0;
            right: 0;
            /*background:#8b5512;
            box-shadow: 0 0 5px #8b5512, 0 0 10px #8b5512, 0 0 15px #8b5512, 0 0 20px #8b5512, 0 0 3px #56340a inset, 0 0 6px #56340a inset;*/
            background: #c4c4c4;
            box-shadow: 0 0 5px #c4c4c4, 0 0 10px #c4c4c4, 0 0 15px #c4c4c4, 0 0 20px #c4c4c4, 0 0 3px #333 inset, 0 0 6px #333 inset;
        }

        #help_block_mes:before {
            /*content:"";
            position:absolute;*/
            left: 0;
            /*bottom:0;
            width:100%;
            height:1px;
            background:#c4c4c4;*/
        }

    #help_block_text_message {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 140px;
        color: #c4c4c4;
        font-size: 16px;
        font-weight: 100;
        text-align: center;
        overflow: hidden;
    }

    #svg_help_block_1 {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    #svg_help_block_2 {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
</style>
<style>
    #conteiners_input_new_data_name, #conteiners_input_new_data_image, #conteiners_input_new_data_email, #conteiners_input_new_data_face, #conteiners_input_new_data_role, #conteiners_input_new_data_tel, #conteiners_input_new_data_text {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;
        left: 0;
        top: 0;
        background: #333;
    }

    #conteiners_input_new_data_image {
        background: rgba(42, 42, 42, 0.7);
    }

    #input_file_image_data_container {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 120px;
        height: 120px;
        border: 1px solid #c4c4c4;
        transform: translate(-50%,-50%);
        background: #606060;
        border-radius: 5px;
        overflow: hidden;
    }

    #input_file_image_data {
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    #input_file_image_data_text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        text-align: center;
        color: #c4c4c4;
        font-size: 20px;
        font-weight: 100;
    }

    #input_name_data, #input_email_data, #input_face_data, #input_role_data, #input_tel_data, #input_text_data {
        position: absolute;
        width: 280px;
        height: 20px;
        bottom: 50%;
        right: 50px;
        transform: translateY(50%);
        background: #555;
        color: #c4c4c4;
        text-align: center;
        font-size: 18px;
        font-weight: 100;
        border: none;
        outline-color: #c4c4c4;
    }

    #input_text_data {
        width: 430px;
        height: 200px;
        top: 25px;
        left: 35px;
        transform: none;
        text-align: center;
        resize: none;
    }

    #input_name_cancel, #input_email_cancel, #input_face_cancel, #input_role_cancel, #input_tel_cancel {
        left: 130px;
    }

    #input_name_next, #input_email_next, #input_face_next, #input_role_next, #input_tel_next {
        right: 10px;
    }

    #input_name_cancel, #input_name_next, #input_email_cancel, #input_face_cancel, #input_role_cancel, #input_tel_cancel, #input_email_next, #input_face_next, #input_role_next, #input_tel_next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 25px;
        cursor: pointer;
    }

    #input_text_cancel {
        top: 30px;
    }

    #input_text_next {
        bottom: 30px
    }

    #input_text_cancel, #input_text_next {
        position: absolute;
        right: 5px;
        width: 20px;
        height: 90px;
        cursor: pointer;
    }

    #input_image_cancel {
        left: 140px;
    }

    #input_image_next {
        right: 140px;
    }

    #input_image_cancel, #input_image_next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 125px;
        cursor: pointer;
    }
</style>

<div id="container_undef_height">
    <div id="_container">
        <div id="image_container">
            <div id="button_re_data_image">
                <svg class="svg_elements_button_re" width="28" height="28">
                    <path stroke="#fff" stroke-width="0.5" fill="none" d="M8,0 L0,0 L0,8"></path>
                    <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,0 L28,0 L28,8"></path>
                    <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,20 L0,28 L8,28"></path>
                    <circle stroke="#fff" stroke-width="1" fill="none" stroke-dasharray="2" cx="14" cy="14" r="7"></circle>
                </svg>
            </div>
            <div id="conteiners_input_new_data_image">
                <div id="input_file_image_data_container">
                    <input id="input_file_image_data" type="file" autocomplete="off" />
                    <span id="input_file_image_data_text">Выбрать файл</span>
                </div>
                <div id="input_image_cancel">
                    <svg width="40" height="125">
                        <path stroke="#fff" stroke-width="1" fill="none" d="M40,40 L40,10 L35,5 L25,5 L20,0 L5,0 L0,5 L0,50 L5,55 L5,70 L0,75 L0,120 L5,125 L20,125 L25,120 L35,120 L40,115 L40,85 L30,75 L30,50 z"></path>
                        <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" stroke-dasharray="2" cx="15" cy="20" r="5"></circle>
                        <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" stroke-dasharray="2" cx="15" cy="105" r="5"></circle>
                        <path stroke="#fff" stroke-width="1" fill="none" d="M35,50 h5"></path>
                        <path stroke="#fff" stroke-width="1" fill="none" d="M35,55 h5"></path>
                        <path stroke="#fff" stroke-width="1" fill="none" d="M35,60 h5"></path>
                        <path stroke="#fff" stroke-width="1" fill="none" d="M35,65 h5"></path>
                        <path stroke="#fff" stroke-width="1" fill="none" d="M35,70 h5"></path>
                        <path stroke="#fff" stroke-width="1" fill="none" d="M35,75 h5"></path>
                    </svg>
                </div>
                <div id="input_image_next">
                    <svg width="40" height="125">
                        <path stroke="#fff" stroke-width="1" fill="none" d="M0,40 L0,10 L5,5 L15,5 L20,0 L35,0 L40,5 L40,50 L35,55 L35,70 L40,75 L40,120 L35,125 L20,125 L15,120 L5,120 L0,115 L0,85 L10,75 L10,50 z"></path>
                        <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" stroke-dasharray="2" cx="25" cy="20" r="5"></circle>
                        <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" stroke-dasharray="2" cx="25" cy="105" r="5"></circle>
                        <path stroke="#fff" stroke-width="1" fill="none" d="M0,50 h5"></path>
                        <path stroke="#fff" stroke-width="1" fill="none" d="M0,55 h5"></path>
                        <path stroke="#fff" stroke-width="1" fill="none" d="M0,60 h5"></path>
                        <path stroke="#fff" stroke-width="1" fill="none" d="M0,65 h5"></path>
                        <path stroke="#fff" stroke-width="1" fill="none" d="M0,70 h5"></path>
                        <path stroke="#fff" stroke-width="1" fill="none" d="M0,75 h5"></path>
                    </svg>
                </div>
            </div>
        </div>
        <svg id="svg_re_data" width="50" height="500">
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M15,0 L5,0 L0,5 L0,180 L5,185 L5,225 L0,230 L0,270 L5,275 L5,315 L0,320 L0,495 L5,500 L15,500" class="Path_sibe_bracs"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M35,0 L45,0 L50,5 L50,180 L45,185 L45,225 L50,230 L50,270 L45,275 L45,315 L50,320 L50,495 L45,500 L35,500" class="Path_sibe_bracs"></path>

            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,5 L20,130 L15,135 L15,175 L20,180 L20,230" class="Path_inner_face"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M30,5 L30,130 L35,135 L35,175 L30,180 L30,230" class="Path_inner_face"></path>

            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,495 L20,370 L15,365 L15,325 L20,320 L20,270" class="Path_inner_face"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M30,495 L30,370 L35,365 L35,325 L30,320 L30,270" class="Path_inner_face"></path>

            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,140 L30,140" class="Path_a_lot_of_lines" style="transition:0.2s linear 0.0s"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,145 L30,145" class="Path_a_lot_of_lines" style="transition:0.2s linear 0.1s"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,150 L30,150" class="Path_a_lot_of_lines" style="transition:0.2s linear 0.2s"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,155 L30,155" class="Path_a_lot_of_lines" style="transition:0.2s linear 0.3s"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,160 L30,160" class="Path_a_lot_of_lines" style="transition:0.2s linear 0.4s"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,165 L30,165" class="Path_a_lot_of_lines" style="transition:0.2s linear 0.5s"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,170 L30,170" class="Path_a_lot_of_lines" style="transition:0.2s linear 0.6s"></path>

            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,335 L30,335" class="Path_a_lot_of_lines" style="transition:0.2s linear 0.7s"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,330 L30,330" class="Path_a_lot_of_lines" style="transition:0.2s linear 0.8s"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,340 L30,340" class="Path_a_lot_of_lines" style="transition:0.2s linear 0.9s"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,345 L30,345" class="Path_a_lot_of_lines" style="transition:0.2s linear 1.0s"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,350 L30,350" class="Path_a_lot_of_lines" style="transition:0.2s linear 1.1s"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,355 L30,355" class="Path_a_lot_of_lines" style="transition:0.2s linear 1.2s"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,360 L30,360" class="Path_a_lot_of_lines" style="transition:0.2s linear 1.3s"></path>

            <circle stroke="#fff" stroke-width="0.5" fill="none" cx="25" cy="250" r="20" class="Path_circle" style="transition:2s linear 0.4s"></circle>
            <circle stroke="#fff" stroke-width="0.5" fill="none" cx="25" cy="250" r="18" class="Path_circle" style="transition:2s linear 1.7s"></circle>

            <path stroke="#fff" stroke-width="0.5" fill="none" d="M25,230 L25,180" class="path_hover_first"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M25,270 L25,320" class="path_hover_first"></path>

            <path stroke="#fff" stroke-width="0.5" fill="none" d="M25,130 L25,0" class="path_hover_second"></path>
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M25,370 L25,500" class="path_hover_second"></path>

        </svg>
        <div id="re_data_button"></div>
        <div id="re_data_button_cancel"></div>
        <div id="data_container">
            <div class="system_elements_node_text_container">
                <div>
                    <p id="system_elements_node_text_name">@Model.Name</p>
                    <div id="button_re_data_name">
                        <svg class="svg_elements_button_re" width="28" height="28">
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M8,0 L0,0 L0,8"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,0 L28,0 L28,8"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,20 L0,28 L8,28"></path>
                            <circle stroke="#fff" stroke-width="1" fill="none" stroke-dasharray="2" cx="14" cy="14" r="7"></circle>
                        </svg>
                    </div>
                    <div id="conteiners_input_new_data_name">
                        <input id="input_name_data" type="text" autocomplete="off" />
                        <div id="input_name_cancel">
                            <svg width="35" height="25">
                                <path stroke="#fff" stroke-width="0.5" fill="none" d="M35,5 L25,5 L20,0 L5,0 L0,5 L0,20 L5,25 L20,25 L25,20 L35,20"></path>
                                <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" cx="12.5" cy="12.5" r="5"></circle>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M25,10 h10"></path>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M25,15 h10"></path>
                            </svg>
                        </div>
                        <div id="input_name_next">
                            <svg width="35" height="25">
                                <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,5 L10,5 L15,0 L30,0 L35,5 L35,20 L30,25 L15,25 L10,20 L0,20"></path>
                                <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" cx="22.5" cy="12.5" r="5"></circle>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M0,10 h10"></path>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M0,15 h10"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="system_elements_node_text_container">
                <div>
                    <p id="system_elements_node_text_email">@Model.Email</p>
                    <div id="button_re_data_email">
                        <svg class="svg_elements_button_re" width="28" height="28">
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M8,0 L0,0 L0,8"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,0 L28,0 L28,8"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,20 L0,28 L8,28"></path>
                            <circle stroke="#fff" stroke-width="1" fill="none" stroke-dasharray="2" cx="14" cy="14" r="7"></circle>
                        </svg>
                    </div>
                    <div id="conteiners_input_new_data_email">
                        <input id="input_email_data" type="text" autocomplete="off" />
                        <div id="input_email_cancel">
                            <svg width="35" height="25">
                                <path stroke="#fff" stroke-width="0.5" fill="none" d="M35,5 L25,5 L20,0 L5,0 L0,5 L0,20 L5,25 L20,25 L25,20 L35,20"></path>
                                <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" cx="12.5" cy="12.5" r="5"></circle>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M25,10 h10"></path>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M25,15 h10"></path>
                            </svg>
                        </div>
                        <div id="input_email_next">
                            <svg width="35" height="25">
                                <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,5 L10,5 L15,0 L30,0 L35,5 L35,20 L30,25 L15,25 L10,20 L0,20"></path>
                                <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" cx="22.5" cy="12.5" r="5"></circle>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M0,10 h10"></path>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M0,15 h10"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="system_elements_node_text_container">
                <div>
                    <p id="system_elements_node_text_phrase">@Model.Phrase</p>
                    <div id="button_re_data_face">
                        <svg class="svg_elements_button_re" width="28" height="28">
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M8,0 L0,0 L0,8"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,0 L28,0 L28,8"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,20 L0,28 L8,28"></path>
                            <circle stroke="#fff" stroke-width="1" fill="none" stroke-dasharray="2" cx="14" cy="14" r="7"></circle>
                        </svg>
                    </div>
                    <div id="conteiners_input_new_data_face">
                        <input id="input_face_data" type="text" autocomplete="off" />
                        <div id="input_face_cancel">
                            <svg width="35" height="25">
                                <path stroke="#fff" stroke-width="0.5" fill="none" d="M35,5 L25,5 L20,0 L5,0 L0,5 L0,20 L5,25 L20,25 L25,20 L35,20"></path>
                                <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" cx="12.5" cy="12.5" r="5"></circle>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M25,10 h10"></path>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M25,15 h10"></path>
                            </svg>
                        </div>
                        <div id="input_face_next">
                            <svg width="35" height="25">
                                <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,5 L10,5 L15,0 L30,0 L35,5 L35,20 L30,25 L15,25 L10,20 L0,20"></path>
                                <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" cx="22.5" cy="12.5" r="5"></circle>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M0,10 h10"></path>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M0,15 h10"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="system_elements_node_text_container">
                <div>
                    <p id="system_elements_node_text_role">@Model.Role</p>
                    <div id="button_re_data_role">
                        <svg class="svg_elements_button_re" width="28" height="28">
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M8,0 L0,0 L0,8"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,0 L28,0 L28,8"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,20 L0,28 L8,28"></path>
                            <circle stroke="#fff" stroke-width="1" fill="none" stroke-dasharray="2" cx="14" cy="14" r="7"></circle>
                        </svg>
                    </div>
                    <div id="conteiners_input_new_data_role">
                        <input id="input_role_data" type="text" autocomplete="off" />
                        <div id="input_role_cancel">
                            <svg width="35" height="25">
                                <path stroke="#fff" stroke-width="0.5" fill="none" d="M35,5 L25,5 L20,0 L5,0 L0,5 L0,20 L5,25 L20,25 L25,20 L35,20"></path>
                                <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" cx="12.5" cy="12.5" r="5"></circle>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M25,10 h10"></path>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M25,15 h10"></path>
                            </svg>
                        </div>
                        <div id="input_role_next">
                            <svg width="35" height="25">
                                <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,5 L10,5 L15,0 L30,0 L35,5 L35,20 L30,25 L15,25 L10,20 L0,20"></path>
                                <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" cx="22.5" cy="12.5" r="5"></circle>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M0,10 h10"></path>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M0,15 h10"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="system_elements_node_text_container">
                <div>
                    <p id="system_elements_node_text_tel">@Model.PhoneNumber</p>
                    <div id="button_re_data_tel">
                        <svg class="svg_elements_button_re" width="28" height="28">
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M8,0 L0,0 L0,8"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,0 L28,0 L28,8"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,20 L0,28 L8,28"></path>
                            <circle stroke="#fff" stroke-width="1" fill="none" stroke-dasharray="2" cx="14" cy="14" r="7"></circle>
                        </svg>
                    </div>
                    <div id="conteiners_input_new_data_tel">
                        <input id="input_tel_data" type="text" autocomplete="off" />
                        <div id="input_tel_cancel">
                            <svg width="35" height="25">
                                <path stroke="#fff" stroke-width="0.5" fill="none" d="M35,5 L25,5 L20,0 L5,0 L0,5 L0,20 L5,25 L20,25 L25,20 L35,20"></path>
                                <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" cx="12.5" cy="12.5" r="5"></circle>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M25,10 h10"></path>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M25,15 h10"></path>
                            </svg>
                        </div>
                        <div id="input_tel_next">
                            <svg width="35" height="25">
                                <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,5 L10,5 L15,0 L30,0 L35,5 L35,20 L30,25 L15,25 L10,20 L0,20"></path>
                                <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" cx="22.5" cy="12.5" r="5"></circle>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M0,10 h10"></path>
                                <path stroke="#fff" stroke-width="1" fill="none" d="M0,15 h10"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div id="system_elements_node_text_" class="system_elements_node_text_B">
                <div id="system_elements_node_text_ins">@Model.Description</div>
                <div id="button_re_data_text">
                    <svg class="svg_elements_button_re" width="28" height="28">
                        <path stroke="#fff" stroke-width="0.5" fill="none" d="M8,0 L0,0 L0,8"></path>
                        <path stroke="#fff" stroke-width="0.5" fill="none" d="M20,0 L28,0 L28,8"></path>
                        <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,20 L0,28 L8,28"></path>
                        <circle stroke="#fff" stroke-width="1" fill="none" stroke-dasharray="2" cx="14" cy="14" r="7"></circle>
                    </svg>
                </div>
                <div id="conteiners_input_new_data_text">
                    <textarea id="input_text_data" type="text" autocomplete="off"></textarea>
                    <div id="input_text_cancel">
                        <svg width="20" height="90">
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M5,90 L5,50 L0,45 L0,5 L5,0 L15,0 L20,5 L20,45 L15,50 L15,90"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M10,25 v65"></path>
                            <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" cx="10" cy="25" r="5"></circle>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M5,5 h10"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M5,10 h10"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M5,15 h10"></path>
                        </svg>
                    </div>
                    <div id="input_text_next">
                        <svg width="20" height="90">
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M5,0 L5,40 L0,45 L0,85 L5,90 L15,90 L20,85 L20,45 L15,40 L15,0"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M10,0 v65"></path>
                            <circle stroke="#fff" stroke-width="0" fill="#c4c4c4" cx="10" cy="65" r="5"></circle>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M5,85 h10"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M5,80 h10"></path>
                            <path stroke="#fff" stroke-width="0.5" fill="none" d="M5,75 h10"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <style>
            #button {
                position: absolute;
                z-index: 100;
                bottom: -60px;
                left: 50%;
                transform: translateX(-50%);
                width: 360px;
                height: 55px;
                transition: 0.4s;
            }

                #button::after {
                    content: 'подтвердить';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    text-align: center;
                    color: #c4c4c4;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 100;
                }

                #button:hover {
                    box-shadow: 0 10px 20px #c4c4c4, 0 0 30px #c4c4c4;
                    transform: translateX(-50%) scale(1.01);
                }
        </style>

        <div id="button">
            <svg width="360" height="55">
                <path stroke="#fff" stroke-width="0.5" fill="#333" d="M0,5 L5,0 L35,0 L40,5 L100,5 L105,0 L135,0 L140,5 L220,5 L225,0 L255,0 L260,5 L320,5 L325,0 L355,0 L360,5 L360,50 L355,55 L325,55 L320,50 L260,50 L255,55 L225,55 L220,50 L140,50 L135,55 L105,55 L100,50 L40,50 L35,55 L5,55 L0,50 z"></path>
                <path stroke="#fff" stroke-width="0.5" fill="none" d="M0,27.5 h90"></path>
                <path stroke="#fff" stroke-width="0.5" fill="none" d="M270,27.5 h90"></path>
                <circle fill="#c4c4c4" cx="90" cy="27.5" r="3"></circle>
                <circle fill="#c4c4c4" cx="270" cy="27.5" r="3"></circle>
                <path stroke="#fff" stroke-width="0.5" fill="none" d="M70,27.5 L80,17.5 h20"></path>
                <path stroke="#fff" stroke-width="0.5" fill="none" d="M65,27.5 L75,37.5 h30"></path>
                <circle fill="#c4c4c4" cx="100" cy="17.5" r="3"></circle>
                <circle fill="#c4c4c4" cx="105" cy="37.5" r="3"></circle>
                <path stroke="#fff" stroke-width="0.5" fill="none" d="M290,27.5 L280,17.5 H260"></path>
                <path stroke="#fff" stroke-width="0.5" fill="none" d="M295,27.5 L285,37.5 H255"></path>
                <circle fill="#c4c4c4" cx="260" cy="17.5" r="3"></circle>
                <circle fill="#c4c4c4" cx="255" cy="37.5" r="3"></circle>

            </svg>
        </div>
    </div>


    <div id="help_block_mes">
        <p id="help_block_text_message"></p>
        <svg id="svg_help_block_1" width="160" height="24">
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M4,4 L8,0 L70,0 L72,2 L88,2 L90,0 L152,0 L156,4"></path>
        </svg>
        <svg id="svg_help_block_2" width="160" height="24">
            <path stroke="#fff" stroke-width="0.5" fill="none" d="M4,20 L8,24 L70,24 L72,22 L88,22 L90,24 L152,24 L156,20"></path>
        </svg>
    </div>

</div>

<script>
    window.addEventListener('load', (function () {
        const footer = document.querySelector('.footer-container');
        const container_undef_height = document.querySelector('#container_undef_height');
        var Re_size_container = function () {
            if (window.innerHeight - footer.clientHeight < 520) return;
            container_undef_height.style.height = (window.innerHeight - footer.clientHeight) + "px";
        };
        Re_size_container();
        window.addEventListener('resize', Re_size_container);
    }));
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/encoding-japanese/1.0.30/encoding.min.js" integrity="sha256-3N1q3S/Cg/TL0ER062kNT2VYIsHLzEqymlj2dEXYhXI=" crossorigin="anonymous"></script>
<script>
        const image_container = document.querySelector('#image_container');
        const image = document.createElement('img');
        image_container.appendChild(image);

        image.addEventListener('load', function () {
            if (image.clientHeight > image.clientWidth) {
                image.style.height = "auto";
                image.style.width = "100%";
            } else {
                image.style.height = "100%";
                image.style.width = "auto";
            }

            image.style.transform = "translate(-50%,-50%)";
            image.style.position = "absolute";
            image.style.zIndex = 0;
            image.style.left = "50%";
            image.style.top = "50%";

        });
        
    image.src = "@Model.LinkToImg";
</script>
<script>
    const system_elements_node_text_tel = document.querySelector('#system_elements_node_text_tel');
    const system_elements_node_text_role = document.querySelector('#system_elements_node_text_role');
    const system_elements_node_text_phrase = document.querySelector('#system_elements_node_text_phrase');
    const system_elements_node_text_email = document.querySelector('#system_elements_node_text_email');
    const system_elements_node_text_name = document.querySelector('#system_elements_node_text_name');
    const system_elements_node_text_ins = document.querySelector('#system_elements_node_text_ins');

    const path_hover = {
        first: document.querySelectorAll('.path_hover_first'),
        second: document.querySelectorAll('.path_hover_second')
    };

    const re_data_button = document.querySelector('#re_data_button');
    const re_data_button_cancel = document.querySelector('#re_data_button_cancel');
    re_data_button.addEventListener('mouseover', function () {
        for (var i = 0; i < path_hover.first.length; i++) {
            path_hover.first[i].style.strokeDashoffset = 0;
        }
        for (var i = 0; i < path_hover.second.length; i++) {
            path_hover.second[i].style.strokeDashoffset = 910;
        }
    });
    re_data_button.addEventListener('mouseout', function () {
        for (var i = 0; i < path_hover.first.length; i++) {
            path_hover.first[i].style.strokeDashoffset = 500;
        }
        for (var i = 0; i < path_hover.second.length; i++) {
            path_hover.second[i].style.strokeDashoffset = 1040;
        }
    });

    const button_re_data = {
        name: document.querySelector('#button_re_data_name'),
        email: document.querySelector('#button_re_data_email'),
        face: document.querySelector('#button_re_data_face'),
        role: document.querySelector('#button_re_data_role'),
        tel: document.querySelector('#button_re_data_tel'),
        text: document.querySelector('#button_re_data_text'),
        image: document.querySelector('#button_re_data_image')
    };
    const Path_svg = {
        Path_sibe_bracs: document.querySelectorAll('.Path_sibe_bracs'),
        Path_inner_face: document.querySelectorAll('.Path_inner_face'),
        Path_a_lot_of_lines: document.querySelectorAll('.Path_a_lot_of_lines'),
        Path_circle: document.querySelectorAll('.Path_circle')
    };
    const PathStrokeDashoffsetNone = function () {
        for (var i = 0; i < Path_svg.Path_sibe_bracs.length; i++) {
            Path_svg.Path_sibe_bracs[i].style.strokeDashoffset = 700;
        }
        for (var i = 0; i < Path_svg.Path_inner_face.length; i++) {
            Path_svg.Path_inner_face[i].style.strokeDashoffset = 300;
        }
        for (var i = 0; i < Path_svg.Path_circle.length; i++) {
            Path_svg.Path_circle[i].style.strokeDasharray = 2;
        }
        for (var i = 0; i < Path_svg.Path_a_lot_of_lines.length; i++) {
            Path_svg.Path_a_lot_of_lines[i].style.strokeDashoffset = 10;
        }
    };
    const PathStrokeDashoffsetVisibility = function () {
        for (var i = 0; i < Path_svg.Path_sibe_bracs.length; i++) {
            Path_svg.Path_sibe_bracs[i].style.strokeDashoffset = 0;
        }
        for (var i = 0; i < Path_svg.Path_inner_face.length; i++) {
            Path_svg.Path_inner_face[i].style.strokeDashoffset = 0;
        }
        for (var i = 0; i < Path_svg.Path_circle.length; i++) {
            Path_svg.Path_circle[i].style.strokeDasharray = 130;
        }
        for (var i = 0; i < Path_svg.Path_a_lot_of_lines.length; i++) {
            Path_svg.Path_a_lot_of_lines[i].style.strokeDashoffset = 0;
        }
    };
    re_data_button.addEventListener('click', function () {
        button_re_data.name.style.display = "block";
        button_re_data.email.style.display = "block";
        button_re_data.face.style.display = "block";
        button_re_data.role.style.display = "block";
        button_re_data.tel.style.display = "block";
        button_re_data.text.style.display = "block";
        button_re_data.image.style.display = "block";

        re_data_button_cancel.style.zIndex = 3;

        PathStrokeDashoffsetNone();

    });
    re_data_button_cancel.addEventListener('click', function () {
        button_re_data.name.style.display = "none";
        button_re_data.email.style.display = "none";
        button_re_data.face.style.display = "none";
        button_re_data.role.style.display = "none";
        button_re_data.tel.style.display = "none";
        button_re_data.text.style.display = "none";
        button_re_data.image.style.display = "none";

        re_data_button_cancel.style.zIndex = 1;

        PathStrokeDashoffsetVisibility();

        input_hidden(input_data_container.name);
        input_hidden(input_data_container.email);
        input_hidden(input_data_container.face);
        input_hidden(input_data_container.role);
        input_hidden(input_data_container.tel);
        input_hidden(input_data_container.text);
        input_hidden(input_data_container.image);
    });

</script>
<script>
    window.addEventListener('load', function () {
        const buttons = {
            cancel: {
                name: document.querySelector('#input_name_cancel'),
                email: document.querySelector('#input_email_cancel'),
                face: document.querySelector('#input_face_cancel'),
                role: document.querySelector('#input_role_cancel'),
                tel: document.querySelector('#input_tel_cancel'),
                text: document.querySelector('#input_text_cancel'),
                image: document.querySelector('#input_image_cancel'),
                string: "Закрыть"
            },
            next: {
                name: document.querySelector('#input_name_next'),
                email: document.querySelector('#input_email_next'),
                face: document.querySelector('#input_face_next'),
                role: document.querySelector('#input_role_next'),
                tel: document.querySelector('#input_tel_next'),
                text: document.querySelector('#input_text_next'),
                image: document.querySelector('#input_image_next'),
                string: "Продолжить"
            }
        };

        const help_block = {
            container: document.querySelector('#help_block_mes'),
            message: document.querySelector('#help_block_text_message')
        };
        const d = {
            x: 100,
            y: 10
        };

        const help_block_visibility = function () {
            help_block.container.style.width = "160px";
        };
        const help_block_hidden = function () {
            help_block.container.style.width = "0px";
        };

        var Add_help_block_mes_to_element = function (element, message = " --- ", is_big = false) {
            const mes = message;
            element.addEventListener('mouseover', function (event) {
                help_block.container.style.height = (is_big) ? "48px" : "24px";
                help_block.message.textContent = mes;
                help_block_visibility();
            });
            element.addEventListener('mousemove', function () {
                help_block.container.style.top = (event.y + d.y) + "px";
                help_block.container.style.left = (event.x + d.x) + "px";
            });
            element.addEventListener('mouseout', function () {
                help_block_hidden();
            });
        };

        Add_help_block_mes_to_element(re_data_button, "Изменить");
        Add_help_block_mes_to_element(re_data_button_cancel, "Отмена");
        //
        Add_help_block_mes_to_element(button_re_data.name, "Новое имя");
        Add_help_block_mes_to_element(button_re_data.email, "Новая почта");
        Add_help_block_mes_to_element(button_re_data.role, "Ваша роль");
        Add_help_block_mes_to_element(button_re_data.face, "Новая фраза");
        Add_help_block_mes_to_element(button_re_data.image, "Новая фотография", true);
        Add_help_block_mes_to_element(button_re_data.tel, "Новый номер телефона", true);
        Add_help_block_mes_to_element(button_re_data.text, "Изменить описание", true);
        //
        Add_help_block_mes_to_element(buttons.cancel.name, buttons.cancel.string);
        Add_help_block_mes_to_element(buttons.cancel.email, buttons.cancel.string);
        Add_help_block_mes_to_element(buttons.cancel.face, buttons.cancel.string);
        Add_help_block_mes_to_element(buttons.cancel.role, buttons.cancel.string);
        Add_help_block_mes_to_element(buttons.cancel.tel, buttons.cancel.string);
        Add_help_block_mes_to_element(buttons.cancel.text, buttons.cancel.string);
        Add_help_block_mes_to_element(buttons.cancel.image, buttons.cancel.string);
        //
        Add_help_block_mes_to_element(buttons.next.name, buttons.next.string);
        Add_help_block_mes_to_element(buttons.next.email, buttons.next.string);
        Add_help_block_mes_to_element(buttons.next.face, buttons.next.string);
        Add_help_block_mes_to_element(buttons.next.role, buttons.next.string);
        Add_help_block_mes_to_element(buttons.next.tel, buttons.next.string);
        Add_help_block_mes_to_element(buttons.next.text, buttons.next.string);
        Add_help_block_mes_to_element(buttons.next.image, buttons.next.string);
        //---------------------------------------------------------------------

        buttons.cancel.name.addEventListener('click', function () {
            input_hidden(input_data_container.name);
        });
        buttons.cancel.email.addEventListener('click', function () {
            input_hidden(input_data_container.email);
        });
        buttons.cancel.face.addEventListener('click', function () {
            input_hidden(input_data_container.face);
        });
        buttons.cancel.role.addEventListener('click', function () {
            input_hidden(input_data_container.role);
        });
        buttons.cancel.tel.addEventListener('click', function () {
            input_hidden(input_data_container.tel);
        });
        buttons.cancel.text.addEventListener('click', function () {
            input_hidden(input_data_container.text);
        });
        buttons.cancel.image.addEventListener('click', function () {
            input_hidden(input_data_container.image);
        });
        //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\ --- <<<< ---
        //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\ --- <<<< ---
        buttons.next.name.addEventListener('click', function () {
            input_hidden(input_data_container.name);
            system_elements_node_text_name.textContent = input_data_container.input.name.value;
        });
        buttons.next.email.addEventListener('click', function () {
            input_hidden(input_data_container.email);
            system_elements_node_text_email.textContent = input_data_container.input.email.value;
        });
        buttons.next.face.addEventListener('click', function () {
            input_hidden(input_data_container.face);
            system_elements_node_text_phrase.textContent = input_data_container.input.face.value;
        });
        buttons.next.role.addEventListener('click', function () {
            input_hidden(input_data_container.role);
            system_elements_node_text_role.textContent = input_data_container.input.role.value;
        });
        buttons.next.tel.addEventListener('click', function () {
            input_hidden(input_data_container.tel);
            system_elements_node_text_tel.textContent = input_data_container.input.tel.value;
        });
        buttons.next.text.addEventListener('click', function () {
            input_hidden(input_data_container.text);
            system_elements_node_text_ins.textContent = input_data_container.input.text.value;
        });
        buttons.next.image.addEventListener('click', function () {
            input_hidden(input_data_container.image);
        });
    });

</script>
<script>
    const input_data_container = {
        name: document.querySelector('#conteiners_input_new_data_name'),
        email: document.querySelector('#conteiners_input_new_data_email'),
        face: document.querySelector('#conteiners_input_new_data_face'),
        role: document.querySelector('#conteiners_input_new_data_role'),
        tel: document.querySelector('#conteiners_input_new_data_tel'),
        text: document.querySelector('#conteiners_input_new_data_text'),
        image: document.querySelector('#conteiners_input_new_data_image'),
        input: {
            image: document.querySelector('#input_file_image_data'),
            name: document.querySelector('#input_name_data'),
            email: document.querySelector('#input_email_data'),
            face: document.querySelector('#input_face_data'),
            role: document.querySelector('#input_role_data'),
            tel: document.querySelector('#input_tel_data'),
            text: document.querySelector('#input_text_data')
        }
    };

    const input_visibility = function (element) {
        element.style.opacity = 1;
        element.style.zIndex = 10;
    };
    const input_hidden = function (element) {
        element.style.opacity = 0;
        element.style.zIndex = -1;
    }

    button_re_data.name.addEventListener('click', function () {
        input_visibility(input_data_container.name);
        input_data_container.input.name.value = system_elements_node_text_name.textContent;
    });
    button_re_data.email.addEventListener('click', function () {
        input_visibility(input_data_container.email);
        input_data_container.input.email.value = system_elements_node_text_email.textContent;
    });
    button_re_data.face.addEventListener('click', function () {
        input_visibility(input_data_container.face);
        input_data_container.input.face.value = system_elements_node_text_phrase.textContent;
    });
    button_re_data.role.addEventListener('click', function () {
        input_visibility(input_data_container.role);
        input_data_container.input.role.value = system_elements_node_text_role.textContent;
    });
    button_re_data.tel.addEventListener('click', function () {
        input_visibility(input_data_container.tel);
        input_data_container.input.tel.value = system_elements_node_text_tel.textContent;
    });
    button_re_data.text.addEventListener('click', function () {
        input_visibility(input_data_container.text);
        input_data_container.input.text.value = system_elements_node_text_ins.textContent;
    });
    button_re_data.image.addEventListener('click', function () {
        input_visibility(input_data_container.image);
    });


</script>

<script>

    var onSuccess = function (context) {
        $("p#answer").html(context.value);
    };

    document.querySelector("#input_image_next").addEventListener("click", uploadFiles);

    function uploadFiles() {
        var input = document.querySelector("#input_file_image_data");
        var files = input.files;
        var email = document.querySelector("#system_elements_node_text_email").innerHTML;

        var formdata = new FormData();
        formdata.append("image", files[0]);
        alert(email);
        $.ajax(
            {
                url: "/AddImage",
                data:
                {
                    email: email,
                    image: formdata
                },
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    if (data.result == "redirect") {
                        window.location = data.value;
                    }
                    else if (data.result == "error") {
                        $("p#answer").html(data.value);
                        $("p#answer").css("color", "red");
                    }
                    else {
                        $("p#answer").html(data.value);
                        $("p#answer").css("color", "green");
                    }
                }
            }
        );
    }

    $("#button").click(function () {
        var name = document.querySelector("#system_elements_node_text_name").textContent;
        var role = document.querySelector("#system_elements_node_text_role").textContent;
        var email = document.querySelector("#system_elements_node_text_email").textContent;
        var description = document.querySelector("#system_elements_node_text_ins").textContent;
        var phrase = document.querySelector("#system_elements_node_text_phrase").textContent;
        var phonenumber = document.querySelector("#system_elements_node_text_tel").textContent;

        var tempdata = {
            Name: name,
            Role: role,
            Email: email,
            Description: description,
            Phrase: phrase,
            PhoneNumber: phonenumber
        };

        $.ajax(
            {
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "Confirm",
                type: "POST",
                data: JSON.stringify(tempdata),
                success: function (data) {
                    if (data.result == "redirect") {
                        window.location = data.value;
                    }
                    else if (data.result == "error") {
                        $("p#answer").html(data.value);
                        $("p#answer").css("color", "red");
                    }
                    else {
                        $("p#answer").html(data.value);
                        $("p#answer").css("color", "green");
                    }
                }
            });
    });
</script>