﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <title>CITG</title>
    <link href="~/Content/AnimBoxCSS.css" rel="stylesheet" />
    <link href="~/Content/MainCSS.css" rel="stylesheet" />
</head>
<body>
    <div id="conteiner-preloader">
        <div class="first-element-preloader elements-preloaders"></div>
        <div class="second-element-preloader elements-preloaders"></div>
        <div class="third-element-preloader elements-preloaders"></div>
    </div>
    <div class="dark-line"></div>
    <nav class="fixed-header-multy-page">
        <img class="PA" id="fixed-header-multy-page-button-image-SandFox-href-this" src="~/Content/image/LogoLine.svg" />

        <h4 id="fixed-header-multy-page-button-started" class="PA">Главная</h4>
        <h4 id="fixed-header-multy-page-button-project" class="PA">Наши проекты</h4>
        <h4 id="fixed-header-multy-page-button-info-we" class="PA">О нас</h4>
        <h4 id="fixed-header-multy-page-button-contect" class="PA">Контакты</h4>

        <img class="PA" id="fixed-header-multy-page-button-image-contect-goto-contect" src="~/Content/image/icons8-контакты-96.png" />
        <div id="orange-block" class="orange-block-started"></div>
    </nav>

    <div class="full-contend">

        @RenderBody()

        <div class="footer">
            <p class="p-footer-00">контактная информация</p>
            <p class="p-footer-01">&#8250 test@test.com</p>
            <p class="p-footer-02">&#8250 8(xxx) xxx xx xx</p>
            <p class="p-footer-03">&#8250 ул. Пушкина д. Колотушкина</p>
            <p class="p-footer-04">Основные ссылки</p>
            <p class="p-footer-05">&#8250 главная</p>
            <p class="p-footer-06">&#8250 наши поекты</p>
            <p class="p-footer-07">&#8250 наши услуги</p>
            <p class="p-footer-08">&#8250 контакты</p>
            <p class="p-footer-09">Наши проекты</p>
            <p class="p-footer-10">&#8250 РосНано</p>
            <p class="p-footer-11">&#8250 Сколково</p>
            <p class="p-footer-12">&#8250 Проект "Восток"</p>
            <p class="p-footer-13">&#8250 ТЭЦ Калининграда</p>
            <p class="p-footer-14">Социальные сети</p>
            <p class="p-footer-15">&#8250 Instagram</p>
            <p class="p-footer-16">&#8250 Facebook</p>
            <p class="p-footer-17">&#8250 Twitter</p>
            <p class="p-footer-18">&#8250 YouTube</p>
        </div>

        <div class="dark-line"></div>

    </div>
    <script src="~/Scripts/frontscripts/AnimBoxJS.js"></script>
    <script src="~/Scripts/frontscripts/MainJS.js"></script>
</body>
</html>
