﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <base target="_blank" />
    <title>CITG</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
            width: 100%;
            min-width: 290px;
            overflow-x: hidden;
        }

        body {
            color: #ffffff;
            margin: 0;
            padding: 0;
            background-color: #d4d4d4;
            font-family: 'Montserrat', arial;
        }

        ::-webkit-scrollbar {
            background: rgba(0,0,0,0);
            width: 0px;
            height: 0px;
            visibility: hidden;
        }

        ::-webkit-scrollbar-button {
            width: 0;
            height: 0;
        }

        ::-webkit-scrollbar-thumb {
            background: rgba(242,153,74,0.95);
            border-radius: 3px;
        }
    </style>
</head>
<body>
    <div id="conteiner-preloader">
        <div class="first-element-preloader elements-preloaders"></div>
        <div class="second-element-preloader elements-preloaders"></div>
        <div class="third-element-preloader elements-preloaders"></div>
    </div>

    <ul class="menu">
        <li class="brand">
            <h3 id="logo-mainpage">CITG</h3>
        </li>

        <li>
            <p id="mainpage" class="active">Главная</p>
        </li>

        <li>
            <p id="projects">Наши проекты</p>
        </li>

        <li>
            <p id="about">О нас</p>
        </li>

        <li class="contacts">
            <p id="contacts">Контакты</p>
        </li>
    </ul>

    <div class="full-contend">

        <div id="content">
            @RenderBody()
        </div>

        <div class="footer-container">
            <div class="double-footer">
                <div class="footer-nav">
                    <ul>
                        <li><p id="nav-mainpage">Главная</p></li>
                        <li><p id="nav-projects">Наши проекты</p></li>
                        <li><p id="nav-about">О нас</p></li>
                        <li><p id="nav-contacts">Контакты</p></li>
                    </ul>
                </div>

                <div class="footer-contacts">
                    <ul>
                        <li><p>8(999) 999-99-99</p></li>
                        <li><p>г. Ростов-на-Дону</p></li>
                        <li><p>CenterIT@gmail.com</p></li>

                    </ul>
                </div>
            </div>
            <div class="single-footer">
                <h5>Мы в социальных сетях</h5>
                <br />

                <a href="https://vk.com/sandfox.team" title="Вконтакте">
                    <img src="~/image/vk.png" />
                </a>

                <a href="https://www.instagram.com/sandfox.team/" title="Instagram">
                    <img src="~/image/instagram.png" />
                </a>

                <a href="https://www.youtube.com/channel/UC97eKw7OTTRO3KTgzFqgbFQ/" title="YouTube">
                    <img src="~/image/youtube.png" />
                </a>
            </div>
        </div>


        <div class="dark-line"></div>
    </div>

    <div class="scroll" id="scroll">Наверх</div>

    <style>
        section.section {
            display: block;
            width: 100%;
            height: 102.4vh;
            padding: 2.4vh 0 0 0;
        }

        div.footer-container {
            padding-top: 2vh;
            display: flex;
            color: #aaa;
            min-height: 10vw;
            background-color: #333;
        }

        div.single-footer {
            text-align: center;
            width: 20%;
        }

        div.double-footer {
            float: left;
            text-align: center;
            width: 70%;
        }

        div.finaly-block {
            color: #aaa;
            height: 5vw;
            background-color: #f2994a;
        }

        div.single-footer > h5 {
            padding: 2vh 0 0 0;
            margin: 0;
        }

        div.single-footer > a {
            margin: 0 1vw;
            text-decoration: none;
        }

            div.single-footer > a > img {
                width: 2vw;
                max-width: 100px;
            }

                div.single-footer > a > img:hover {
                    filter: drop-shadow(0 0 2px #fff);
                }

        div.footer-nav {
            text-align: center;
            padding: 0.4vw 0;
        }

            div.footer-nav > ul {
                list-style: none;
                padding-left: 0;
            }

                div.footer-nav > ul > li {
                    display: inline-block;
                    padding: 0;
                    margin: 0 2vw;
                    font-size: 1vw;
                }

                    div.footer-nav > ul > li > p {
                        padding: 2vh 1vw 0 1vw;
                        margin: 0;
                    }

        div.footer-contacts > ul {
            list-style: none;
            padding-left: 0;
        }

            div.footer-contacts > ul > li {
                display: inline-block;
                padding: 0;
                margin: 0 1vw;
                font-size: 1vw;
            }

                div.footer-contacts > ul > li > p {
                    padding: 0 2vw;
                    margin: 0;
                }

        div.footer-nav > ul > li > p:hover {
            cursor: pointer;
            color: #fff;
        }

        div.finaly-block {
            color: #333;
            text-align: center;
            padding-top: 4vh;
        }

        /*scroll*/
        div.scroll {
            position: fixed;
            bottom: 20px;
            right: 3vw;
            color: #333;
            padding: 1vw;
            width: 6vw;
            font-size: 1vw;
            text-align: center;
            border: 1px solid #aaaaaa66;
            border-radius: 5px;
            background-color: #d3d3d366;
            z-index: 9;
            display: none;
        }

            div.scroll:hover {
                cursor: pointer;
                background-color: #cccccc66;
            }

        /* cyrillic-ext */
        @@font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
        }
        /* cyrillic */
        @@font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }
        /* vietnamese */
        @@font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
            unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
        }
        /* latin-ext */
        @@font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @@font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        a.link {
            text-decoration: none;
            color: #333;
        }

        ul.menu {
            margin-block-start: 0;
            list-style-type: none;
            margin-right: 6px;
            padding: 0;
            overflow: hidden;
            background-color: #333333AA;
            position: fixed;
            top: 0;
            z-index: 11;
            width: 100%;
        }

            ul.menu > li:hover {
                cursor: pointer;
            }

            ul.menu > li > p {
                content: '';
                transition: transform .5s ease;
                float: left;
                padding-left: 1vw;
                padding-right: 1vw;
            }



            ul.menu > li.brand {
                float: left;
                padding-left: 1vw;
                padding-right: 2vw;
            }

                ul.menu > li.brand :hover {
                    color: #f2994a;
                }

            ul.menu > li.contacts {
                float: right;
                padding-left: 2vw;
                padding-right: 1vw;
            }

            ul.menu > li > h3 {
                font-size: 1.8vw;
                padding: 0.5vw;
                margin: 0px;
            }

            ul.menu > li > p {
                display: block;
                font-size: 0.9vw;
                padding: 1vw;
                margin: 0px;
            }

                ul.menu > li > p:hover {
                    color: #f2994a;
                }

                ul.menu > li > p.active {
                    color: #f2994a;
                    border-bottom: 2px solid #f2994a;
                }

        .padding {
            padding-top: 200px;
            padding-bottom: 200px;
        }

        /*.p-footer-00, .p-footer-01, .p-footer-02, .p-footer-03, .p-footer-04, .p-footer-05, .p-footer-06, .p-footer-07, .p-footer-08, .p-footer-09, .p-footer-10, .p-footer-11, .p-footer-12, .p-footer-13, .p-footer-14, .p-footer-15, .p-footer-16, .p-footer-17, .p-footer-18 {
            position: absolute;
            font-size: 1vw;
            color: #7c7c7c;
            text-align: left;
        }

        .p-footer-00 {
            top: 17%;
            left: 17%;
        }

        .p-footer-01 {
            top: 30%;
            left: 17%;
        }

        .p-footer-02 {
            top: 40%;
            left: 17%;
        }

        .p-footer-03 {
            top: 50%;
            left: 17%;
        }

        .p-footer-04 {
            top: 17%;
            left: 34%;
        }

        .p-footer-05 {
            top: 30%;
            left: 34%;
        }

        .p-footer-06 {
            top: 40%;
            left: 34%;
        }

        .p-footer-07 {
            top: 50%;
            left: 34%;
        }

        .p-footer-08 {
            top: 60%;
            left: 34%;
        }

        .p-footer-09 {
            top: 17%;
            left: 51%;
        }

        .p-footer-10 {
            top: 30%;
            left: 51%;
        }

        .p-footer-11 {
            top: 40%;
            left: 51%;
        }

        .p-footer-12 {
            top: 50%;
            left: 51%;
        }

        .p-footer-13 {
            top: 60%;
            left: 51%;
        }

        .p-footer-14 {
            top: 17%;
            left: 68%;
        }

        .p-footer-15 {
            top: 30%;
            left: 68%;
        }

        .p-footer-16 {
            top: 40%;
            left: 68%;
        }

        .p-footer-17 {
            top: 50%;
            left: 68%;
        }

        .p-footer-18 {
            top: 60%;
            left: 68%;
        }*/

    </style>

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/frontscripts/AnimBoxJS.js"></script>
    <script src="~/js/frontscripts/MainJS.js"></script>
    <script>
        $("#nav-mainpage").click(function () {
            window.history.pushState(null, null, "/");
            $("#content").html("");
            ajaxlinkto("/Home/Index");
            removeclass();
            $("#mainpage").addClass("active");
        });

        $("#nav-projects").click(function () {
            window.history.pushState(null, null, "/Home/Projects");
            $("#content").html("");
            ajaxlinkto("/Home/Projects");
            removeclass();
            $("#projects").addClass("active");
        });

        $("#nav-about").click(function () {
            window.history.pushState(null, null, "/Home/About");
            $("#content").html("");
            ajaxlinkto("/Home/About");
            removeclass();
            $("#about").addClass("active");
        });

        $("#nav-contact").click(function () {
            window.history.pushState(null, null, "/Home/Contacts");
            $("#content").html("");
            ajaxlinkto("/Home/Contacts");
            removeclass();
            $("#contacts").addClass("active");
        });

    </script>
</body>
</html>
